<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/board/frequncy_request_mng.css">
</th:block>

<th:block layout:fragment="adminContent">
	<div class="row">
		<div class="col">
			<h3 class="menuTitle">
				자주 묻는 문의 관리
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="row" style="justify-content: center; align-items: center;">
				<div class="offset-10 col-2">
					<input th:onclick="regFreqReqJs([[${#authentication.name}]], [[${typeRequestList}]])" type="button" class="btn btn-yellow-reverse w-100" value="글 등록하기">
				</div>
			</div>
		</div>
	</div>
	
	<div class="row mb-3 typeRequest-con">
		<span class="smallRed">* 각 게시글의 유형이름을 클릭 시 해당 글의 내용을 볼 수 있습니다.</span>
		<div class="col-lg-2 col-sm-3 typeRequest-div">
			<span th:onclick="searchTypeRequest(0)" style="cursor: pointer;">전체</span>
		</div>
		<div class="col-lg-2 col-sm-3 typeRequest-div" th:each="typeRequest : ${typeRequestList}" th:onclick="searchTypeRequest([[${typeRequest.typeRequestCode}]])" style="cursor: pointer;">
			<span>[[${typeRequest.typeRequestName}]]</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col" id="fre_table_div">
			<table class="table table-hover">
				<colgroup>
					<col width="7%">
					<col width="15%">
					<col width="*">
					<col width="15%">
				</colgroup>
				<thead>
					<tr class="align-middle">
						<td>
							<input type="checkbox" class="chkAll form-check-input" onclick="chkAll()">
						</td>
						<td>No.</td>
						<td>title</td>
						<td>
							<input class="btn btn-red w-100" type="button" value="선택 삭제" onclick="delFreqReq('', 0)">
						</td>
					</tr>
				</thead>
				<tbody id="req-table-tbody">
					<th:block th:if="${getFreqRequestList.size == 0}">
						<tr>
							<td></td>
							<td colspan="3">등록하신 글 목록이 없습니다.</td>
						</tr>
					</th:block>
					<th:block th:unless="${getFreqRequestList.size == 0}">
						<th:block th:each="freqRequest : ${getFreqRequestList}">
							<tr class="align-middle">
								<td>
									<input type="checkbox" class="chk form-check-input" th:value="${freqRequest.freqRequestCode}" onclick="chks()">
								</td>
								<td>
									<span class="showAnswer" style="cursor: pointer;" onclick="showAnswer(this);">[[${freqRequest.typeRequestVO.typeRequestName}]]</span>
								</td>
								<td>[[${freqRequest.freqRequestTitle}]]</td>
								<td>
									<input class="btn btn-red w-100" type="button" value="삭제 하기" th:onclick="delFreqReq([[${freqRequest.freqRequestCode}]], 0)">
								</td>
							</tr>
							<tr class="align-middle hide">
								<td></td>
								<td>A.</td>
								<td>[[${freqRequest.freqRequestContent}]]</td>
								<td>
									<input th:onclick="updateQnAjs([[${freqRequest.freqRequestCode}]], this, 0);" type="button" class="btn btn-gray w-100" value="수정 하기">
								</td>
							</tr>
						</th:block>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/board/frequncy_request_mng.js"></script>
</th:block>


</html>

