<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/board/notice_manage.css">
</th:block>

<th:block layout:fragment="adminContent">
	<div class="row mb-3">
		<div class="col">
			<div class="row mb-3">
				<div class="offset-10 col-2">
					<input onclick="location.href='/admin/regNoticeForm'" class="btn btn-yellow-reverse w-100" type="button" value="공지글 등록">
				</div>
			</div>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			<table class="table table-hover text-center notice_table">
				<colgroup>
					<col width="15%">
					<col width="">
					<col width="20%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<thead class="ye-bc">
					<tr>
						<td>공지글번호</td>
						<td>제목</td>
						<td>공지일자</td>
						<td>조회수</td>
						<td>작성자 ID</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${noticeList.size() == 0}">
						<tr>
							<td colspan="6">
								<span>등록된 공지글이 없습니다.</span>
							</td>
						</tr>
					</th:block>
					<th:block th:unless="${noticeList.size() == 0}">
						<tr th:each="notice, state : ${noticeList}" th:onclick="getNoticeDetail([[${notice.hbtBoardNum}]]);" style="cursor: pointer;">
							<td>[[${noticeList.size() - state.index}]]</td>
							<td>
								<span>[[${notice.hbtBoardTitle}]]</span>
							</td>
							<td>[[${notice.hbtBoardRegDate}]]</td>
							<td>[[${notice.hbtBoardCnt}]]</td>
							<td>[[${notice.memberVO.memId}]]</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	
	
	
	
	
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/board/notice_manage.js"></script>
</th:block>


</html>

