@charset "UTF-8";


.bi-exclamation-triangle{
	align-content: center;
	font-size: 8rem;
	color: red;
}

.bi-col{
	margin-top: 10rem;
	
}

.title{
	font-size: 2rem;
	text-align: center;
	letter-spacing: -2px;
    padding-bottom: 1rem;
    padding-left: 8px;
}

.content{
	font-size: 1.2rem;
	text-align: center;
	letter-spacing: -1px;
    padding-bottom: 1rem;
    padding-left: 8px;
	
}





