<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/index/index_bar.css">
</th:block>


<th:block layout:fragment="adminContent">
	<div class="row">
		<div class="col">
			<div class="row mt-5 mb-5">
				<div class="col-4">
					<table id="toDo1">
					  <tbody>
					    <tr>
					      <td>
					      	<span class="tdTitle">신규 예약</span> <span class="tdTitle">DIV 예약</span>
					      	<div>
					      		<span class="tdCnt" th:text="${toDo['COMPLTE_PAYMENT']}" onclick="goReserv();"></span> <span class="tdCnt" th:text="${toDo['DIY_COMPLTE_PAYMENT']}" onclick="goDiyReserv();"></span>
					      	</div>
					      </td>
					      <td>
					     	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
							  <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Z"/>
							</svg>
					      </td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="col-4">
					<table id="toDo2">
					  <tbody>
					    <tr>
					      <td>
					      	<span class="tdTitle">취소 요청</span> <span class="tdTitle">DIV 취소</span>
					      	<div>
					      		<span class="tdCnt" th:text="${toDo['CANCLE_REQUSET']}" onclick="goCancle();"></span> <span class="tdCnt" th:text="${toDo['DIY_CANCLE_REQUSET']}" onclick="goDiyCancle();"></span>
					      	</div>
					      </td>
					      <td>
					      	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-calendar-x-fill" viewBox="0 0 16 16">
							  <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zM6.854 8.146 8 9.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 10l1.147 1.146a.5.5 0 0 1-.708.708L8 10.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 10 6.146 8.854a.5.5 0 1 1 .708-.708z"/>
							</svg>
					      </td>
					    </tr>
					  </tbody>
					</table>
				</div>
				<div class="col-4">
					<table onclick="location.href='/admin/requestManage'" id="toDo3">
					  <tbody>
					    <tr>
					      <td>
					      	<span class="tdTitle">1:1 문의</span>
					      	<div class="tdCnt" th:text="${toDo['NO_ANSWER']}"></div>
					      </td>
					      <td>
					      	<svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chat-left-text-fill" viewBox="0 0 16 16">
							  <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm3.5 1a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h9a.5.5 0 0 0 0-1h-9zm0 2.5a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5z"/>
							</svg>
					      </td>
					    </tr>
					  </tbody>
					</table>
				</div>
			</div>
			<div class="row mt-5 mb-5">
				<div class="col">
					<div class="row">
						<div class="col">
							<canvas id="reviewChart"></canvas>
						</div>
						<div class="col">
							<H6 class="reviewH6">긍정 TOP5</H6>
							<table class="table posTable">
								<thead>
									<tr>
										<td>순위</td>
										<td>단어</td>
										<td>횟수</td>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>

						</div>
						<div class="col">
							<H6 class="reviewH6">부정 TOP5</H6>
							<table class="table nagTable">
								<thead>
								<tr>
									<td>순위</td>
									<td>단어</td>
									<td>횟수</td>
								</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
						<div class="col">
							<H6 class="reviewH6">리뷰 분석</H6>
							<table class="table dataTable">
								<thead>
									<tr>
										<td colspan="2">상세 내용</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td colspan="2">
											<input type="button" class="btn updateBtn" onclick="updateReviewData();" value="UPDATE">
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="row" style="margin-top:3rem; margin-bottom: 2rem;">
		<div class="col">
			
			<div class="row mb-2">
				<div class="col-4">
					<h6 class="reviewH6">테마별 통계</h6>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row mb-3">
						<div class="col-2">
							<select onchange="chkMainSelect(this);" class="main_select form-control">
								<option value="member" selected>회원</option>
								<option value="board">게시글</option>
								<option value="request">문의</option>
							</select>
						</div>
						<div class="col-4">
							<select class="sub_select form-control">
								<option value="M/F" selected>전체 이용자 중 남/여 비율</option>
								<option value="insited">전체 이용자 중 이용률 ( 이용, 휴면, 탈퇴 )</option>
							</select>
						</div>
						<div class="col"></div>
						<div class="col-2">
							<input onclick="getChartStatisticsAJAX();" type="button" class="btn btn-yellow-reverse w-100" value="보기">
						</div>
					</div>
					
					<div class="row statistics_area">
					
						<div class="col-5 data_area">
						</div>
						<div class="col-7 chart_area">
							<div>
								<canvas id="pieChart_statistics"></canvas>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			
			
		</div>
	</div>


</th:block>
<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/emn178/chartjs-plugin-labels/src/chartjs-plugin-labels.js"></script>
	<script type="text/javascript" src="/js/content/admin/index/index_bar.js"></script>
</th:block>


</html>