@charset "UTF-8";


.detail_table > tbody > tr > td{
	border: 1px solid #eee;
}

.detail_table > tbody > tr:nth-child(3) > td:nth-child(2) {
	text-align: left;
	padding-left: 7rem;
}

.reply_div {
	margin-bottom: 0.5rem;
	border: 1px solid #eee;
}


