<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
	<resultMap type="com.project.team.admin.vo.AreaVO" id="area">
		<id 	column="AREA_CODE" 		property="areaCode"/>
		<result column="AREA_ENG_NAME" 	property="areaEngName"/>
		<result column="AREA_KOR_NAME" 	property="areaKorName"/>
	</resultMap>
	
		
	<!-- 카테고리 관리 페이지 - 여행국가 카테고리 등록 -->
	<insert id="regArea">
		INSERT INTO HBT_TOUR_AREA (
			AREA_CODE
			, AREA_ENG_NAME
			, AREA_KOR_NAME
		) VALUES (
			#{areaCode}
			, #{areaEngName}
			, #{areaKorName}
		)
	</insert>
	
	<!-- 여행국가 카테고리 조회 -->
	<select id="getAreaCateList" resultMap="area">
		SELECT AREA_CODE
			, AREA_ENG_NAME
			, AREA_KOR_NAME
		FROM HBT_TOUR_AREA
		ORDER BY AREA_KOR_NAME
	</select>
	
	<!-- 여행국가 카테고리 삭제-->
	<delete id="deleteAreaCate">
		DELETE HBT_TOUR_AREA
		WHERE AREA_CODE = #{areaCode}
	</delete>
	
	<!-- 상품(패키지 등록) -->
	<insert id="regItem">
		INSERT INTO HBT_ITEM (
			ITEM_CODE
			, ITEM_TITLE
			, ITEM_PRICE
			, AREA_CODE
			, SELLING_START
			, SELLING_END
			, IS_EXTRA_CHARGE
			, IS_PEAK
			, IS_BOMB_SALE
			, ITEM_INTRO
			, STATUS_CODE
		) VALUES (
			#{itemCode}
			, #{itemTitle}
			, #{itemPrice}
			, #{areaCode}
			, #{sellingStart}
			, #{sellingEnd}
			, #{isExtraCharge}
			, #{isPeak}
			, #{isBombSale}
			, #{itemIntro}
			, #{statusCode}
		)
	</insert>





	
	
	
	
	
	<!-- 심영홍  -->
	<select id="getBoardNoticeCode" resultType="String">
		SELECT 'B_NOTICE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HBT_BOARD_ADMIN_NUM, 10))), 0) + 1, 3, '0')
		FROM HBT_BOARD_ADMIN
	</select>
	
	
	<select id="getBoardNoticeList" resultMap="boardMapper.boardAdmin">
		SELECT HBT_BOARD_ADMIN_NUM
			, HBT_BOARD_ADMIN_TITLE
			, HBT_BOARD_ADMIN_REG_DATE
			, HBT_BOARD_ADMIN_LIKE
			, HBT_BOARD_ADMIN_CNT
			, (SELECT MEM_ID
				FROM HBT_MEM) MEM_ID
		FROM HBT_BOARD_ADMIN
	</select>
	
	
	
</mapper>

























