<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">
		
	<!-- 카테고리 관리 페이지 - 여행국가 카테고리 등록 -->
	<insert id="regArea">
		INSERT INTO HBT_TOUR_AREA (
			AREA_CODE
			, AREA_ENG_NAME
			, AREA_KOR_NAME
		) VALUES (
			#{areaCode}
			, #{areaEngName}
			, #{areaKorName}
		)
	</insert>
	
	<!-- 여행 국가 카테고리 조회 -->
	<select id="getAreaCateList" resultMap="itemMapper.tourArea">
		SELECT AREA_CODE
			, AREA_ENG_NAME
			, AREA_KOR_NAME
			, IS_USE
		FROM HBT_TOUR_AREA
		ORDER BY AREA_KOR_NAME
	</select>
	
	<!-- 여행 국가 카테고리 사용여부 변경 (정현 추가) -->
	<update id="changeAreaIsUse">
		UPDATE HBT_TOUR_AREA 
		SET
			IS_USE = DECODE(IS_USE, 'Y', 'N', 'N', 'Y')
		WHERE AREA_CODE = #{areaCode}
	</update>
		
	
	<!-- 여행 국가 카테고리 삭제-->
	<delete id="deleteAreaCate">
		DELETE HBT_TOUR_AREA
		WHERE AREA_CODE = #{areaCode}
	</delete>
	
	<!-- 상품(패키지) 등록 -->
	<insert id="regItem">
		INSERT INTO HBT_ITEM (
			ITEM_CODE
			, ITEM_TITLE
			, ITEM_PRICE
			, AREA_CODE
			, SELLING_START
			, SELLING_END
			, IS_EXTRA_CHARGE
			, IS_PEAK
			, IS_BOMB_SALE
			, ITEM_INTRO
			, STATUS_CODE
			, TRAVER_PERIOD
		) VALUES (
			#{itemCode}
			, #{itemTitle}
			, #{itemPrice}
			, #{areaCode}
			, #{sellingStart}
			, #{sellingEnd}
			, #{isExtraCharge}
			, #{isPeak}
			, #{isBombSale}
			, #{itemIntro}
			, #{statusCode}
			, #{traverPeriod}
		)
	</insert>
	
	<!-- 다음 상품 코드 조회 -->
	<select id="getNextItemCode" resultType="String">
		SELECT 'ITEM_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_CODE, 6))), 0) + 1, 3, '0') 
        FROM HBT_ITEM
	</select>
	
	<!-- 상품 이미지 등록 -->
	<insert id="regImgs">
		INSERT INTO HBT_ITEM_IMG (
			ITEM_IMG_CODE
			, ITEM_CODE
			, ITEM_IMG_ORIGIN_NAME
			, ITEM_IMG_ATTACHED_NAME
			, IS_MAIN
		)								<!-- imgVO -->
		<foreach collection="imgList" item="img" separator="UNION ALL" index="i">
			SELECT (SELECT 'ITEM_IMG_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(ITEM_IMG_CODE, 10))), 0) + 1 + #{i}, 3, '0') 
	      			FROM HBT_ITEM_IMG)   <!-- db에 IMG_002까지 있다면 이미지 insert 시 003, 그러나 한번에 여러개 첨부 하면 003으로 중복 됨 -->
				, #{itemCode}
				, #{img.itemImgOriginName}		<!-- db IMG_CODE 최대값 + 1 값에 또 첨부 수만큼 +1씩 증가해야 함 for문의 index 활용하여 i값 더해줌 -->
				, #{img.itemImgAttachedName}
				, #{img.isMain}
			FROM DUAL
		</foreach>
	</insert>
	
	<!-- 판매 상품 조회 -->
	<select id="saleListForAdmin" resultMap="itemMapper.item">
		SELECT ITEM.ITEM_CODE
			, ITEM_TITLE
			, ITEM_PRICE
			, TRAVER_PERIOD
			, AREA.AREA_KOR_NAME
			, IMG.ITEM_IMG_ATTACHED_NAME
		FROM HBT_ITEM ITEM, HBT_ITEM_IMG IMG, HBT_TOUR_AREA AREA
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		AND ITEM.AREA_CODE = AREA.AREA_CODE
		AND IS_MAIN = 'Y'
	</select>
	
	<!-- 판매 상품 삭제-->
	<delete id="deleteItem">
		DELETE HBT_ITEM
		WHERE ITEM_CODE = #{itemCode}
	</delete>
	
	<!-- 판매 상품 선택 삭제 -->
	<delete id="deleteCheckItems">
		DELETE HBT_ITEM
		WHERE ITEM_CODE IN
		<foreach collection="itemCodeList" item="itemCode" separator="," open="(" close=")">
			#{itemCode}
		</foreach>
	</delete>
	
	<!-- 상품 이름 클릭 시 상품 상세 정보 -->
	<select id="getItemDetailForAdmin" resultMap="itemMapper.item">
		SELECT ITEM.ITEM_CODE
			, ITEM_TITLE
			, ITEM_PRICE
			, AREA_KOR_NAME
			, SELLING_START
			, SELLING_END
			, IS_EXTRA_CHARGE
			, IS_PEAK
			, IS_BOMB_SALE
			, ITEM_INTRO
			, STATUS_CODE
			, TRAVER_PERIOD
			, ITEM_IMG_CODE
			, ITEM_IMG_ORIGIN_NAME
			, ITEM_IMG_ATTACHED_NAME
			, IS_MAIN
		FROM HBT_ITEM ITEM, HBT_ITEM_IMG IMG, HBT_TOUR_AREA AREA
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		AND ITEM.AREA_CODE = AREA.AREA_CODE
		AND ITEM.ITEM_CODE = #{itemCode}
	</select>







	
	
	
	
	
	<!-- 심영홍  -->
	<select id="getBoardNoticeCode" resultType="String">
		SELECT 'B_NOTICE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HBT_BOARD_ADMIN_NUM, 10))), 0) + 1, 3, '0')
		FROM HBT_BOARD_ADMIN
	</select>
	
	
	<select id="getBoardNoticeList" resultMap="boardMapper.boardNotice">
		SELECT HBT_BOARD_ADMIN_NUM
			, HBT_BOARD_ADMIN_TITLE
			, HBT_BOARD_ADMIN_REG_DATE
			, HBT_BOARD_ADMIN_LIKE
			, HBT_BOARD_ADMIN_CNT
			, (SELECT MEM_ID
				FROM HBT_MEM) MEM_ID
		FROM HBT_BOARD_ADMIN
	</select>
	
	
	
</mapper>

























