<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="airlineMapper">
    <select id="getArea" resultType="string">
        SELECT DISTINCT
            AREA_NAME
        FROM AIRPORT_CODE
        ORDER BY AREA_NAME
    </select>
    
    <select id="getNationalNames" resultType="string">
        SELECT DISTINCT KOR_NATIONAL_NAME
        FROM AIRPORT_CODE
        WHERE AREA_NAME = #{areaName}
        ORDER BY KOR_NATIONAL_NAME
    </select>

    <select id="getAirportInfoAJAX" resultType="map">
        SELECT KOR_AIRPORT_NAME
                , AIRPORT_CODE
        FROM AIRPORT_CODE
        WHERE KOR_NATIONAL_NAME = #{nationalName}
        ORDER BY KOR_AIRPORT_NAME

    </select>


</mapper>
