<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="boardMapper">
	
	<resultMap type="com.project.team.board.vo.TypeRequestVO" id="typeRequest">
		<id 	column="TYPE_REQUEST_CODE" property="typeRequestCode"/>
		<result column="TYPE_REQUEST_NAME" property="typeRequestName"/>
	</resultMap>
	
	
	<resultMap type="com.project.team.board.vo.BoardNoticeVO" id="boardNotice">
		<id 	column="HBT_BOARD_NOTICE_NUM" 			property="hbtBoardNoticeNum"/>
		<result column="HBT_BOARD_NOTICE_TITLE" 		property="hbtBoardNoticeTitle"/>
		<result column="HBT_BOARD_NOTICE_CONTENT" 		property="hbtBoardNoticeContent"/>
		<result column="HBT_BOARD_NOTICE_REG_DATE" 		property="hbtBoardNoticeRegDate"/>
		<result column="HBT_BOARD_NOTICE_CNT" 			property="hbtBoardNoticeCnt"/>
		<association property="memberVO" 				resultMap="memberMapper.member"></association>
	</resultMap>
	
	<resultMap type="com.project.team.board.vo.BoardRequestVO" id="boardRequest">
		<id 	column="HBT_BOARD_REQUEST_NUM" 			property="hbtBoardRequestNum"/>
		<result column="HBT_BOARD_REQUEST_TITLE" 		property="hbtBoardRequestTitle"/>
		<result column="HBT_BOARD_REQUEST_CONTENT" 		property="hbtBoardRequestContent"/>
		<result column="HBT_BOARD_REQUEST_REG_DATE" 	property="hbtBoardRequestRegDate"/>
		<association property="typeRequestVO" 			resultMap="typeRequest"/>
		<association property="memberVO" 				resultMap="memberMapper.member"/>
	</resultMap>
	
	<resultMap type="com.project.team.board.vo.BoardSideMenuVO" id="boardSideMenu">
		<id 	column="BOARD_SIDE_MENU_CODE" property="boardSideMenuCode"/>
		<result column="BOARD_SIDE_MENU_NAME" property="boardSideMenuName"/>
		<result column="BOARD_SIDE_MENU_URL" property="boardSideMenuUrl"/>
	</resultMap>

	<resultMap type="com.project.team.board.vo.FreqRequestVO" id="freqRequest">
		<id 	column="FREQ_REQUEST_CODE" property="freqRequestCode"/>
		<result column="FREQ_REQUEST_TITLE" property="freqRequestTitle"/>
		<result column="FREQ_REQUEST_CONTENT" property="freqRequestContent"/>
		<association property="memberVO" resultMap="memberMapper.member"></association>
		<association property="typeRequestVO" resultMap="typeRequest"></association>
	</resultMap>
	
	
	<select id="getTypeRequestList" resultMap="typeRequest">
		SELECT TYPE_REQUEST_CODE
			, TYPE_REQUEST_NAME
		FROM TYPE_REQUEST
	</select>
	
	<select id="getBoardSideMenuList" resultMap="boardSideMenu">
		SELECT BOARD_SIDE_MENU_CODE
			, BOARD_SIDE_MENU_NAME
			, BOARD_SIDE_MENU_URL
		FROM BOARD_SIDE_MENU
	</select>
	
	<select id="getNextByFreqReqCode" resultType="String">
		SELECT 'FREQ_REQ_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(FREQ_REQUEST_CODE, 10))), 0) + 1, 3, '0') 
	    FROM HBT_FREQ_REQUEST
	</select>
	
	<select id="getBoardNoticeCode" resultType="String">
		SELECT 'B_NOTICE_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HBT_BOARD_NOTICE_NUM, 10))), 0) + 1, 3, '0')
		FROM HBT_BOARD_NOTICE
	</select>
	
	<select id="getFreqRequestList" resultMap="freqRequest">
		SELECT FREQ_REQUEST_CODE
			, FREQ_REQUEST_TITLE
			, FREQ_REQUEST_CONTENT
			, REQ.TYPE_REQUEST_CODE
			, TYPE_REQUEST_NAME
		FROM HBT_FREQ_REQUEST REQ, TYPE_REQUEST TYP
		WHERE REQ.TYPE_REQUEST_CODE = TYP.TYPE_REQUEST_CODE
		ORDER BY TYPE_REQUEST_CODE, FREQ_REQUEST_CODE DESC
	</select>
	
	<insert id="regBoardNotice">
		INSERT INTO HBT_BOARD_NOTICE (
		    HBT_BOARD_NOTICE_NUM
		    ,HBT_BOARD_NOTICE_TITLE
		    ,HBT_BOARD_NOTICE_CONTENT
		    ,MEM_CODE
		) VALUES (
		    #{hbtBoardNoticeNum}
		    , #{hbtBoardNoticeTitle}
		    , #{hbtBoardNoticeContent}
		    , #{memberVO.memCode}
		)
	</insert>
	
	<select id="getBoardNoticeList" resultMap="boardNotice">
		SELECT HBT_BOARD_NOTICE_NUM
		    , HBT_BOARD_NOTICE_TITLE
		    , HBT_BOARD_NOTICE_CONTENT
		    , HBT_BOARD_NOTICE_CNT
		    , TO_CHAR(HBT_BOARD_NOTICE_REG_DATE, 'YYYY-MM-DD') HBT_BOARD_NOTICE_REG_DATE
		    , MEM_CODE
		    , (SELECT MEM_ID FROM HBT_MEM WHERE MEM_CODE = HBT_BOARD_NOTICE.MEM_CODE) MEM_ID
		FROM HBT_BOARD_NOTICE
	</select>
	
	<select id="getBoardNoticeDetail" resultMap="boardNotice">
		SELECT HBT_BOARD_NOTICE_NUM
		    , HBT_BOARD_NOTICE_TITLE
		    , HBT_BOARD_NOTICE_CONTENT
		    , TO_CHAR(HBT_BOARD_NOTICE_REG_DATE, 'YYYY-MM-DD') HBT_BOARD_NOTICE_REG_DATE
		    , MEM_CODE
		    , (SELECT MEM_ID FROM HBT_MEM WHERE MEM_CODE = HBT_BOARD_NOTICE.MEM_CODE) MEM_ID
		FROM HBT_BOARD_NOTICE
		WHERE HBT_BOARD_NOTICE_NUM = #{hbtBoardNoticeNum}
	</select>
	
	<delete id="delNotice">
		DELETE FROM HBT_BOARD_NOTICE 
		WHERE HBT_BOARD_NOTICE_NUM = #{hbtBoardNoticeNum}
	</delete>
	
	<update id="updateBoardNotice">
		UPDATE HBT_BOARD_NOTICE
		SET HBT_BOARD_NOTICE_TITLE = #{hbtBoardNoticeTitle}, HBT_BOARD_NOTICE_CONTENT = #{hbtBoardNoticeTitle}
		WHERE HBT_BOARD_NOTICE_NUM = #{hbtBoardNoticeNum}
	</update>
	
</mapper>


























