<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="buyMapper">
	<resultMap type="com.project.team.buy.vo.BuyVO" id="buy">
		<id column="BUY_CODE" 					property="buyCode"/>
		<result column="MEM_CODE" 				property="memCode"/>
		<result column="BUY_STATUS_CODE" 		property="buyStatusCode"/>
		<result column="BUY_TOTAL_PRICE" 		property="buyTotalPrice"/>
		<result column="BUY_DATE" 				property="buyDate"/>
		<association property="buyStateVO"  	resultMap="buyState"></association>
		<association property="buyDetailVO" 	resultMap="buyDetail"></association>
		<association property="memberVO" 	resultMap="memberMapper.member"></association>
	</resultMap>
	
	<resultMap type="com.project.team.buy.vo.BuyDetailVO" id="buyDetail">
		<id column="BUY_D_CODE" 				property="buyDCode"/>
		<result column="ITEM_CODE" 				property="itemCode"/>
		<result column="BUY_CODE" 				property="buyCode"/>
		<result column="AREA_CODE" 				property="areaCode"/>
		<result column="DEPART_DATE" 			property="departDate"/>
		<result column="ARRIVE_DATE" 			property="arriveDate"/>
		<result column="RESERVED_PEOPLE_NUM"	property="reservedPeopleNum"/>
		<result column="BUY_D_PRICE" 			property="buyDPrice"/>
		<association property="itemVO" resultMap="itemMapper.item"></association>
	</resultMap>
	
	<resultMap type="com.project.team.buy.vo.BuyStateVO" id="buyState">
		<id column="BUY_STATUS_CODE" 			property="buyStatusCode"/>
		<result column="BUY_STATUS_NAME" 		property="buyStatusName"/>
		<result column="BUY_STATUS_COUNT" 		property="buyStatusCount"/>
	</resultMap>

	<resultMap type="com.project.team.cart.vo.CartVO" id="cart">
		<id column="CART_CODE" 					property="cartCode"/>
		<result column="REG_DATE" 				property="regDate"/>
		<result column="NUM_OF_PEOPLE" 			property="numOfPeople"/>
		<result column="CART_TOTAL_PRICE" 		property="cartTotalPrice"/>
		<association property="memberVO" 		resultMap="memberMapper.member"/>
		<association property="itemVO"	 		resultMap="itemMapper.item"/>
	</resultMap>
	
	<resultMap type="com.project.team.item.vo.DiyTourVO" id="diyTour">
		<id 	column="HBT_DIY_CODE" 			property="hbtDiyCode"/>
		<result column="MEM_CODE" 				property="memCode"/>
		<result column="HBT_AIRLINE_CODE" 		property="airlineCode"/>
		<result column="DEPART_DATE" 			property="departDate"/>
		<result column="ARRIVE_DATE" 			property="arriveDate"/>
		<result column="TOTAL_PRICE" 			property="totalPrice"/>
		<result column="TRAVER_PERIOD" 			property="traverPeriod"/>
		<result column="IS_PAID" 				property="isPaid"/>
		<result column="AREA_CODE" 				property="areaCode"/>
		<result column="DIY_TOUR_BUY_DATE" 		property="diyTourBuyDate"/>
		<result column="BUY_STATUS_CODE" 		property="buyStatusCode"/>
		<association property="memberVO" 		resultMap="memberMapper.member"> </association>
		<association property="tourAreaVO" 		resultMap="itemMapper.tourArea"> </association>
		<association property="airlineVO" 		resultMap="adminMapper.airline"> </association>
		<association property="buyStateVO" 		resultMap="buyState"> </association>
		<collection property="diyDetailList" 	resultMap="diyDetail"></collection>
		
	</resultMap>


	<resultMap type="com.project.team.item.vo.DiyDetailVO" id="diyDetail">
			<id 	column="HBT_DIY_DETAIL_CODE" 	property="hbtDiyDetailCode"/>
			<result column="HBT_DIY_DAY" 			property="hbtDiyDay"/>
			<result column="HBT_DIY_CODE" 			property="hbtDiyCode"/>
			<result column="HBT_HOTEL_CODE" 		property="hbtTourItemCode"/>
			<result column="HBT_TOUR_ITEM_CODE" 	property="hbtHotelCode"/>
			<collection property="tourItemList" 	resultMap="adminMapper.tourItem"></collection>
			<collection property="hotelList" 		resultMap="adminMapper.hotel"></collection>
	</resultMap>
	
	
	
	<select id="getNextItemCode" resultType="string">
		SELECT 'BUY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BUY_CODE, 5))), 0) + 1, 3, '0')
		FROM HBT_BUY
	</select>

	<insert id="setBuy">
		INSERT INTO HBT_BUY (
		                     BUY_CODE, MEM_CODE, BUY_STATUS_CODE, BUY_TOTAL_PRICE
		) VALUES (
		          #{buyCode}
		          , (SELECT MEM_CODE FROM HBT_MEM WHERE MEM_ID = #{memCode})
		          , 1
		          , ${buyTotalPrice}
				)
	</insert>

	<insert id="setBuyDetail">
		INSERT INTO HBT_BUY_DETAIL (
		            BUY_D_CODE
					, ITEM_CODE
					, BUY_CODE
					, AREA_CODE
					, DEPART_DATE
					, ARRIVE_DATE
					, RESERVED_PEOPLE_NUM
					, BUY_D_PRICE
		) VALUES (
		          (SELECT 'BUY_D_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BUY_D_CODE, 7))), 0) + 1, 3, '0')
				   FROM HBT_BUY_DETAIL)
				, #{itemCode}
				, #{buyCode}
				, #{areaCode}
				, #{departDate}
				, #{arriveDate}
				, #{reservedPeopleNum}
				, #{buyDPrice}
				 )
	</insert>
	

	<insert id="addCartAJAX">
	INSERT INTO HBT_CART
			(CART_CODE
			, MEM_CODE
			, ITEM_CODE
			, NUM_OF_PEOPLE
			, CART_TOTAL_PRICE
			) VALUES
		   (
			(SELECT 'CART_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(CART_CODE, 6))), 0) + 1, 3, '0')
			 FROM HBT_CART)
			 , (SELECT MEM_CODE FROM HBT_MEM WHERE MEM_ID = #{memCode})
			 , #{itemCode}
			 , ${numOfPeople}
			 , ((SELECT ITEM_PRICE FROM HBT_ITEM WHERE ITEM_CODE = #{itemCode}) * ${numOfPeople})
		  )
	</insert>
	
	<select id="getBuyList" resultMap="buy">
		SELECT BUY_CODE
			, MEM_CODE
			, BUY_STATUS_CODE
			, BUY_TOTAL_PRICE
			, TO_CHAR(BUY_DATE, 'YYYY-MM-DD') BUY_DATE
		FROM HBT_BUY
		WHERE MEM_CODE = #{memCode}
		ORDER BY BUY_DATE DESC
	</select>
	
	<select id="getBuyDetail" resultMap="buy">
		SELECT BUY.BUY_CODE
		    , MEM_CODE
		    , BUY_STATUS_CODE
		    , BUY_TOTAL_PRICE
		    , TO_CHAR(BUY_DATE, 'YYYY-MM-DD') BUY_DATE
		    , BUY_D_CODE
		    , BD.ITEM_CODE
		    , BD.AREA_CODE
		    , DEPART_DATE
		    , ARRIVE_DATE
		    , RESERVED_PEOPLE_NUM
		    , BUY_D_PRICE
		    , ITEM_TITLE
		    , ITEM_INTRO
		    , TRAVER_PERIOD
		    , ITEM_IMG_CODE
		    , ITEM_IMG_ATTACHED_NAME
		    , IS_MAIN
		FROM HBT_BUY BUY, HBT_BUY_DETAIL BD, HBT_ITEM_IMG IMG, HBT_ITEM ITEM
		WHERE BUY.BUY_CODE = BD.BUY_CODE
		AND BD.ITEM_CODE = IMG.ITEM_CODE
		AND BD.AREA_CODE = ITEM.AREA_CODE
		AND BUY.BUY_CODE = #{buyCode}
		ORDER BY BUY_DATE DESC
	</select>
	
	<select id="getCartList" resultMap="cart">
	SELECT CART_CODE
			, MEM_CODE
			, TO_CHAR(REG_DATE, 'YYYY-MM-DD') REG_DATE
			, CART.ITEM_CODE
			, NUM_OF_PEOPLE
			, CART_TOTAL_PRICE
            , ITEM_TITLE
            , ITEM_INTRO
            , ITEM_PRICE
            , ITEM.AREA_CODE
            , TRAVER_PERIOD
            , STATUS_CODE
            , ITEM_IMG_CODE
            , ITEM_IMG_ATTACHED_NAME
            , IS_MAIN
            , AREA_KOR_NAME
		FROM HBT_CART CART, HBT_ITEM ITEM, HBT_ITEM_IMG IMG, HBT_TOUR_AREA TOUR
		WHERE MEM_CODE = #{memCode}
        AND CART.ITEM_CODE = ITEM.ITEM_CODE
        AND ITEM.ITEM_CODE = IMG.ITEM_CODE
        AND ITEM.AREA_CODE = TOUR.AREA_CODE
	</select>
	
	

	
</mapper>


























