<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
	<resultMap type="com.project.team.item.vo.ItemVO" id="item">
		<id 	column="ITEM_CODE" 			property="itemCode"/>
		<result column="ITEM_TITLE" 		property="itemTitle"/>
		<result column="ITEM_PRICE" 		property="itemPrice"/>
		<result column="AREA_CODE" 			property="areaCode"/>
		<result column="SELLING_START" 		property="sellingStart"/>
		<result column="SELLING_END" 		property="sellingEnd"/>
		<result column="IS_EXTRA_CHARGE" 	property="isExtraCharge"/>
		<result column="IS_PEAK" 			property="isPeak"/>
		<result column="IS_BOMB_SALE" 		property="isBombSale"/>
		<result column="ITEM_INTRO" 		property="itemIntro"/>
		<result column="STATUS_CODE" 		property="statusCode"/>
		<result column="TRAVER_PERIOD" 		property="traverPeriod"/>
		<association property="tourAreaVO" 	resultMap="tourArea"> </association>
		<collection property="imgList" 		resultMap="img"/>
	</resultMap>
	
	
	<resultMap type="com.project.team.admin.vo.TourAreaVO" id="tourArea">
		<id 	column="AREA_CODE" 			property="areaCode"/>
		<result column="AREA_ENG_NAME" 		property="areaEngName"/>
		<result column="AREA_KOR_NAME" 		property="areaKorName"/>
		<result column="IS_USE" 			property="isUse"/>
		<result column="IS_EXPOSE_MAIN" 	property="isExposeMain"/>
	</resultMap>
	
	
	<resultMap type="com.project.team.admin.vo.ImgVO" id="img">
		<id 	column="ITEM_IMG_CODE" 			property="itemImgCode"/>
		<result column="ITEM_CODE" 				property="itemCode"/>
		<result column="ITEM_IMG_ORIGIN_NAME" 	property="itemImgOriginName"/>
		<result column="ITEM_IMG_ATTACHED_NAME" property="itemImgAttachedName"/>
		<result column="IS_MAIN" 				property="isMain"/>
	</resultMap>
	
	<select id="getItemListByAreaName" resultType="Map">
	SELECT ITEM.ITEM_CODE
            , ITEM_TITLE
            , AREA_KOR_NAME
            , ITEMS.STATUS_NAME
            , IMG.ITEM_IMG_ATTACHED_NAME 
            , IS_MAIN
            , ITEM.ITEM_PRICE
            , ITEM.TRAVER_PERIOD
	FROM HBT_ITEM ITEM, HBT_ITEM_STATE ITEMS, HBT_ITEM_IMG IMG, HBT_TOUR_AREA AREA
	WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
	AND ITEM.AREA_CODE = AREA.AREA_CODE
	AND IS_MAIN = 'Y'
	AND ITEMS.STATUS_CODE = '1'
	AND AREA_KOR_NAME = #{areaName}
	<if test="date != null and !date.isEmpty()">
	AND #{date} BETWEEN ITEM.SELLING_START AND ITEM.SELLING_END
	</if>
	</select>

	<select id="getTourItemListGroupAJAX" resultType="Map">
	SELECT ITEM.ITEM_CODE
            , ITEM_TITLE
            , AREA_KOR_NAME
            , ITEMS.STATUS_NAME
            , IMG.ITEM_IMG_ATTACHED_NAME
            , IS_MAIN
            , ITEM.ITEM_PRICE
            , ITEM.TRAVER_PERIOD
	FROM HBT_ITEM ITEM, HBT_ITEM_STATE ITEMS, HBT_ITEM_IMG IMG, HBT_TOUR_AREA AREA
	WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
	AND ITEM.AREA_CODE = AREA.AREA_CODE
	AND IS_MAIN = 'Y'
	AND ITEMS.STATUS_CODE = '1'
	AND ITEM.ITEM_CODE = #{itemCode}
	AND #{searchDate} BETWEEN ITEM.SELLING_START AND ITEM.SELLING_END
	</select>

	<select id="getItemDetail" resultType="map">
		SELECT DISTINCT ITEM.ITEM_CODE
					  , ITEM.ITEM_TITLE
					  , ITEM.ITEM_PRICE
					  , ITEM.ITEM_INTRO
					  , ITEM.TRAVER_PERIOD
					  , AREA.AREA_KOR_NAME
					  , PLAN.HBT_PLAN_PERIOD
					  , PLAN.HBT_PLAN_DAY
					  , TOUR.HBT_TOUR_ITEM_RUNTIME
					  , PLAN.HBT_PLAN_TIME
					  , PLAN.HBT_PLAN_INTRO
					  , PLAN.HBT_HOTEL_CODE
					  , PLAN.HBT_TOUR_ITEM_CODE
					  , PLAN.HBT_AIRLINE_CODE
					  , TOUR.HBT_TOUR_ITEM_NAME
					  , TOUR.HBT_TOUR_ITEM_INTRO
					  , HOTEL.HBT_HOTEL_NAME
					  , HOTEL.HBT_HOTEL_GRADE
					  , HOTEL.HBT_HOTEL_INTRO
					  , AIRLINE.HBT_AIRLINE_NAME
					  , AIRLINE.HBT_AIRLINE_ICON
		FROM HBT_ITEM ITEM, HBT_ITEM_IMG IMG, HBT_HOTEL HOTEL
		   , HBT_ITEM_PLAN PLAN ,HBT_AIRLINE AIRLINE
		   , HBT_TOUR_ITEM TOUR ,HBT_TOUR_IMG TOUR_IMG
		   , HBT_HOTEL_IMG HOTEL_IMG , HBT_TOUR_AREA AREA
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		  AND ITEM.ITEM_CODE = PLAN.ITEM_CODE
		  AND ITEM.AREA_CODE = AREA.AREA_CODE
		  AND PLAN.HBT_HOTEL_CODE = HOTEL.HBT_HOTEL_CODE
		  AND HOTEL.HBT_HOTEL_CODE = HOTEL_IMG.HBT_HOTEL_CODE
		  AND PLAN.HBT_AIRLINE_CODE = AIRLINE.HBT_AIRLINE_CODE
		  AND PLAN.HBT_TOUR_ITEM_CODE = TOUR.HBT_TOUR_ITEM_CODE
		  AND TOUR.HBT_TOUR_ITEM_CODE = TOUR_IMG.HBT_TOUR_ITEM_CODE
		  AND ITEM.ITEM_CODE = #{itemCode}
		ORDER BY PLAN.HBT_PLAN_DAY, PLAN.HBT_PLAN_TIME
	</select>



</mapper>