<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
	<resultMap type="com.project.team.item.vo.ItemVO" id="item">
		<id 	column="ITEM_CODE" 			property="itemCode"/>
		<result column="ITEM_TITLE" 		property="itemTitle"/>
		<result column="ITEM_PRICE" 		property="itemPrice"/>
		<result column="AREA_CODE" 			property="areaCode"/>
		<result column="SELLING_START" 		property="sellingStart"/>
		<result column="SELLING_END" 		property="sellingEnd"/>
		<result column="IS_EXTRA_CHARGE" 	property="isExtraCharge"/>
		<result column="IS_PEAK" 			property="isPeak"/>
		<result column="IS_BOMB_SALE" 		property="isBombSale"/>
		<result column="ITEM_INTRO" 		property="itemIntro"/>
		<result column="STATUS_CODE" 		property="statusCode"/>
		<result column="TRAVER_PERIOD" 		property="traverPeriod"/>
		<association property="tourAreaVO" 	resultMap="tourArea"> </association>
		<association property="itemStateVO" resultMap="itemState"> </association>
		<collection property="imgList" 		resultMap="img"/>
	</resultMap>
	
	
	<resultMap type="com.project.team.admin.vo.TourAreaVO" id="tourArea">
		<id 	column="AREA_CODE" 			property="areaCode"/>
		<result column="AREA_ENG_NAME" 		property="areaEngName"/>
		<result column="AREA_KOR_NAME" 		property="areaKorName"/>
		<result column="IS_USE" 			property="isUse"/>
		<result column="IS_EXPOSE_MAIN" 	property="isExposeMain"/>
	</resultMap>
	
	
	<resultMap type="com.project.team.admin.vo.ImgVO" id="img">
		<id 	column="ITEM_IMG_CODE" 			property="itemImgCode"/>
		<result column="ITEM_CODE" 				property="itemCode"/>
		<result column="ITEM_IMG_ORIGIN_NAME" 	property="itemImgOriginName"/>
		<result column="ITEM_IMG_ATTACHED_NAME" property="itemImgAttachedName"/>
		<result column="IS_MAIN" 				property="isMain"/>
	</resultMap>

	<resultMap type="com.project.team.item.vo.DiyTourVO" id="diyTour">
		<id 	column="HBT_DIY_CODE" 			property="hbtDiyCode"/>
		<result column="DIY_TOUR_BUY_DATE" 		property="diyTourBuyDate"/>
		<result column="DEPART_DATE" 			property="departDate"/>
		<result column="ARRIVE_DATE" 			property="arriveDate"/>
		<result column="TOTAL_PRICE" 			property="totalPrice"/>
		<result column="TRAVER_PERIOD" 			property="traverPeriod"/>
		<result column="IS_PAID" 				property="isPaid"/>
		<result column="MEM_CODE" 				property="memCode"/>
		<result column="HBT_AIRLINE_CODE" 		property="airlineCode"/>
		<result column="AREA_CODE" 				property="areaCode"/>
		<result column="BUY_STATUS_CODE" 		property="buyStatusCode"/>
		<association property="diyDetailList" 	resultMap="diyDetail"/>
		<association property="tourAreaVO" 		resultMap="tourArea"/>
	</resultMap>

	<resultMap type="com.project.team.item.vo.DiyDetailVO" id="diyDetail">
		<id 	column="HBT_DIY_DETAIL_CODE" 	property="hbtDiyDetailCode"/>
		<result column="HBT_DIY_DAY" 			property="hbtDiyDay"/>
		<result column="HBT_DIY_CODE" 			property="hbtDiyCode"/>
		<result column="HBT_TOUR_ITEM_CODE" 	property="hbtTourItemCode"/>
		<result column="HBT_HOTEL_CODE" 		property="hbtHotelCode"/>
		<association property="tourItemList" 	resultMap="adminMapper.tourItem"/>
		<association property="hotelList"		resultMap="adminMapper.hotel"/>
	</resultMap>
	
	<resultMap type="com.project.team.item.vo.ItemStateVO" id="itemState">
		<id 	column="STATUS_CODE" property="statusCode"></id>
		<result column="STATUS_NAME" property="statusName" />
	</resultMap>
	
	
	



	




	
	
	
	
	<select id="">
		SELECT COUNT(ITEM_CODE)
		FROM HBT_MEM_REVIEW
		WHERE ITEM_CODE = 'ITEM_001'
	</select>
	
	<select id="getItemListByAreaName" resultType="Map">
	SELECT ITEM.ITEM_CODE
            , ITEM_TITLE
            , AREA_KOR_NAME
            , ITEMS.STATUS_NAME
            , IMG.ITEM_IMG_ATTACHED_NAME 
            , IS_MAIN
            , ITEM.ITEM_PRICE
            , ITEM.TRAVER_PERIOD
			, ITEM.ITEM_INTRO
	FROM HBT_ITEM ITEM, HBT_ITEM_STATE ITEMS, HBT_ITEM_IMG IMG, HBT_TOUR_AREA AREA
	WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
	AND ITEM.AREA_CODE = AREA.AREA_CODE
	AND IS_MAIN = 'Y'
	AND ITEMS.STATUS_CODE = '1'
	AND ITEM.STATUS_CODE = 1
	<if test="areaName != null and !areaName.isEmpty()">
	AND AREA_KOR_NAME = #{areaName}
	</if>
	<if test="date != null and !date.isEmpty()">
	AND #{date} BETWEEN ITEM.SELLING_START AND ITEM.SELLING_END
	</if>
	</select>

	<select id="getTourItemListGroupAJAX" resultType="Map">
	SELECT ITEM.ITEM_CODE
            , ITEM_TITLE
            , AREA_KOR_NAME
            , ITEMS.STATUS_NAME
            , IMG.ITEM_IMG_ATTACHED_NAME
            , IS_MAIN
            , ITEM.ITEM_PRICE
            , ITEM.TRAVER_PERIOD
	FROM HBT_ITEM ITEM, HBT_ITEM_STATE ITEMS, HBT_ITEM_IMG IMG, HBT_TOUR_AREA AREA
	WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
	AND ITEM.AREA_CODE = AREA.AREA_CODE
	AND IS_MAIN = 'Y'
	AND ITEMS.STATUS_CODE = '1'
 	AND ITEM.STATUS_CODE = 1
	AND ITEM.ITEM_CODE = #{itemCode}
	AND #{searchDate} BETWEEN ITEM.SELLING_START AND ITEM.SELLING_END
	</select>
	<!--	상품상세정보조회(이미지제외)-->
	<select id="getItemDetail" resultType="map">
		SELECT DISTINCT ITEM.ITEM_CODE
					  , ITEM.ITEM_TITLE
					  , ITEM.ITEM_PRICE
					  , ITEM.ITEM_INTRO
					  , ITEM.TRAVER_PERIOD
					  , AREA.AREA_KOR_NAME
					  , PLAN.HBT_PLAN_PERIOD
					  , PLAN.HBT_PLAN_DAY
					  , TOUR.HBT_TOUR_ITEM_RUNTIME
					  , PLAN.HBT_PLAN_TIME
					  , PLAN.HBT_PLAN_INTRO
					  , PLAN.HBT_HOTEL_CODE
					  , PLAN.HBT_TOUR_ITEM_CODE
					  , PLAN.HBT_AIRLINE_CODE
					  , TOUR.HBT_TOUR_ITEM_NAME
					  , TOUR.HBT_TOUR_ITEM_INTRO
					  , HOTEL.HBT_HOTEL_NAME
					  , HOTEL.HBT_HOTEL_GRADE
					  , HOTEL.HBT_HOTEL_INTRO
					  , AIRLINE.HBT_AIRLINE_NAME
					  , AIRLINE.HBT_AIRLINE_ICON
					  , AREA.AREA_CODE
		FROM HBT_ITEM ITEM, HBT_ITEM_IMG IMG, HBT_HOTEL HOTEL
		   , HBT_ITEM_PLAN PLAN ,HBT_AIRLINE AIRLINE
		   , HBT_TOUR_ITEM TOUR ,HBT_TOUR_IMG TOUR_IMG
		   , HBT_HOTEL_IMG HOTEL_IMG , HBT_TOUR_AREA AREA
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		  AND ITEM.ITEM_CODE = PLAN.ITEM_CODE
		  AND ITEM.AREA_CODE = AREA.AREA_CODE
		  AND PLAN.HBT_HOTEL_CODE = HOTEL.HBT_HOTEL_CODE
		  AND HOTEL.HBT_HOTEL_CODE = HOTEL_IMG.HBT_HOTEL_CODE
		  AND PLAN.HBT_AIRLINE_CODE = AIRLINE.HBT_AIRLINE_CODE
		  AND PLAN.HBT_TOUR_ITEM_CODE = TOUR.HBT_TOUR_ITEM_CODE
		  AND TOUR.HBT_TOUR_ITEM_CODE = TOUR_IMG.HBT_TOUR_ITEM_CODE
		  AND ITEM.ITEM_CODE = #{itemCode}
		ORDER BY PLAN.HBT_PLAN_DAY, PLAN.HBT_PLAN_TIME
	</select>

	<select id="getItemMainImg" resultMap="item">
		SELECT ITEM.ITEM_CODE
		    , ITEM_TITLE
		    , ITEM_IMG_ORIGIN_NAME
		    , ITEM_IMG_ATTACHED_NAME
		FROM HBT_ITEM ITEM, HBT_ITEM_IMG IMG
		WHERE ITEM.ITEM_CODE = IMG.ITEM_CODE
		AND IS_MAIN = 'Y'
	</select>

	<select id="getItemDetailImg" resultType="map">
		SELECT ITEM_IMG_CODE
				, ITEM_IMG_ATTACHED_NAME
				, IS_MAIN
		FROM HBT_ITEM_IMG
		WHERE ITEM_CODE = #{itemCode}
	</select>

	<select id="getHotelImg" resultType="map">
		SELECT HBT_HOTEL_IMG_CODE
				, HBT_HOTEL_ATTECHED_FILE_NAME
		FROM HBT_HOTEL_IMG
		WHERE HBT_HOTEL_CODE = #{hbtHotelCode}
	</select>

	<select id="getTourImg" resultType="map">
		SELECT HBT_TOUR_ITEM_IMG_CODE
			, HBT_TOUR_ITEM_ATTECHED_FILE_NAME
		FROM HBT_TOUR_IMG
		WHERE HBT_TOUR_ITEM_CODE = #{hbtTourItemCode}
	</select>
	<!--	많이찾는 여행지 조회-->
	<select id="getFavoriteArea" resultType="map">
		SELECT AREA_KOR_NAME, ITEM_CODE, ITEM_IMG_ATTACHED_NAME, ITEM_TITLE
		FROM (
		SELECT AREA_KOR_NAME, ITEM.ITEM_CODE, ITEM_IMG_ATTACHED_NAME, ITEM.ITEM_TITLE,
		ROW_NUMBER() OVER (PARTITION BY AREA_KOR_NAME ORDER BY ITEM.ITEM_CODE) AS rn
		FROM HBT_ITEM ITEM
		INNER JOIN HBT_ITEM_IMG IMG ON ITEM.ITEM_CODE = IMG.ITEM_CODE
		INNER JOIN HBT_TOUR_AREA AREA ON ITEM.AREA_CODE = AREA.AREA_CODE
		WHERE AREA.IS_EXPOSE_MAIN = 'Y'
		AND IS_MAIN = 'Y'
		) subquery
		WHERE rn &lt;= 3
		ORDER BY AREA_KOR_NAME
	</select>

	<!-- 지역이미지 대표조회	-->
	<select id="getLocationImg" resultType="map">
		SELECT AREA.AREA_KOR_NAME
			, AREA.AREA_CODE
			, MIN(ITEM_IMG_ATTACHED_NAME) AS ITEM_IMG_ATTACHED_NAME
		FROM HBT_TOUR_AREA AREA
		    , HBT_ITEM ITEM
		    , HBT_ITEM_IMG IMG
		WHERE ITEM.AREA_CODE = AREA.AREA_CODE
		AND IS_MAIN = 'Y'
		AND ITEM.ITEM_CODE = IMG.ITEM_CODE
		GROUP BY AREA.AREA_KOR_NAME
		    	, AREA.AREA_CODE
	</select>
	<!-- 항공사이름및아이콘전체조회	-->
	<select id="getAirlineIcon" resultType="map">
		SELECT HBT_AIRLINE_CODE
			, HBT_AIRLINE_NAME
			, HBT_AIRLINE_ICON
		FROM HBT_AIRLINE
		WHERE IS_USE = 'Y'
	</select>
	<!--선택지역 호델 전체 조회-->
	<select id="getHotelAJAX" resultType="map">
		SELECT HOTEL.HBT_HOTEL_CODE
			, HBT_HOTEL_NAME
			, HBT_HOTEL_ATTECHED_FILE_NAME
		FROM HBT_HOTEL HOTEL, HBT_HOTEL_IMG IMG, HBT_TOUR_AREA AREA
		WHERE HOTEL.HBT_HOTEL_CODE = IMG.HBT_HOTEL_CODE
		AND AREA.AREA_CODE = HOTEL.AREA_CODE
		AND IS_MAIN = 'Y'
		AND AREA_KOR_NAME = #{areaKorName}
	</select>
	<select id="getTourAJAX" resultType="map">
		SELECT ITEM.HBT_TOUR_ITEM_CODE
			, HBT_TOUR_ITEM_NAME
			, HBT_TOUR_ITEM_RUNTIME
			, HBT_TOUR_ITEM_PRICE
			, HBT_TOUR_ITEM_INTRO
			, HBT_TOUR_ITEM_ATTECHED_FILE_NAME
		FROM HBT_TOUR_ITEM ITEM, HBT_TOUR_AREA AREA, HBT_TOUR_IMG IMG
		WHERE ITEM.HBT_TOUR_ITEM_CODE = IMG.HBT_TOUR_ITEM_CODE
		AND IS_MAIN = 'Y'
		AND AREA.AREA_CODE = ITEM.AREA_CODE
		  AND AREA_KOR_NAME = #{areaKorName}
	</select>
	<!--	호텔상세정보조회-->
	<select id="getHotelDetailAJAX" resultType="map">
		SELECT HOTEL.HBT_HOTEL_CODE
			, HBT_HOTEL_NAME
		    , HBT_HOTEL_GRADE
		    , HBT_HOTEL_INTRO
		    , HBT_HOTEL_PRICE
			, HBT_HOTEL_ATTECHED_FILE_NAME
		FROM HBT_HOTEL HOTEL, HBT_HOTEL_IMG IMG
		WHERE HOTEL.HBT_HOTEL_CODE = IMG.HBT_HOTEL_CODE
		AND HOTEL.HBT_HOTEL_CODE = #{hbtHotelCode}
		ORDER BY IS_MAIN DESC
	</select>

	<select id="getTourDetailAJAX" resultType="map">
		SELECT TOUR.HBT_TOUR_ITEM_CODE
			 , HBT_TOUR_ITEM_NAME
			 , HBT_TOUR_ITEM_RUNTIME
			 , HBT_TOUR_ITEM_INTRO
			 , HBT_TOUR_ITEM_PRICE
			 , HBT_TOUR_ITEM_ATTECHED_FILE_NAME
		FROM HBT_TOUR_ITEM TOUR, HBT_TOUR_IMG IMG
		WHERE TOUR.HBT_TOUR_ITEM_CODE = IMG.HBT_TOUR_ITEM_CODE
		  AND TOUR.HBT_TOUR_ITEM_CODE = #{hbtTourCode}
		ORDER BY IS_MAIN DESC
	</select>

<!--	DIY_CODE 생성-->
	<select id="getNextDiyCode" resultType="string">
		SELECT 'HBT_DIY_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HBT_DIY_CODE, 9))), 0) + 1, 3, '0')
		FROM HBT_DIY_TOUR
	</select>

	<insert id="setDiyTour">
		INSERT INTO HBT_DIY_TOUR (
					HBT_DIY_CODE
					, MEM_CODE
					, HBT_AIRLINE_CODE
					, AREA_CODE
					, DEPART_DATE
					, ARRIVE_DATE
					, TOTAL_PRICE
					, TRAVER_PERIOD
					, IS_PAID
				) VALUES (
			        #{hbtDiyCode}
			        , #{memCode}
			        , #{airlineCode}
			        , #{areaCode}
			        , #{departDate}
			        , #{arriveDate}
			        , #{totalPrice}
			        , #{traverPeriod}
			        , #{isPaid}
				)
	</insert>
	
	<update id="setDiyTourIsPaidToY">
		UPDATE HBT_DIY_TOUR 
		SET IS_PAID = 'Y' 
		WHERE HBT_DIY_CODE = #{hbtDiyCode}
	</update>
	
	<select id="getDiyDetailCodeList" resultType="String">
		SELECT HBT_DIY_DETAIL_CODE 
		FROM HBT_DIY_DETAIL 
		WHERE HBT_DIY_CODE = #{hbtDiyCode}
	</select>
	
	<delete id="delDiyTour">
		DELETE HBT_DIY_TOUR WHERE  HBT_DIY_CODE = #{hbtDiyCode}
	</delete>
	
	<delete id="delDiyTourDetail">
		DELETE HBT_DIY_DETAIL WHERE HBT_DIY_DETAIL_CODE IN 
		(
		<foreach collection="diyDetailList" item="hbtDiyDetailCode" separator=",">
			#{hbtDiyDetailCode}
		</foreach>
		)
	</delete>
	
	<select id="getDiyTourList" resultMap="diyTour">
		SELECT HBT_DIY_CODE
			, MEM_CODE
			, HBT_AIRLINE_CODE
			, AREA_CODE
			, TO_CHAR(DEPART_DATE, 'YYYY-MM-DD HH24:MI') DEPART_DATE
			, TO_CHAR(ARRIVE_DATE, 'YYYY-MM-DD HH24:MI') ARRIVE_DATE
			, TOTAL_PRICE
			, TRAVER_PERIOD
			, IS_PAID
		FROM HBT_DIY_TOUR
		WHERE IS_PAID = 'N'
		AND MEM_CODE = #{memCode}
	</select>
	
	<select id="testGetDiyTourList" resultMap="diyTour">
		SELECT TOUR.HBT_DIY_CODE
		    , TOUR.HBT_AIRLINE_CODE
		    , TOUR.DEPART_DATE
		    , TOUR.ARRIVE_DATE
		    , TOUR.TOTAL_PRICE
		    , TOUR.TRAVER_PERIOD
		    , TOUR.BUY_STATUS_CODE
		    , TOUR.DIY_TOUR_BUY_DATE
		    , TOUR.MEM_CODE
		    , DETAIL.HBT_DIY_DETAIL_CODE
		    , DETAIL.HBT_DIY_DAY
		    , ITEM.HBT_TOUR_ITEM_CODE
		    , ITEM.HBT_TOUR_ITEM_NAME
		    , ITEM.HBT_TOUR_ITEM_RUNTIME
		    , ITEM.HBT_TOUR_ITEM_INTRO
		    , ITEM.HBT_TOUR_ITEM_PRICE
		    , T_IMG.HBT_TOUR_ITEM_IMG_CODE
		    , T_IMG.HBT_TOUR_ITEM_ATTECHED_FILE_NAME
		    , T_IMG.IS_MAIN
		    , HOTEL.HBT_HOTEL_CODE
		    , HOTEL.HBT_HOTEL_NAME
		    , HOTEL.HBT_HOTEL_GRADE
		    , HOTEL.HBT_HOTEL_PRICE
		    , H_IMG.HBT_HOTEL_IMG_CODE
		    , H_IMG.HBT_HOTEL_ATTECHED_FILE_NAME
		    , H_IMG.IS_MAIN
		    , TA.AREA_CODE
		    , TA.AREA_ENG_NAME
		    , TA.AREA_KOR_NAME
		FROM HBT_DIY_TOUR TOUR, HBT_DIY_DETAIL DETAIL, HBT_TOUR_ITEM ITEM, HBT_TOUR_IMG T_IMG, HBT_HOTEL HOTEL, HBT_HOTEL_IMG H_IMG, HBT_TOUR_AREA TA
		WHERE TOUR.HBT_DIY_CODE = DETAIL.HBT_DIY_CODE
		AND DETAIL.HBT_TOUR_ITEM_CODE = ITEM.HBT_TOUR_ITEM_CODE(+)
		AND ITEM.HBT_TOUR_ITEM_CODE = T_IMG.HBT_TOUR_ITEM_CODE(+)
		AND DETAIL.HBT_HOTEL_CODE = HOTEL.HBT_HOTEL_CODE(+)
		AND HOTEL.HBT_HOTEL_CODE = H_IMG.HBT_HOTEL_CODE(+)
		AND TOUR.AREA_CODE = TA.AREA_CODE
		AND TOUR.IS_PAID = 'N'
		AND TOUR.MEM_CODE = #{memCode}
		ORDER BY HBT_DIY_DAY
	</select>

	<insert id="setDiyTourDetail">
		INSERT INTO HBT_DIY_DETAIL (
		HBT_DIY_DETAIL_CODE
		, HBT_DIY_DAY
		, HBT_DIY_CODE
		, HBT_HOTEL_CODE
		, HBT_TOUR_ITEM_CODE
		)								<!-- imgVO -->
		<foreach collection="list" item="item" separator="UNION ALL" index="i">
			SELECT (SELECT 'HBT_DIY_DETAIL_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(HBT_DIY_DETAIL_CODE, 16))), 0) + 1 + #{i}, 3, '0')
			FROM HBT_DIY_DETAIL)
			, #{item.hbtDiyDay}
			, #{item.hbtDiyCode}
			<if test="item.hbtHotelCode != null">
			, #{item.hbtHotelCode}
			</if>
			<if test="item.hbtHotelCode == null">
			, null
			</if>
			<if test="item.hbtTourItemCode != null">
			, #{item.hbtTourItemCode}
			</if>
			<if test="item.hbtTourItemCode == null">
			, null
			</if>
			FROM DUAL
		</foreach>
	</insert>
	
	
	
	
	<select id="getHotelList" resultType="map">
		SELECT HOTEL.HBT_HOTEL_CODE
			, HBT_HOTEL_NAME
			, HBT_HOTEL_GRADE
			, HBT_HOTEL_INTRO
			, HBT_HOTEL_PRICE
			, HBT_HOTEL_ATTECHED_FILE_NAME
		FROM HBT_HOTEL HOTEL, HBT_HOTEL_IMG IMG
		WHERE HOTEL.HBT_HOTEL_CODE = IMG.HBT_HOTEL_CODE
		OFFSET 0 ROWS FETCH FIRST 10 ROWS ONLY
	</select>

<!--	조회한 아이템 리뷰 조회-->
	<select id="getItemReview" resultType="map">
		SELECT HBT_MEM_REVIEW_NUM
			, HBT_MEM_REVIEW_CONTENT
			, STARS
			, MEM_CODE
			, BUY_CODE
			, ITEM_CODE
			, TO_CHAR(REVIEW_REG_DATE, 'YYYY-MM-DD') AS REVIEW_REG_DATE
		FROM HBT_MEM_REVIEW
		WHERE ITEM_CODE = #{itemCode}
	</select>


</mapper>