<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/admin_layout}">
<!-- 연결해야 할 외부 CSS파일 -->
<th:block layout:fragment="content_css">
</th:block>
<!-- 본문 내용 -->
<th:block layout:fragment="adminContent">
<div class="row">
    <div class="row text-center">
        <h3>투어 상품 관리</h3>
    </div>

    <!-- 투어상품등록    -->
    <form action="/admin/itemDetail/addTourItem" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="row mb-3">
            <div class="col">
                <select class="form-select" name="areaCode">
                    <th:block th:each="area : ${areaList}">
                        <option th:value="${area.areaCode}">[[${area.areaKorName}]]</option>
                    </th:block>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="hbtTourItemName" placeholder="투어이름">
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-4">
                <input class="form-check-input" checked type="radio" name="hbtTourItemRunTime" value="Half">HalfDay
                <input class="form-check-input" type="radio" name="hbtTourItemRunTime" value="Day">Day
            </div>
            <div class="col-4">
                <input class="form-check-input" checked type="radio" name="isUse" value="Y">사용
                <input class="form-check-input" type="radio" name="isUse" value="N">미사용
            </div>
            <div class="col-4">
                <input type="text" class="form-control" name="hbtTourItemPrice" placeholder="가격">
            </div>
        </div>


        <div class="row mb-3">
            <div class="col">
                <input type="file" name="mainImg" class="form-control" accept="image/*">메인파일
            </div>
            <div class="col">
                <input type="file" name="subImg" class="form-control" multiple accept="image/*">서브파일
            </div>
        </div>

        <div class="row mb-3">
            <div class="col">
                <textarea class="form-control" name="hbtTourItemIntro"></textarea>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-4 offset-4 d-gird">
                <input type="submit" class="form-control ye-S-bc" value="등 록">
            </div>
        </div>



    </div>
    </form>



    <!--투어상품관리-->
    <div class="row">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <colgroup>
                    </colgroup>
                    <thead class="ye-S-bc">
                        <tr>
                            <td>No</td>
                            <td>지역</td>
                            <td>상품명</td>
                            <td>소요시간</td>
                            <td>가격</td>
                            <td>사용여부</td>
                            <td>상세정보</td>
                            <td>삭제버튼</td>
                        </tr>
                    </thead>
                    <tbody class="ye-bc">
                        <th:block th:each="item,state : ${tourItemList}">
                            <form action="/admin/itemDetail/deleteTourItem" method="post">
                                <input type="hidden" class="hbtTourItemCode" name="hbtTourItemCode" th:value="${item['HBT_TOUR_ITEM_CODE']}">
                                <input type="hidden" class="hbtTourItemImgCode" name="hbtTourItemImgCode" th:value="${item['HBT_TOUR_ITEM_IMG_CODE']}">
                                <tr>
                                    <td>[[${state.count}]]</td>
                                    <td>[[${item["AREA_KOR_NAME"]}]]</td>
                                    <td>[[${item["HBT_TOUR_ITEM_NAME"]}]]</td>
                                    <td>[[${item["HBT_TOUR_ITEM_RUNTIME"]}]]</td>
                                    <td>[[${item["HBT_TOUR_ITEM_PRICE"]}]]</td>
                                    <td>
                                        <input type="radio" class="form-check-input" name="isUse" value="Y" th:checked='${item["IS_USE"] == "Y"}' onchange="updateTourItemIsUseAJAX(this);">사용
                                        <input type="radio" class="form-check-input" name="isUse" value="N" th:checked='${item["IS_USE"] == "N"}' onchange="updateTourItemIsUseAJAX(this);">미사용
                                    </td>
                                    <td>[[${item["HBT_TOUR_ITEM_INTRO"]}]]</td>
                                    <td>
                                        <input type="submit" value="삭제">
                                    </td>
                                </tr>
                            </form>
                        </th:block>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</th:block>
<!-- 연결해야 할 외부 js파일 -->
<th:block layout:fragment="content_js">
    <script src="/js/content/admin/item_detail/tour_manage.js"></script>
</th:block>
</html>