@charset "UTF-8";

.miniTitle{
	border-bottom: 1px solid #dddddd;
	width: 70%;
	padding-bottom: 10px;
	
}

tbody, td, tfoot, th, thead, tr {
    border: none;
}

.detailItemTitle {
	font-weight: bold;
	font-size: 20px;
	vertical-align: bottom;
	
}

.detailDate{
	color: gray;
	font-size: 13px;
	
}

.table{
	width: 70%;
	margin-bottom: 50px;
}

.priceTd{
	text-align: right;
	font-size: 14px;
}

.totalPrice {
	font-size: 16px;
	font-weight: bold;
}

.reservInfoTable{
	font-size: 14px;
}

.reservInfoSpan {
	color: gray;
	font-size:14px;
}

.reservItemTable tbody tr:nth-child(4), .reservItemTable tbody tr:nth-child(5){
	
	 background-color: #f2f2f2;
}