@charset "UTF-8";


.footer-navbar {
	height: 8vh;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
	background-color: #eee;
}

.footer-navbar > ul {
	list-style: none;
	display: flex;
}

.footer-navbar > ul > li {
	flex: 1;
	text-align: center;
	padding-top: 20px;
}

.footer-navbar > ul > li > a {
	text-decoration: none;
	color: black;
}

.footer-navbar > ul > li > a:hover {
	color: grey;
}

.footer-content {
	height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid lightgrey;
}

.footer-content-L {
	text-align: center;
}

.footer-content-R {
	text-align: center;
}





