<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{fragment/board/board_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/board/board_gound_detail.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="board_content">
<div class="board-grd-det">
	<div class="row mb-3 under-line-ylS">
		<div class="col">
			<h3>고객센터 > <span th:each="boardSideMenu : ${boardSideMenuList}" th:if="${boardSideMenu.boardSideMenuCode == 'BS_MENU_002'}" th:value="boardSideMenu.boardSideMenuCode">[[${boardSideMenu.boardSideMenuName}]]</span> > 게시글 상세</h3>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col text-end">
			<input onclick="location.href='/board/getBoardGroundPage'" class="btn btn-gray" type="button" value="뒤로 가기">
		</div>
		<div class="col-1" th:if="${#authentication.name == boardDetail.memberVO.memId and replyList.size == 0}">
			<input th:onclick="updateInput([[${boardDetail.hbtBoardNum}]], this);" type="button" class="btn btn-green w-100" value="수정">
		</div>
		<th:block sec:authorize="hasRole('ROLE_USR')">
			<div class="col-1" th:if="${#authentication.name == boardDetail.memberVO.memId}">
				<input th:onclick="delBoard([[${boardDetail.hbtBoardNum}]]);" type="button" class="btn btn-red w-100" value="삭제">
			</div>
		</th:block>
		<th:block sec:authorize="hasRole('ROLE_AD')">
			<div class="col-1">
				<input th:onclick="delBoard([[${boardDetail.hbtBoardNum}]]);" type="button" class="btn btn-red w-100" value="삭제">
			</div>
		</th:block>
	</div>
	<div class="row mb-2">
		<div class="col">
			<table class="table text-center detail_table align-middle">
				<colgroup>
					<col width="15%">
					<col width="45%">
					<col width="15%">
					<col width="25%">
				</colgroup>
				<tbody>
					<tr>
						<td>작성자</td>
						<td>[[${boardDetail.memberVO.memId}]]</td>
						<td>작성일</td>
						<td>[[${boardDetail.hbtBoardRegDate}]]</td>
					</tr>
					<tr>
						<td>제목</td>
						<td style="text-align: left; padding-left: 2rem;" class="board_title">[[${boardDetail.hbtBoardTitle}]]</td>
						<td>조회수</td>
						<td>[[${boardDetail.hbtBoardCnt}]]</td>
					</tr>
					<tr>
						<td>내용</td>
						<td colspan="3" style="text-align: left; padding-left: 2rem;" class="board_content">[[${boardDetail.hbtBoardContent}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row mb-3">
		<div class="col-10">
			<input class="form-control" type="text" name="">
		</div>
		<div class="col-2">
			<input th:onclick="regReply([[${boardDetail.memberVO.memId}]], [[${#authentication.name}]], [[${boardDetail.hbtBoardNum}]], this, [[${#authentication.authorities}]]);" class="btn btn-yellow-reverse w-100" type="button" value="댓글 달기">
		</div>
	</div>
	
	
	<div class="row">
		<div class="col reply_con">
			<div class="row" th:each="reply : ${replyList}" th:if="${reply.replyDepth == 1}">
				<div class="offset-1 col reply_div">
					<div class="row mt-3 mb-3">
						<div class="col">
							<div class="row">
								<div class="col">
									<span>[[${reply.memberVO.memId}]]</span>
									<span style="color: grey; font-size: 0.8rem;">/ [[${reply.hbtBoardReplyRegDate}]]</span>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col">
									[[${reply.hbtBoardReplyContent}]]
								</div>
							</div>
							<div class="row">
								<div class="col-1 me-3" th:if="${reply.memberVO.memId} == ${#authentication.name}">
									<input th:onclick="updateFormReply(this, [[${reply.hbtBoardReplyNum}]])" class="btn btn-gray" type="button" value="수정">
								</div>
								<div class="col-1 me-3" th:if="${reply.memberVO.memId} != ${#authentication.name}">
									<input th:onclick="regReReply(this, [[${reply.hbtBoardReplyNum}]], [[${#authentication.name}]], [[${reply.hbtBoardNum}]], [[${reply.memberVO.memId}]], [[${#authentication.authorities}]]);" class="btn btn-yellow-reverse" type="button" value="대댓글">
								</div>
								<th:block sec:authorize="hasRole('ROLE_USR')">
									<div class="col-1 me-3" th:if="${reply.memberVO.memId} == ${#authentication.name}">
										<input th:onclick="delReply([[${reply.hbtBoardReplyNum}]],  [[${#authentication.name}]], [[${reply.hbtBoardNum}]], [[${#authentication.authorities}]])" class="btn btn-red" type="button" value="삭제">
									</div>
								</th:block>
								<th:block sec:authorize="hasRole('ROLE_AD')">
									<div class="col-1 me-3" th:if="${reply.memberVO.memId} != ${#authentication.name}">
										<input th:onclick="delReply([[${reply.hbtBoardReplyNum}]], [[${#authentication.name}]], [[${reply.hbtBoardNum}]], [[${#authentication.authorities}]])" class="btn btn-red" type="button" value="삭제">
									</div>
									<div class="col-1 me-3" th:if="${reply.memberVO.memId} == ${#authentication.name}">
										<input th:onclick="delReply([[${reply.hbtBoardReplyNum}]], [[${#authentication.name}]], [[${reply.hbtBoardNum}]], [[${#authentication.authorities}]])" class="btn btn-red" type="button" value="삭제">
									</div>
								</th:block>
							</div>
						</div>
					</div>
					<th:block th:each="reReply : ${replyList}" th:if="${reReply.replyDepth == 2 and reReply.hbtBoardReplyNumFk == reply.hbtBoardReplyNum}">
						<div class="row mb-2 re_reply_div" >
							<div class="offset-1 col" >
								<div>
									<span style="font-size: 0.9rem;">[[${reReply.memberVO.memId}]]</span>
									<span style="font-size: 0.8rem; color: grey;">/ [[${reReply.hbtBoardReplyRegDate}]]</span>
								</div>
								<div>
									<span>[[${reReply.hbtBoardReplyContent}]]</span>
								</div>
							</div>
							<th:block sec:authorize="hasRole('ROLE_USR')">
								<div class="col-1 me-3" th:if="${reReply.memberVO.memId} == ${#authentication.name}">
									<input th:onclick="delReReply([[${reReply.hbtBoardReplyNum}]], [[${reReply.hbtBoardNum}]], [[${#authentication.name}]], [[${reReply.hbtBoardReplyNumFk}]], [[${#authentication.authorities}]]);" type="button" class="btn btn-red" value="삭제">
								</div>
							</th:block>
							<th:block sec:authorize="hasRole('ROLE_AD')">
								<div class="col-1 me-3" th:if="${reReply.memberVO.memId} != ${#authentication.name}">
									<input th:onclick="delReReply([[${reReply.hbtBoardReplyNum}]], [[${reReply.hbtBoardNum}]], [[${#authentication.name}]], [[${reReply.hbtBoardReplyNumFk}]], [[${#authentication.authorities}]]);" type="button" class="btn btn-red" value="삭제">
								</div>
								
								<div class="col-1 me-3" th:if="${reReply.memberVO.memId} == ${#authentication.name}">
									<input th:onclick="delReReply([[${reReply.hbtBoardReplyNum}]], [[${reReply.hbtBoardNum}]], [[${#authentication.name}]], [[${reReply.hbtBoardReplyNumFk}]], [[${#authentication.authorities}]]);" type="button" class="btn btn-red" value="삭제">
								</div>
							</th:block>
						</div>
					</th:block>
				</div>
			</div>
		</div>
	</div>
	
	
	
</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/board/board_gound_detail.js"></script>
</th:block>



</html>