<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   layout:decorate="~{fragment/board/board_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/board/getBoardGroundPage.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="board_content">

	<div class="row mb-3 under-line-ylS">
		<div class="col">
			<h3>고객센터 > <span th:each="boardSideMenu : ${boardSideMenuList}" th:if="${boardSideMenu.boardSideMenuCode == 'BS_MENU_002'}" th:value="boardSideMenu.boardSideMenuCode">[[${boardSideMenu.boardSideMenuName}]]</span></h3>
		</div>
	</div>
	<div class="row">
		<div class="col" id="wholeViewDiv">
		
		<form th:action="@{/board/getBoardGroundPage}" method="post" id="searchForm">
			<input type="hidden" name="orderBy" id="orderBy" th:value="${boardVO.groundSearchVO.orderBy}">
			<input type="hidden" name="groundSearchVO.nowPage" id="nowPage" th:value="${boardVO.groundSearchVO.nowPage}">
			<div class="row mb-3">
				<div class="col-2">
					<select class="form-select text-center" name="groundSearchVO.searchKey" id="searchKey">
						<option value="HBT_BOARD_TITLE" th:selected="${boardVO.groundSearchVO == null or boardVO.groundSearchVO.searchKey == 'HBT_BOARD_TITLE'}">제목</option>
						<option value="(SELECT MEM_ID FROM HBT_MEM WHERE MEM_CODE = HBT_BOARD.MEM_CODE)"
						th:selected="${boardVO.groundSearchVO != null and boardVO.groundSearchVO.searchKey == 
						'(SELECT MEM_ID FROM HBT_MEM WHERE MEM_CODE = HBT_BOARD.MEM_CODE)'}">작성자</option>
					</select>
				</div>
				<div class="col-8">
					<input class="form-control" type="text" name="groundSearchVO.searchVal" id="searchVal" th:value="${boardVO.groundSearchVO.searchVal}">
				</div>
				<div class="col-2">
					<input th:onclick="searchBoard();" class="form-control btn btn-warning w-100" type="button" value="검색" style="color: white;">
				</div>
			</div>
		</form>
		
		<div class="row mb-3">
			<div class="col">
				
				<div class="row mb-3">
					<div class="col">
						<input onclick="location.href='/board/getBoardGroundPage'" class="btn btn-secondary" type="button" value="전체 보기">
					</div>
					<div class="col text-end" sec:authorize="isAuthenticated()">
						<input th:onclick="regBoardForm([[${#authentication.name}]]);" class="btn btn-success" type="button" value="게시글 작성">
					</div>
				</div>
				
				<div class="row">
					<div class="col">
						<table class="table text-center table-hover list-table">
							<colgroup>
								<col width="10%">
								<col width="">
								<col width="10%">
								<col width="10%">
								<col width="15%">
								<col width="15%">
							</colgroup>
							<thead class="board-thead">
								<tr>
									<td>글번호</td>
									<td>제목</td>
									<td>조회수</td>
									<td>댓글수</td>
									<td>작성일</td>
									<td>작성자</td>
								</tr>
							</thead>
							<tbody id="board-tbody">
								<th:block th:each="board, state : ${boardList}">
									<tr class="align-middle">
										<td>[[${boardList.size() - state.index}]]</td>
										<td>
										<th:block th:if="${board.isPrivate } == null or ${board.isPrivate} == 'N'">
											<div>
												<span th:onclick="getBoardDetail([[${board.isPrivate}]], [[${board.hbtBoardNum}]])" class="pointer">[[${board.hbtBoardTitle}]]</span>
											</div>
										</th:block>
										<th:block th:if="${board.isPrivate } != null or ${board.isPrivate} == 'Y'">
											<div>
												<span th:onclick="getBoardDetail([[${board.isPrivate}]], [[${board.hbtBoardNum}]], this)" class="pointer">[[${board.hbtBoardTitle}]]</span>
												<img src="/imageForUse/lock.jpeg" style="width: 30px;">
											</div>
											<div class="row chkDiv">
											</div>
										</th:block>
										</td>
										<td>[[${board.hbtBoardCnt}]]</td>
										<td>[[${board.replyCnt}]]</td>
										<td>[[${board.hbtBoardRegDate}]]</td>
										<td>[[${board.memberVO.memId}]]</td>
									</tr>
								</th:block>
							</tbody>
						</table>
					</div>
				</div>
				
				
				
			</div>
		</div>
		
		<div class="row mb-3">
			<div class="col">
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center">
						<li class="page-item" th:classappend="${boardVO.groundSearchVO.prev ? '' : 'disabled'}">
							<a class="page-link" href="javascript:void(0);" th:onclick="getOrderListPaging([[${boardVO.groundSearchVO.beginPage - 1}]]);" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item"
						th:each="pageNum : ${#numbers.sequence(boardVO.groundSearchVO.beginPage, boardVO.groundSearchVO.endPage)}">
							<a class="page-link" href="javascript:void(0);" th:onclick="getOrderListPaging([[${pageNum}]]);"
							th:classappend="${pageNum == boardVO.groundSearchVO.nowPage ? 'active' : ''}">[[${pageNum}]]</a>
						</li>
						<li class="page-item" th:classappend="${boardVO.groundSearchVO.next ? '' : 'disabled'}">
							<a class="page-link" href="javascript:void(0);" th:onclick="getOrderListPaging([[${boardVO.groundSearchVO.endPage + 1}]]);" aria-label="next"> 
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	
		</div>
	</div>
	
</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/board/getBoardGroundPage.js"></script>
</th:block>



</html>