<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- item_list 헤더  -->
<link rel="stylesheet" href="/css/item/item_header.css">


</head>
<body>
<th:block layout:fragment="content">
<div class="container">
	<div class="row itemHeaderRow" style="margin-bottom: 1em;">
		<div class="col">
			<th:block th:replace="~{fragment/item/item_header::itemHeaderFragment}"></th:block>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<th:block layout:fragment="item_content"></th:block>
		</div>
	</div>
</div>

</th:block>

</body>
</html>