<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">




<th:block th:fragment="itemHeaderFragment">


	<div class="row" style="border-bottom: 1px solid #dee2e6;">
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
					<div class="navbar-nav">
						<a class="nav-link" th:href='@{/item/tourItemListDate?areaName=} + ${areaName}'>일자별 상세검색</a> <a
							class="nav-link" th:href='@{/item/tourItemListGroup?areaName=} + ${areaName}'>그룹별 상품보기</a>
					</div>
				</div>
			</div>
		</nav>
	</div>

<input type="hidden" name="areaName" id="areaName" th:value="${areaName}">
</th:block>


</html>