<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="adminSideFragment">
<!--좌측사이드바-->
<div class="left-side-bar">
    <!--좌측사이드바-아이콘-->
    <div class="icon-status">
        <span>▶</span>
        <span>▼</span>
    </div>
    <!--좌측사이드바-아이콘 끝-->
    <!--좌측사이드바-메뉴박스-->
    <nav class="menu-box-1">
        <ul>
            <li>
                <a th:href="@{/admin/itemManage}">상품 관리</a>
                <ul>
                    <li>
                        <a th:href="@{/admin/itemManageForSale}">판매 상품 관리</a>
                        <a th:href="@{/admin/regItem}">상품 등록</a>
                        <a th:href="@{/admin/cateManage}">카테고리 관리</a>
                    </li>
                </ul>
            </li>
            <li>
                <a th:href="@{/admin/memManage}">회원 관리</a>
                <ul>
                    <li>
                        <a th:href="@{/admin/memInfo}">회원 정보 조회</a>
                        <a href="#">회원 탈퇴 관리</a>
                        
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">예약 관리</a>
                <ul>
                    <li>
                        <a href="#">예약 조회 및 변경</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">매출 관리</a>
                <ul>
                    <li>
                        <a href="#">월별 매출 현황</a>
                        <a href="#">카테고리별 매출 현황</a>
                       
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">공지 및 문의 관리</a>
                <ul>
                    <li>
                        <a href="/admin/noticeManage">공지사항</a>
                        <a href="/admin/requestManage">1:1 문의 관리</a>
                       
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--좌측사이드바-메뉴박스-->
</div>
<!--좌측사이드바 끝-->
</th:block>	
</html>