<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="adminSideFragment">
<!--좌측사이드바-->
<div class="left-side-bar">
    <!--좌측사이드바-아이콘-->
    <div class="icon-status">
        <span>▶</span>
        <span>▼</span>
    </div>
    <!--좌측사이드바-아이콘 끝-->
    <!--좌측사이드바-메뉴박스-->
    <nav class="menu-box-1">
        <ul>
            <li>
                <a href="#">1차메뉴아이템 1</a>
                <ul>
                    <li>
                        <a href="#">2차메뉴아이템 1</a>
                        <ul>
                            <li><a href="#">3차메뉴아이템 1</a></li>
                            <li><a href="#">3차메뉴아이템 2</a></li>
                            <li><a href="#">3차메뉴아이템 3</a></li>
                            <li><a href="#">3차메뉴아이템 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">1차메뉴아이템 2</a>
                <ul>
                    <li>
                        <a href="#">2차메뉴아이템 1</a>
                        <ul>
                            <li><a href="#">3차메뉴아이템 1</a></li>
                            <li><a href="#">3차메뉴아이템 2</a></li>
                            <li><a href="#">3차메뉴아이템 3</a></li>
                            <li><a href="#">3차메뉴아이템 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">1차메뉴아이템 3</a>
                <ul>
                    <li>
                        <a href="#">2차메뉴아이템 1</a>
                        <ul>
                            <li><a href="#">3차메뉴아이템 1</a></li>
                            <li><a href="#">3차메뉴아이템 2</a></li>
                            <li><a href="#">3차메뉴아이템 3</a></li>
                            <li><a href="#">3차메뉴아이템 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#">1차메뉴아이템 4</a>
                <ul>
                    <li>
                        <a href="#">2차메뉴아이템 1</a>
                        <ul>
                            <li><a href="#">3차메뉴아이템 1</a></li>
                            <li><a href="#">3차메뉴아이템 2</a></li>
                            <li><a href="#">3차메뉴아이템 3</a></li>
                            <li><a href="#">3차메뉴아이템 4</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!--좌측사이드바-메뉴박스-->
</div>
<!--좌측사이드바 끝-->
</th:block>	
</html>