<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="footerFragment">
	
	
	<div class="row">
		<div class="col footer-navbar">
			<ul>
				<li><a href="#"><span>회사소개</span></a></li>
				<li><a href="#"><span>개인정보처리방침</span></a></li>
				<li><a href="#"><span>여행약관</span></a></li>
				<li><a href="#"><span>이용약관</span></a></li>
				<li><a href="#"><span>여행보험</span></a></li>
				<li><a href="#"><span>마케팅제휴문의</span></a></li>
				<li><a href="#"><span>온라인제휴안내</span></a></li>
				<li><a href="#"><span>여행플래너</span></a></li>
			</ul>
		</div>
	</div>
	
	<div class="row footer-content">
		<div class="col-2 footer-content-L">
			<h4>한별투어</h4>
		</div>
		<div class="col-7 footer-content-M">
			<div><span>* 예약 조건들에 대해 적을 수 있는 공간.</span></div>
			<div><span>한별투어 작업자 : 윤지수, 박한별, 박정현, 심영홍</span></div>
		</div>
		<div class="col-3 footer-content-R">
			<div class="row">
				<div class="col-6">
					이미지
				</div>
				<div class="col-6">
					연동될 소셜미디어
				</div>
			</div>
		</div>
	</div>
</th:block>


</html>