<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="memberSideFragment">
	<div class="row">
		<div class="col">
			<a th:href="@{/member/infoManage}"><span style=" color:#ffd000; font-size: 2rem; font-weight: bold; letter-spacing : -3px;">마이 페이지</span></a>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<hr width="240px" color="#fff" noshade/>
		</div>
	</div>
	
	<div class="row">
		<th:block>
			<div th:each="msMenu : ${msMenuList}" class="row">
				<div class="col ms_side_div">
					<h5>
						<a th:href="@{'/myPage/' + ${msMenu.msMenuUrl}}">[[${msMenu.msMenuName}]]</a>
					</h5>
				</div>
			</div>
		</th:block>
	</div>
	
</th:block>

</html>