<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/myPage/check_my_cart.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">
	<div class="row mb-3">
		<div class="col">
		
			<h3>DIY 패키지</h3>
			<th:block th:if="${diyList.size == 0}">
				<div class="row mt-3 mb-3">
					<div class="col">
						<span>아직 담긴 패키지가 없어요.</span>
						<p onclick="location.href='/item/diyTourItem'" class="pointer" style="text-decoration: underline;">패키지 담으러 가기!</p>
					</div>
				</div>
			</th:block>
			<th:block th:unless="${diyList.size == 0}">
				<div class="accordion" th:id="'accordionExample_'+${state.index}" th:each="tourInfo, state : ${diyList}">
					<div class="accordion-item mb-1">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" th:data-bs-target="'#collapse_'+${state.index}"
								aria-expanded="false" th:aria-controls="'collapse_'+${state.index}">
								<div class="row" style="width: 100%;">
									<div class="col-2">[[${tourInfo.traverPeriod-1}]]박[[${tourInfo.traverPeriod}]]일</div>
									<div class="col-4">
										<div class="row mb-2">
											<div class="col">
												<div class="row mb-1">
													<div class="col">
														출발 날짜: 
													</div>
												</div>
												<div class="row">
													<div class="col">
														[[${#strings.substring(tourInfo.departDate,0, 10)}]]
													</div>
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col">
												<div class="row mb-1">
													<div class="col">
														도착 날짜: 
													</div>
												</div>
												<div class="row">
													<div class="col">
														[[${#strings.substring(tourInfo.arriveDate,0, 10)}]]
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="col-4">
										<div class="row mb-2">
											<div class="col">
												[[${tourInfo.tourAreaVO.areaKorName}]]편
											</div>
										</div>
										<div class="row">
											<div class="col">
												[[${tourInfo.airlineCode}]]
											</div>
										</div>
									</div>
									<div class="col-2">[[${#numbers.formatCurrency(tourInfo.totalPrice)}]]</div>
								</div>
							</button>
						</h2>
						<div th:id="'collapse_'+${state.index}" class="accordion-collapse collapse "
							data-bs-parent="#accordionExample">
							<div class="accordion-body row" th:each="diyDetail, state_ : ${tourInfo.diyDetailList}">
								<div class="col-1">[[${diyDetail.hbtDiyDay}]] 일차</div>
								<div class="col-9">
									<div class="row mb-2">
										<div class="col-2">패키지</div>
										<th:block th:if="${diyDetail.hbtTourItemCode == null}">
											<div class="col">선택된 패키지가 없습니다.</div>
										</th:block>
										<th:block th:unless="${diyDetail.hbtTourItemCode == null}">
											<div class="col-4">[[${diyDetail.tourItemList[0].hbtTourItemName}]]</div>
											<div class="col">일정 : [[${diyDetail.tourItemList[0].hbtTourItemRunTime}]]</div>
											<div class="col">[[${#numbers.formatCurrency(diyDetail.tourItemList[0].hbtTourItemPrice)}]]</div>
										</th:block>
									</div>
									<div class="row">
										<div class="col-2">호텔</div>
										<th:block th:if="${diyDetail.hbtHotelCode == null}">
											<div class="col">선택된 호텔이 없습니다.</div>
										</th:block>
										<th:block th:unless="${diyDetail.hbtHotelCode == null}">
											<div class="col-4">[[${diyDetail.hotelList[0].hbtHotelName}]]</div>
											<div class="col-3">평점 : [[${diyDetail.hotelList[0].hbtHotelGrade}]]</div>
											<div class="col-3">[[${#numbers.formatCurrency(diyDetail.hotelList[0].hbtHotelPrice)}]]</div>
										</th:block>
									</div>
								</div>
								<div class="col-2" th:if="${state_.index == 0}">
									<span data-bs-toggle="modal" data-bs-target="#detailModal" th:onclick="checkDetail(null, [[${tourInfo}]])" style="cursor: pointer;">상세 보기</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
			
		</div>
	</div>
	
	<div class="row mb-3">
		<div class="col">
			<h3>단일 패키지</h3>
			
			<th:block th:if="${myCartList.size == 0}">
				<div class="row mt-3 mb-3">
					<div class="col">
						<span>아직 담긴 패키지가 없어요.</span>
						<p onclick="location.href='/item/tourItemListGroup'" class="pointer" style="text-decoration: underline;">패키지 담으러 가기!</p>
					</div>
				</div>
			</th:block>
			<th:block th:unless="${myCartList.size == 0}">
				<div class="accordion" th:id="'accordionExample__'+${state.index}" th:each="myCart, state : ${myCartList}">
					<div class="accordion-item mb-1">
						<h2 class="accordion-header">
							<button class="accordion-button collapsed" type="button"
								data-bs-toggle="collapse" th:data-bs-target="'#collapse__'+${state.index}"
								aria-expanded="false" th:aria-controls="'collapse__'+${state.index}">
								<div class="row" style="width: 100%;">
									<div class="col-2">[[${myCart.itemVO.traverPeriod}]]</div>
									<div class="col-5">[[${myCart.itemVO.itemTitle}]]</div>
									<div class="col-3">[[${#numbers.formatCurrency(myCart.cartTotalPrice)}]]</div>
									<div class="col-2">[[${myCart.regDate}]]</div>
								</div>
							</button>
						</h2>
						
						<div th:id="'collapse__'+${state.index}" class="accordion-collapse collapse "
							data-bs-parent="#accordionExample">
							<div class="accordion-body row">
								<div class="col-1"></div>
								<div class="col-5">[[${myCart.itemVO.itemIntro}]]</div>
								<div class="col-2">[[${myCart.numOfPeople}]] ( 명 )</div>
								<div class="col-2">[[${myCart.itemVO.tourAreaVO.areaKorName}]]</div>
								<div class="col-2">
									<span data-bs-toggle="modal" data-bs-target="#detailModal" style="cursor: pointer;" th:onclick="checkDetail([[${myCart}]], null);">상세 보기</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>
	</div>
	
	<!-- detailModal -->
	<div class="modal fade" id="detailModal" data-bs-keyboard="false"
		tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" style="max-width: 1000px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row mb-2">
						<div class="col">
							<h3 class="modal_header">담은 상품</h3>
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="col diy_tour_div_col">
						</div>
					</div>
					
					<div class="row mb-2">
						<div class="col my_cart_div_col">
						</div>
					</div>
					
					<div class="row mb-2 justify-content-center modal_btn_div">
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
	
	
	

</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/check_my_cart.js"></script>
</th:block>



</html>