<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/myPage/check_my_cart.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">
	[[${testTourList}]]
	<div class="row mb-3">
		<div class="col">
		
			<h3>DIY 패키지 / test.Ver</h3>
			
			<div class="accordion" id="accordionExample" th:each="tourInfo, state : ${diyTourList}">
				<div class="accordion-item mb-1">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" th:data-bs-target="'#collapse__'+${state.index}"
							aria-expanded="false" th:aria-controls="'collapse__'+${state.index}">
							<div class="row" style="width: 100%;">
								<div class="col-2">[[${tourInfo.traverPeriod}]]박[[${tourInfo.traverPeriod} + 1]]일</div>
								<div class="col-5">[[${tourInfo.tourAreaVO.areaKorName}]]편 - [[${tourInfo.airlineCode}]]</div>
								<div class="col-3">
									<div class="row mb-1">
										<div class="col">
											<div class="row">
												<div class="col">
													출발 시간 : 
												</div>
											</div>
											<div class="row">
												<div class="col">
													[[${tourInfo.departDate}]]
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col">
											<div class="row">
												<div class="col">
													도착 시간 : 
												</div>
											</div>
											<div class="row">
												<div class="col">
													[[${tourInfo.arriveDate}]]
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-2">[[${#numbers.formatCurrency(tourInfo.totalPrice)}]]</div>
							</div>
						</button>
					</h2>
					<div th:id="'collapse__'+${state.index}" class="accordion-collapse collapse "
						data-bs-parent="#accordionExample" onclick="chkDetail();">
						<div class="accordion-body row" th:each="aaa, state : ${tourInfo.diyDetailList}">
							<div class="col">[[${aaa.hbtDiyDay}]]</div>
							<div class="col">2</div>
							<div class="col">3</div>
							<div class="col">4</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
	
	
	<div class="row mb-3">
		<div class="col">
		
			<h3>DIY 패키지 / 아마 이부분은 한번더 봐야할듯?</h3>
			
			<div class="accordion" id="accordionExample" th:each="myDiy, state : ${myDiyList}">
				<div class="accordion-item mb-1">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" th:data-bs-target="'#collapse_'+${state.index}"
							aria-expanded="false" th:aria-controls="'collapse_'+${state.index}">
							<div class="row" style="width: 100%;">
								<div class="col-2">[[${myDiy.traverPeriod}]]박[[${myDiy.traverPeriod} + 1]]일</div>
								<div class="col-5">[[${myDiy.airlineCode}]] / [[${myDiy.areaCode}]]</div>
								<div class="col-3">[[${#numbers.formatCurrency(myDiy.totalPrice)}]]</div>
								<div class="col-2">
									<div class="row mb-1">
										<div class="col">
											출발 시간 : [[${myDiy.departDate}]]
										</div>
									</div>
									<div class="row">
										<div class="col">
											도착 시간 : [[${myDiy.arriveDate}]]
										</div>
									</div>
								</div>
							</div>
						</button>
					</h2>
					<div th:id="'collapse_'+${state.index}" class="accordion-collapse collapse "
						data-bs-parent="#accordionExample" onclick="chkDetail();">
						<div class="accordion-body row">
							<div class="col">1</div>
							<div class="col">2</div>
							<div class="col">3</div>
							<div class="col">4</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="row">
		<div class="col">
			단일 패캐지 모달 서브 이미지 이상함
		</div>
	</div>
	
	<div class="row mb-3">
		<div class="col">
			<h3>단일 패키지</h3>
			
			<div class="accordion" id="accordionExample" th:each="myCart, state : ${myCartList}">
				<div class="accordion-item mb-1">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button"
							data-bs-toggle="collapse" th:data-bs-target="'#collapse'+${state.index}"
							aria-expanded="false" th:aria-controls="'collapse'+${state.index}">
							<div class="row" style="width: 100%;">
								<div class="col-2">[[${myCart.itemVO.traverPeriod}]]</div>
								<div class="col-5">[[${myCart.itemVO.itemTitle}]]</div>
								<div class="col-3">[[${#numbers.formatCurrency(myCart.cartTotalPrice)}]]</div>
								<div class="col-2">[[${myCart.regDate}]]</div>
							</div>
						</button>
					</h2>
					
					<div th:id="'collapse'+${state.index}" class="accordion-collapse collapse "
						data-bs-parent="#accordionExample">
						<div class="accordion-body row">
							<div class="col-2">
								<span data-bs-toggle="modal" data-bs-target="#detailModal" style="cursor: pointer;" th:onclick="getImgList([[${myCart.itemVO.imgList}]]);">이미지 보기</span>
							</div>
							<div class="col-5">[[${myCart.itemVO.itemIntro}]]</div>
							<div class="col-3">[[${myCart.numOfPeople}]] ( 명 )</div>
							<div class="col-2">[[${myCart.itemVO.tourAreaVO.areaKorName}]]</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			3
		</div>
	</div>
	
	
	<!-- detailModal -->
	<div class="modal fade" id="detailModal" data-bs-keyboard="false"
		tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog" style="max-width: 1000px;">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row mb-3">
						<div class="col">
							메인 이미지
						</div>
					</div>
					<div class="row mb-3">
						<div class="col main_img_col">
						</div>
					</div>
					<div class="row mb-3">
						<div class="col">
							기타 이미지
						</div>
					</div>
					<div class="row mb-3">
						<div class="col sub_img_col">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	

</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/check_my_cart.js"></script>
</th:block>



</html>