<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/info_manage.css">
	<link rel="stylesheet" href="/css/content/member/myPage/check_my_reservation.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">

	<div class="row mb-1 mt-2">
		<div class="col title">
			예약 및 취소 조회 
		</div>
	</div>
		
	
	<div class="row mb-3">
	    <div class="col content-box">
            <ul class="my-page-step">
                <li th:each="buyStatus : ${buyStatusCodeCountList}">
                    <em th:text="${buyStatus.buyStatusCount}" class="num"></em>
                    <span  th:text="${buyStatus.buyStatusName}"></span>
                </li>
            </ul>
	    </div>
	</div>
	
	
	<div class="row">
		<div class="col search-period">
			<form id="month-form" th:action="@{/myPage/checkMyReservation}" method="post">
				<input type="hidden" value="" name="month">
			</form>
			<form th:action="@{/myPage/checkMyReservation}" method="post">
				<input type="hidden" name="nowPage" th:value="${buyVO.nowPage}" id="nowPage">
				<div class="row">
					<div class="col-7 select-range">
						<p id="first">구매기간</p>
						<ul class="select-month">
							<li>
								<input type="button" class="btn btn-dark" value="전체" onclick="get_buy_list(0);">
							</li>
							<li>
								<input type="button" class="btn btn-dark" value="1개월" onclick="get_buy_list(-1);">
							</li>
							<li>
								<input type="button" class="btn btn-dark" value="3개월" onclick="get_buy_list(-3);">
							</li>
							<li>
								<input type="button" class="btn btn-dark" value="6개월" onclick="get_buy_list(-6);">
							</li>
							<li>
								<input type="button" class="btn btn-dark" value="12개월" onclick="get_buy_list(-12);">
							</li>
						</ul>
					</div>
					<div class="col-1 select-range mt-4">
						<span id="first">구매기간</span>
					</div>
					<div class="col-3 select-range mt-4">
						<select class="form-select" name="searchStatusCode" id="searchStatusCode">
							<option value="0" th:selected="${buyVO == null or buyVO.searchStatusCode == 0}">전체</option>
							<option value="1" th:selected="${buyVO != null and buyVO.searchStatusCode == 1}">결제완료</option>
							<option value="2" th:selected="${buyVO != null and buyVO.searchStatusCode == 2}">예약완료</option>
							<option value="3" th:selected="${buyVO != null and buyVO.searchStatusCode == 3}">취소요청</option>
							<option value="4" th:selected="${buyVO != null and buyVO.searchStatusCode == 4}">취소완료</option>
						</select>
					</div>
				</div>
					
				<div class="row">
				    <div class="col select-range" style="display: flex;">
				        <p style="margin-right: 14px;">직접 입력</p>
				        <div class="col-4 d-grid" style="margin-right: 10px;">
				            <input name="fromDate"id="fromDate" type="date" class="form-control" th:value="${buyVO.fromDate}">
				        </div>
				        <div class="col-1 text-center" style="margin-right: 10px;">
				            <span class="">~</span>
				        </div>
				        <div class="col-4 d-grid" style="margin-right: 10px;">
				            <input name="toDate" id="toDate" type="date" class="form-control" th:value="${buyVO.toDate}">
				        </div>
				        <div class="col-1 d-grid">
				            <input type="submit" class="btn btn-secondary" value="검색">
				        </div>
				    </div>
				</div>
				
			</form>
		</div>
	</div>
	
	
	
	<div class="row">
		<div class="col mb-5 mt-4">
			<table class="table table-reservation">
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="*">
					<col width="5%">
					<col width="15%">
					<col width="15%">
					<col width="10%">
					<col width="10%">
				</colgroup>
				<thead class="text-center">
					<tr>
						<td>결제일자</td>
						<td>여행국가</td>
						<td>상품</td>
						<td>인원</td>
						<td>출발일자</td>
						<td>도착일자</td>
						<td>결제금액</td>
						<td>상태</td>
					</tr>
				</thead>
				
				<tbody>
					<th:block th:if="${#lists.size(buyList) == 0}">
							<tr class="text-center">
								<td colspan="8">
								<br>
								<br>
								<br>
									<div style="font-size: 4rem; color: #bbb;">
										<i class="bi bi-exclamation-circle"></i>
									</div>
									<div>
										기간내 예약내역이 없습니다.
									</div>
								<br>	
								<br>	
								<br>	
								</td>
							</tr>
					</th:block>
					<th:block th:if="${#lists.size(buyList) != 0}">
						<th:block th:each="buy : ${buyList}">
							<tr th:each="buyDetail : ${buy.buyDetailVO}">
					            <td class="text-center">
						            <div style="color: #131518; font-weight:bolder;">[[${buy.buyDate}]]</div>
						            <div style="color: #ffd000;">[[${buy.buyCode}]]</div>
						            <div>
						            	<a th:href="@{/myPage/reservationDetail(buyCode=${buy.buyCode})}"><span style="font-size: 0.9rem; text-decoration:underline;">상세보기</span></a>
						            </div>
					            </td>
						        <td class="text-center" th:text="${buyDetail.itemVO.tourAreaVO.areaKorName}" style="font-weight: 700; font-weight: bolder;"></td>
						        <td>
						        	<img th:src="${'/img/item/itemImg/' + buyDetail.itemVO.imgList[0].itemImgAttachedName}" 
						        	style="width: 85px; height: 85px;">
						            <span th:text="${buyDetail.itemVO.itemTitle}" style="color: #333; word-spacing: -1px;"></span>
						        </td>
						        <td th:text="${buyDetail.reservedPeopleNum}"></td>
						        <td th:text="${buyDetail.departDate}"></td>
						        <td th:text="${buyDetail.arriveDate}"></td>
						        <td style="color: #f27370;">
						        	 [[${#numbers.formatCurrency(buyDetail.buyDPrice).substring(1)}]] 원
					        	</td>
						        <td>
							        <div>
							        	<span id="statusCode" style="font-weight: bolder;" th:value="${buy.buyStateVO.buyStatusCode}">[[${buy.buyStateVO.buyStatusName}]]</span>
							        </div>
							        <div id="reviewBtn">
							        	<button class="btn btn-outline-secondary btn-sm mt-2 reviewBtn"
							        	th:if="${buy.buyStateVO.buyStatusCode == 1}"
							        	th:onclick="cancel_reservation([[${buy.buyCode}]])">예약취소</button>
							        </div>
							        <div id="cancelBtn">
							        	<a th:href="@{/myPage/reservationDetail}">
							        	<button class="btn btn-outline-secondary btn-sm mt-2 cancelBtn" 
							        	th:if="${buy.buyStateVO.buyStatusCode == 2}">리뷰작성</button>
							        	</a>
							        </div>
						        </td>
							</tr>
						</th:block>
					</th:block>
				</tbody>
				 
			</table>
		
		</div>
	</div>
	
	
	<!-- 페이징 처리 -->					
	<div class="row justify-content-center">
		<div class="col-3">
		
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			  
			    <li class="page-item" th:classappend="${buyVO.prev ? '' : 'disabled'}">
			      <a class="page-link" href="javascript:void(0);" aria-label="Previous"
			       th:onclick="get_buy_list_paging('[[${buyVO.beginPage - 1}]]');">
			        <span aria-hidden="true">&lt;</span>
			      </a>
			    </li>
			    
			    
			    <li class="page-item" 
			    th:each=" pageNum : ${#numbers.sequence(buyVO.beginPage, buyVO.endPage)}">
			    	<a th:classappend="${buyVO.nowPage == pageNum ? 'active' : ''}" class="page-link"
			    	href="javascript:void(0);" th:onclick="get_buy_list_paging('[[${pageNum}]]');">[[${pageNum}]]</a>
			    </li>
			    
			    
			    <li class="page-item" th:classappend="${buyVO.next ? '' : 'disabled'}">
			      <a class="page-link" href="javascript:void(0);" aria-label="Next"
			       th:onclick="get_buy_list_paging('[[${buyVO.endPage + 1}]]');">
			        <span aria-hidden="true">&gt;</span>
			      </a>
			    </li>
			    
			  </ul>
			</nav>
			
		</div>
	</div>
	
	



</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/check_my_reservation.js"></script>
</th:block>



</html>