<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/myPage/check_my_review.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">
	<div class="row mb-3">
		<div class="offset-8 col-2">
			<input th:onclick="getNeedReview([[${#authentication.name}]]);" type="button" class="btn ye-bc w-100" value="미작성 후기" style="color: grey;">
		</div>
		<div class="col-2">
			<input th:onclick="getAllReview([[${#authentication.name}]]);" type="button" class="btn ye-S-bc w-100" value="작성 후기" style="color: grey;">
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-md-6">
			<h3 class="mb-2">구매 내역 <span style="font-size: 1rem;">( [[${myBuyList.size}]] )</span></h3>
			<table class="table text-center table-hover pointer">
				<colgroup>
					<col width="8%">
					<col width="">
					<col width="">
					<col width="">
				</colgroup>
				<thead class="table-thead ye-bc">
					<tr>
						<td>No.</td>
						<td>구매코드</td>
						<td>구매가격</td>
						<td>구매일자</td>
					</tr>
				</thead>
				<tbody>
					<th:block th:if="${myBuyList.size == 0}">
						<tr>
							<td colspan="4">구매 내역이 존재하지 않습니다.</td>
						</tr>
					</th:block>
					<th:block th:unless="${myBuyList.size == 0}">
						<tr th:each="buy, state : ${myBuyList}" th:onclick="getMyReview([[${buy.buyCode}]]);">
							<td>[[${myBuyList.size - state.index}]]</td>
							<td>[[${buy.buyCode}]]</td>
							<td>[[${buy.buyTotalPrice}]]</td>
							<td>[[${buy.buyDate}]]</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
		<div class="col-md-6 get_result_area">
			<span>상단 버튼 클릭 시 목록을 확인할 수 있습니다.</span>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/check_my_review.js"></script>
</th:block>



</html>