<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
<link rel="stylesheet" href="/css/content/member/myPage/diy_detail.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">

<div class="container">

<div class="row mb-4 mt-2">
	<div class="col title">
		상세정보
	</div>
</div>


<!--  예약한 상품 간략한 정보  -->

<!-- 상단 바 -->
<div class="row upper-box mb-3">
	<div class="col-3 text-end">예약일자  : <span class="bold">[[${tourDetail.diyTourBuyDate}]]</span></div>
	<div class="col-9">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;예약번호 : <span class="bold" style="text-decoration:underline; color: #ffd000;">[[${tourDetail.hbtDiyCode}]]</span></div>
</div>
 
<div class="row mb-1">
	<div class="col title-md">
		✈️&nbsp;&nbsp;예약 상품 
	</div>
</div> 
 
<div class="row">
	<div class="col mb-2 mt-4">
		<table class="table table-reservation">
			<colgroup>
				<col width="15%">
				<col width="15">
				<col width="15%">
				<col width="20%">
				<col width="20%">
				<col width="15%">
			</colgroup>
			<thead class="text-center">
				<tr>
					<td>여행국가</td>
					<td>항공사</td>
					<td>출발일자</td>
					<td>도착일자</td>
					<td>여행기간</td>
					<td>여행상태</td>
				</tr>
			</thead>
			
			<tbody>
				<tr class="table-tr">
		            <td class="text-center">
			            <div style="color: #131518; font-weight:bolder;">[[${tourDetail.tourAreaVO.areaKorName}]]</div>
		            </td>
		            <td>
			        	<div class="col">
							<img th:src="${'/img/item/airlineIcon/' + tourDetail.airlineVO.hbtAirlineIcon}" alt="Airline Icon">
			        		<span>[[${tourDetail.airlineVO.hbtAirlineName}]]</span>
			        	</div>
			        </td>
			        <td th:text="${tourDetail.departDate}" class="date-td"></td>
			        <td th:text="${tourDetail.arriveDate}" class="date-td"></td>
		        	<td>
		        	[[${tourDetail.traverPeriod - 1}]]박 [[${tourDetail.traverPeriod}]]일
		        	</td>
			        <td>
				        <div>
				        	<span id="statusCode" style="font-weight: bolder;" th:value="${tourDetail.buyStatusCode}">[[${tourDetail.buyStateVO.buyStatusName}]]</span>
				        </div>
				        <div id="cancelBtn">
				        	<button class="btn btn-outline-secondary btn-sm mt-2 cancelBtn"
				        	th:if="${tourDetail.buyStatusCode == '1'}"
				        	th:onclick="cancel_reservation([[${tourDetail.buyStatusCode}]])">예약취소</button>
				        </div>
				        <div id="reviewBtn">
				        	<a th:href="@{/myPage/checkMyReview(memCode=${tourDetail.memCode})}">
				        		<button class="btn btn-outline-secondary btn-sm mt-2 reviewBtn" 
				        		th:if="${tourDetail.buyStatusCode == '2'}">리뷰작성</button>
				        	</a>
				        </div>
			        </td>
				</tr>
			</tbody>
			 
		</table>

	</div>
</div>



<!-- 결제 금액  -->
 
<div class="row">
	<div class="col text-end">
		<span class="total-price-tit">총 결제 금액</span>
		<span class="total-price">[[${#numbers.formatCurrency(tourDetail.totalPrice).substring(1)}]] 원</span>
	</div>
</div>


<!-- 예약자 정보 -->
<div class="row mb-3">
	<div class="col title-md">
		👤&nbsp;&nbsp;예약자 정보
	</div>
</div>
	
<div class="row">
	<div class="col mb-3">
		<table class="table personal-info">
			<colgroup>
				<col width="20%">
				<col width="*">
			</colgroup>
			<tbody>
				<tr>
					<th>이름</th>
					<td>[[${memInfo.memName}]]</td>
				</tr>
				<tr>
				    <th>연락처</th>
				    <td>
				        <span th:text="${#strings.length(memInfo.memberDetailVO.memDTell) == 11 ? 
				                        #strings.substring(memInfo.memberDetailVO.memDTell, 0, 3) + '-' +
				                        #strings.substring(memInfo.memberDetailVO.memDTell, 3, 7) + '-' +
				                        #strings.substring(memInfo.memberDetailVO.memDTell, 7) :
				                        #strings.substring(memInfo.memberDetailVO.memDTell, 0, 3) + '-' +
				                        #strings.substring(memInfo.memberDetailVO.memDTell, 3, 6) + '-' +
				                        #strings.substring(memInfo.memberDetailVO.memDTell, 6) }"></span>
				    </td>
				</tr>
				<tr>
					<th>주소</th>
					<td>
						[[${memInfo.memberDetailVO.memDAddr}]]
						[[${memInfo.memberDetailVO.memDAddr2}]]
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
	



<!-- 일자별 일정  -->
<div class="row mb-3">
	<div class="col title-md">
	🗓&nbsp;&nbsp;여행 일자별 예약 정보 
	</div>
</div>


<th:block>
	<table class="table day-info-table mt-3 mb-3">
	    <thead>
	        <tr>
	            <td>Day</td>
	            <td>호텔</td>
	            <td>투어</td>
	        </tr>
	    </thead>
	    
	     <tbody>
				<th:block th:each="detail : ${resultList}">
					<tr>
				   		<td style="color: #ffd000;">[[${detail.hbtDiyDay}]] 일차 </td>
				    	<td th:if="${detail.hotelList == null or #lists.size(detail.hotelList) == 0}"><i class="bi bi-dash-lg" style="color:#d6d6d6;"></i></td>
				    	<td th:if="${detail.hotelList != null and #lists.size(detail.hotelList) != 0}" style="font-weight: bolder;">[[${detail.hotelList[0].hbtHotelName}]]</td>
				    	<td th:if="${detail.tourItemList == null or #lists.size(detail.tourItemList) == 0}"><i class="bi bi-dash-lg" style="color:#d6d6d6;"></i></td>
				    	<td th:if="${detail.tourItemList != null and #lists.size(detail.tourItemList) != 0}" style="font-weight: bolder;">[[${detail.tourItemList[0].hbtTourItemName}]]</td>
					</tr>
				</th:block>
		</tbody>
	</table>
</th:block>

<!-- 예약 별 투어, 호텔 정보 -->
<div class="row mb-3">
	<div class="col title-md">
	🏨&nbsp;&nbsp;예약 호텔 정보 
	</div>
</div>

<div class="row info-row">
 <th:block th:each="diy : ${hotelInfoList}">
    <th:block th:each="diyDetail, detailStat : ${diy.diyDetailList}">
      <!-- Text data part -->
      <div class="col-md-7 mb-3 info">
        <table class="table info-table">
        	<tbody>
	            <tr>
	            	<th>이름 : </th>
	            	<td th:text="${diyDetail.hotelList[0].hbtHotelName}"></td>
	            </tr>
	            <tr>
	            	<th>평점 : </th>
	            	<td><span style="font-weight: bolder; color: #ffd000;">[[${diyDetail.hotelList[0].hbtHotelGrade}]]</span> / 5 </td>
	            </tr>
	            <tr>
	            	<th>해당 국가 : </th>
	            	 <td th:text="${diy.tourAreaVO.areaKorName}"></td>
	            </tr>
	            <tr>
	            	<th>1박당 가격 : </th>
	            	<td>
	               	[[${#numbers.formatCurrency(diyDetail.hotelList[0].hbtHotelPrice).substring(1)}]] 원
	                </td>
	            </tr>
	        <tbody>
    	</table>
      </div>
      
      <!-- Image slider part -->
  
      <div class="col-md-5 mb-3">
        <div th:id="'carouselControls' + ${detailStat.index}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <th:block th:each="hotelImg, iterStat : ${diyDetail.hotelList[0].hotelImgList}">
              <div class="carousel-item" th:classappend="${iterStat.first} ? active : ''">
                <img th:src="${'/img/item/hotel/' + hotelImg.hbtHotelAttechedFileName}" class="d-block w-100" alt="예약 호텔 이미지">
              </div>
            </th:block>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="'#carouselControls' + ${detailStat.index}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prev</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="'#carouselControls' + ${detailStat.index}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
    </th:block>
  </th:block>
</div>


<div class="row">
	<th:block th:each="diy : ${hotelInfoList}">
	    <th:block th:each="diyDetail, detailStat : ${diy.diyDetailList}">
	      <div class="col-md-6 mb-3 under">
	        <table class="table under-table">
	        	<tbody>
		             <tr>
		            	<th>추가 정보 : </th>
		            	 <td>
							<div class="scrollable-text">[[${diyDetail.hotelList[0].hbtHotelIntro}]]</div>
		            	 </td>
		            </tr>
		        <tbody>
	    	</table>
	      </div>
		</th:block>
	  </th:block>
</div>


<!-- 선 -->
<div class="mt-5 mb-4">
	<hr class="line">
</div>



<div class="row mb-3">
	<div class="col title-md">
	😎&nbsp;&nbsp;예약 투어 정보 
	</div>
</div>



<div class="row info-row">
 <th:block th:each="diy : ${tourInfoList}">
    <th:block th:each="diyDetail, detailStat : ${diy.diyDetailList}">
      <!-- Text data part -->
      <div class="col-md-7 mb-3 info">
        <table class="table info-table">
        	<tbody>
	            <tr>
	            	<th>이름 : </th>
	            	<td th:text="${diyDetail.tourItemList[0].hbtTourItemName}"></td>
	            </tr>
	            <tr>
	            	<th>투어 국가 : </th>
	            	 <td th:text="${diy.tourAreaVO.areaKorName}"></td>
	            </tr>
	            <tr>
	            	<th>투어 소요시간 : </th>
	            	<td th:text="${diyDetail.tourItemList[0].hbtTourItemRunTime}"></td>
	            </tr>
	            <tr>
	            	<th>1인 참여 가격 : </th>
	            	<td>
	                [[${#numbers.formatCurrency(diyDetail.tourItemList[0].hbtTourItemPrice).substring(1)}]] 원
	                </td>
	            </tr>
	        <tbody>
    	</table>
      </div>
      
      <!-- Image slider part -->
      <div class="col-md-5 mb-3">
        <div th:id="'carouselControl' + ${detailStat.index}" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <th:block th:each="tourImg, iterStat : ${diyDetail.tourItemList[0].tourItemImgList}">
              <div class="carousel-item" th:classappend="${iterStat.first} ? active : ''">
                <img th:src="${'/img/item/tourItem/' + tourImg.hbtTourItemAttechedFileName}" class="d-block w-100" alt="예약 투어 이미지">
              </div>
            </th:block>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="'#carouselControl' + ${detailStat.index}" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prev</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="'#carouselControl' + ${detailStat.index}" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      
      
    </th:block>
  </th:block>
</div>

	<div class="row">
		<th:block th:each="diy : ${tourInfoList}">
		    <th:block th:each="diyDetail, detailStat : ${diy.diyDetailList}">
		      <div class="col-md-6 mb-3 under">
		        <table class="table under-table">
		        	<tbody>
			            <tr>
			            	<th>추가 정보 : </th>
			            	<td>
								<div class="scrollable-text">[[${diyDetail.tourItemList[0].hbtTourItemIntro}]]</div>
			            	</td>
			            </tr>
			        <tbody>
		    	</table>
		      </div>
			</th:block>
		  </th:block>
	</div>

	<!-- 선 -->
	<div class="mt-5 mb-4">
		<hr class="line">
	</div>

	<!-- 유의 사항 -->
	<div class="info-under">
		<ul>
			<li>
				예약취소는 [결제완료] 상태까지 가능합니다. [예약완료]상태는 고객센터로 문의 부탁드립니다.
			</li>
		</ul>
	</div>

	<div class="offset-5 col-2 d-grid mb-5">
		 <a class="btn btn-yellow-line text-center" th:href="@{/myPage/checkDiyReservation}">
    	    목록
   		</a>
	</div>

</div>


</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/diy_detail.js"></script>
</th:block>



</html>