<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/myPage/reg_request_form.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">
<div class="row mb-3">
	<div class="col">
		<h3>문의 등록하기</h3>
		<form action="/myPage/regRequest" method="post" id="regRequestForm">
			<input type="hidden" name="isAnswer" value="N">
			<input type="hidden" name="itemVO.itemCode" id="itemCode">
			<table class="table text-center reg-req-table">
				<colgroup>
					<col width="25%">
					<col width="25%">
					<col width="25%">
					<col width="25%">
				</colgroup>
				<tbody>
					<tr>
						<td>문의자</td>
						<td>
							<span>[[${memInfo.memId}]]</span>
							<input type="hidden" name="memberVO.memCode" th:value="${memInfo.memCode}">
						</td>
						<td>문의글 비번</td>
						<td>
							<input type="text" name="requestPw" id="requestPw" class="form-control">
						</td>
					</tr>
					<tr>
						<td>문의 유형</td>
						<td>
							<select onchange="selectType();" class="form-select text-center" id="typeRequestCode" name="typeRequestVO.typeRequestCode">
								<th:block th:each="typeRequest : ${typeRequestList}">
									<option th:value="${typeRequest.typeRequestCode}">[[${typeRequest.typeRequestName}]]</option>
								</th:block>
							</select>
						</td>
						<td>상품 선택 시 상품코드</td>
						<td>
							<input type="text" name="ItemVO.itemCode" id="showItemCode" class="form-control" disabled>
						</td>
					</tr>
					<tr class="img_tr hide">
						<td>
							상품 목록
						</td>
						<td colspan="3">
							<div class="row row-cols-4">
								<div th:each="itemImg : ${itemImgList}" class="item_img_div col">
									<input type="hidden" name="selecteditemCode" th:value="${itemImg.itemCode}">
									<img onclick="selectItem(this);" class="pointer" th:src="@{/img/item/itemImg/} + ${itemImg.imgList[0].itemImgAttachedName}">
									<p>[[${itemImg.itemTitle}]]</p>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>제목</td>
						<td colspan="3">
							<input type="text" name="hbtBoardRequestTitle" id="hbtBoardRequestTitle" class="form-control">
						</td>
					</tr>
					<tr>
						<td>내용</td>
						<td colspan="3">
							<textarea rows="5" name="hbtBoardRequestContent" id="hbtBoardRequestContent" class="form-control"></textarea>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

<div class="row justify-content-center">
	<div class="col-2">
		<input th:onclick="|location.href='@{/myPage/checkMyRequest(memCode=${memInfo.memCode}, memId=${memInfo.memId})}'|" class="btn btn-gray w-100" type="button" value="뒤로 가기">
	</div>
	<div class="col-2">
		<input class="btn btn-yellow-reverse w-100" type="button" value="문의 등록" onclick="regRequest();">
	</div>
</div>

</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/reg_request_form.js"></script>
</th:block>



</html>