<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/member/member_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/myPage/reservation_detail.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="member_content">

<div class="container">

	<div class="row mb-3 mt-2">
		<div class="col title">
			상세 정보
		</div>
	</div>
	
	<!-- 상단 바 -->
	<div class="row upper-box mb-3">
		<div class="col-3 text-end">예약일자  : <span class="bold">[[${buyDetail.buyDate}]]</span></div>
		<div class="col-9">|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;예약번호 : <span class="bold" style="text-decoration:underline; color: #ffd000;">[[${buyDetail.buyCode}]]</span></div>
	</div>
	
	<!-- 예약 상품 정보 -->
	<div class="row mb-3">
		<div class="col title-md">
			✈️&nbsp;&nbsp;예약 상품
		</div>
	</div>
	
	<div class="row">
		<div class="col mb-3">
			<table class="table table-detail">
				<colgroup>
					<col width="*">
					<col width="15%">
					<col width="5%">
					<col width="15%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<thead class="text-center">
					<tr>
						<td>상품명</td>
						<td>판매금액</td>
						<td>인원</td>
						<td>여행일자</td>
						<td>결제금액</td>
						<td>진행현황</td>
					</tr>
				</thead>
								
				<tbody>
					<tr>
				        <td>
				        	<div class="area">
								<a class="thum" th:href="@{/item/tourItemListDetail(itemCode=${buyDetail.buyDetailVO.itemVO.itemCode})}">
									<img th:src="${'/img/item/itemImg/' + buyDetail.buyDetailVO.itemVO.imgList[0].itemImgAttachedName}" 
				        			style="width: 85px; height: 85px;">
								</a>
								<div class="textus">
									<a class="" th:href="@{/item/tourItemListDetail(itemCode=${buyDetail.buyDetailVO.itemVO.itemCode})}">
										<span class="tit">[[${buyDetail.buyDetailVO.itemVO.tourAreaVO.areaKorName}]]</span><br>
							            <span  class="txt" th:text="${buyDetail.buyDetailVO.itemVO.itemTitle}" style="word-spacing: -1px;"></span><br>
									</a>
								</div>
				        	</div>
				        </td>
				        <td>[[${#numbers.formatCurrency(buyDetail.buyDetailVO.itemVO.itemPrice).substring(1)}]] 원</td>
				        <td>[[${buyDetail.buyDetailVO.reservedPeopleNum}]] 명</td>
				        <td class="date">
				        	[[${buyDetail.buyDetailVO.departDate}]] ~ <br>
				        	[[${buyDetail.buyDetailVO.arriveDate}]]
				        </td>
				        <td style="color: #f27370;">
				        	 [[${#numbers.formatCurrency(buyDetail.buyTotalPrice).substring(1)}]] 원
			        	</td>
				        <td>
					        <div>
					        	<span id="statusCode" style="font-weight: bolder;">[[${buyDetail.buyStateVO.buyStatusName}]]</span>
					        </div>
					        <div id="reviewBtn">
					        	<!-- <a th:href="@{/myPage/checkMyReview(buyCode=${buyDetail.buyCode})}">
-->					        	<button class="btn btn-outline-secondary btn-sm mt-2 reviewBtn"
					        	th:if="${buyDetail.buyStateVO.buyStatusCode == 1}"
					        	th:onclick="detail_cancel([[${buyDetail.buyCode}]])">예약취소</button>
					        	<!-- </a> -->
					        </div>
					        <div id="cancelBtn"> 
					        	<a th:href="@{/myPage/getMyReview(buyCode=${buyDetail.buyCode})}">
					        		<button class="btn btn-outline-secondary btn-sm mt-2 reviewBtn" 
					        		th:if="${buyDetail.buyStateVO.buyStatusCode == 2}">리뷰작성</button>
					        	</a>
					        </div>
				        </td>
					</tr>
				</tbody>
				 
			</table>
		
		</div>
	</div>
	
	<!-- 예약자 정보 -->
	<div class="row mb-3">
		<div class="col title-md">
			👤&nbsp;&nbsp;예약자 정보
		</div>
	</div>
	
	<div class="row">
		<div class="col mb-3">
			<table class="table personal-info">
				<colgroup>
					<col width="20%">
					<col width="*">
				</colgroup>
				<tbody>
					<tr>
						<th>이름</th>
						<td>[[${buyDetail.memberVO.memName}]]</td>
					</tr>
					<tr>
					    <th>연락처</th>
					    <td>
					        <span th:text="${#strings.length(buyDetail.memberVO.memberDetailVO.memDTell) == 11 ? 
					                        #strings.substring(buyDetail.memberVO.memberDetailVO.memDTell, 0, 3) + '-' +
					                        #strings.substring(buyDetail.memberVO.memberDetailVO.memDTell, 3, 7) + '-' +
					                        #strings.substring(buyDetail.memberVO.memberDetailVO.memDTell, 7) :
					                        #strings.substring(buyDetail.memberVO.memberDetailVO.memDTell, 0, 3) + '-' +
					                        #strings.substring(buyDetail.memberVO.memberDetailVO.memDTell, 3, 6) + '-' +
					                        #strings.substring(buyDetail.memberVO.memberDetailVO.memDTell, 6) }"></span>
					    </td>
					</tr>
					<tr>
						<th>주소</th>
						<td>
							[[${buyDetail.memberVO.memberDetailVO.memDAddr}]]
							[[${buyDetail.memberVO.memberDetailVO.memDAddr2}]]
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	
	<!-- 결제 정보  -->
	<div class="row mb-3">
		<div class="col title-md">
			💳&nbsp;&nbsp;결제 정보
		</div>
	</div>
	
	<div class="price-box mb-3">
		<div class="row">
			<div class="col-7 price-title">
				[[${buyDetail.buyDetailVO.itemVO.itemTitle}]]
			</div>
			<div class="col-3 text-end price-cal">
				[[${buyDetail.buyDetailVO.reservedPeopleNum}]] x [[${#numbers.formatCurrency(buyDetail.buyDetailVO.itemVO.itemPrice).substring(1)}]] = 
			</div>
			<div class="col-2 cal-price">
				[[${#numbers.formatCurrency(buyDetail.buyTotalPrice).substring(1)}]]<span>원</span>
			</div>
		</div>
		<hr class="price-box-line">
		<div class="row">
			<div class="col text-end">
				<span class="total-price-tit">총 여행 금액</span>
				<span class="total-price">[[${#numbers.formatCurrency(buyDetail.buyTotalPrice).substring(1)}]] 원</span>
			</div>
		</div>
	</div>
	
	<div class="mt-5 mb-4">
		<hr class="line">
	</div>
	<!-- 유의 사항 -->
	<div class="info">
		<ul>
			<li>
				예약취소는 [결제완료] 상태까지 가능합니다. [예약완료]상태는 고객센터로 문의 부탁드립니다.
			</li>
		</ul>
	</div>
	
	
	<div class="offset-5 col-2 d-grid mb-5">
			<!-- <input class="btn btn-warning text-center btn-lg" type="button" value="목록" th:onclick="/myPage/checkMyReservation"> -->
		 <a class="btn btn-warning text-center btn-lg" th:href="@{/myPage/checkMyReservation}">
    	    목록
   		</a>
	</div>
	
</div>	
	
	
	
	
	
	
</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/myPage/reservation_detail.js"></script>
</th:block>



</html>