<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/find_id.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="content">

	
	<div class="container">
		<form class="form" id="findPwForm" th:action="@{/member/findPw}" method="post">
			<p class="form-title">비밀번호 찾기</p>
			<div class="input-container">
	         <div class="row mb-3">
				<div class="col-12" id="findPwMemIdDiv">
					<input type="text" id="findPwMemId" name="memId" class="form-control" placeholder="아이디"
					onclick="idValidate();" oninput="idValidate()">
				</div>
			</div>
	      </div>
	      
			<div class="input-container">
	         <div class="row mb-3">
				<div class="col-12" id="findPwMemNameDiv">
					<input type="text" id="findPwMemName" name="memName" class="form-control" placeholder="이름"
					onclick="nameValidate();" oninput="nameValidate()">
				</div>
			</div>
	      </div>
	      
			<div class="input-container">
	         <div class="row mb-3">
				<div class="col-12 text-center" id="findPwMemDTellDiv">
					<input type="text" id="findPwMemDTell" name="memDTell" class="form-control" 
					placeholder="'-'을 제외한 휴대전화 전체 자리" maxlength="11" onclick="memDTellValidate();" oninput="memDTellValidate()">
				</div>
			</div>
	      </div>
			
		 <div class="row">
			<div class="col-12 d-grid mb-2">
				<button onclick="find_pw(this);" class="btn btn-yellow" type="button" data-bs-toggle="modal" data-bs-target="#findPwModal">
					  <span>&nbsp;임시 비밀번호 발급하기</span> 
				</button>
			</div>
		</div> 	
		<div class="row">
			<div class="col-12 d-grid mb-5">
				<input type="button" class="btn btn-gray" value="로그인 하러가기" onclick="location.href='/member/login'">
			</div>
		</div>
			
		</form>
	</div>
	
		<!-- 비밀번호 찾기 결과 모달 -->
	<div class="modal fade" id="findPwModal" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
				
					<div class="row justify-content-end">
						<div class="col-1">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>
					
					<div class="row mb-3">
						<div class="col-12" id="findPwModalDiv">
						
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>





</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/find_pw.js"></script>
</th:block>



</html>