<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/member/member_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/info_manage.css">
</th:block>

<th:block layout:fragment="member_content">
	
	<!-- 프로필 상단바 -->
	<div class="header-area">
		<div class="row mt-3 mb-5 profile-bar">
			<div class="col-8 inner-bar"><span class="profile-name">[[${memInfo.memName}]]</span>님 반갑습니다!
			&nbsp;<i class="bi bi-emoji-wink" style="color: #ffd000; font-weight: bolder;"></i>
			</div>
			<div class="col-4 inner-bar text-end">
				<a th:href="@{/myPage/updateMyInfo}"  class="btn btn-outline-warning"><span class="">내정보 수정</span></a>
			</div>
		</div>
	</div>	


	
	
	<!-- 예약 조회 현황 (1개월 내 기록) -->
	<div class="row mb-1">
		<div class="col-8 title">
			여행 예약 조회 <span class="title-sm">(최근 1개월)</span>
		</div>
		<div class="offset-1 col-3 text-end ">
			<a class="more" th:href="@{/myPage/checkMyReservation}">더보기 <i class="bi bi-chevron-right" style="font-size: 0.8rem;"></i></a>
		</div>
	</div>
	
	<div class="row mb-4">
	    <div class="col content-box">
	        <a th:href="@{/myPage/checkMyReservation}">
	            <ul class="my-page-step">
	                <li th:each="buyStatus, status : ${buyStatusInOneMonthList}">
	                    <em th:text="${buyStatus.buyStatusCount}" class="num"></em>
	                    <span th:text="${buyStatus.buyStatusName}"></span>
	                </li>
	            </ul>
	        </a>
	    </div>
	</div>

	<!-- 1개월 이내의 예약 조회 데이터 (취소관련 데이터는 제외) -->
	<div class="one-month-mention mb-3 text-end">
		<i class="bi bi-dash"></i> 취소관련 내역은 아래에 조회되지 않습니다. 취소 내역 조회를 원하시면 예약 내역 페이지를 이용해주세요!
	</div>
	
	<div class="row">
		<div class="col">
		<div class="table-container">
			<table class="table one-month-table">
				<colgroup>
					<col width="15%">
					<col width="*">
					<col width="5%">
					<col width="10%">
					<col width="10%">
					<col width="15%">
					<col width="10%">
				</colgroup>
				<thead class="text-center">
					<tr>
						<td>결제일자</td>
						<td>상품</td>
						<td>인원</td>
						<td>출발일자</td>
						<td>도착일자</td>
						<td>결제금액</td>
						<td>상태</td>
					</tr>
				</thead>
				
				<tbody class="scrollable-tbody">
					<th:block th:if="${#lists.size(buyListInOneMonth) == 0}">
							<tr class="text-center">
								<td colspan="7" style="border-bottom: 0px;">
									<div style="font-size: 4rem; color: #bbb;">
										<i class="bi bi-exclamation-circle"></i>
									</div>
									<div style="color: #bbb; font-size: 1.1rem;">1개월 이내에 예약한 내역이 없습니다!</div>
								</td>
							</tr>
					</th:block>
					<th:block th:if="${#lists.size(buyListInOneMonth) != 0}">
						<th:block th:each="buy : ${buyListInOneMonth}">
							<tr th:each="buyDetail : ${buy.buyDetailVO}" class="table-tr">
					            <td class="text-center">
						            <div style="color: #131518; font-weight:bolder;">[[${buy.buyDate}]]</div>
					            </td>
						        <td class="row">
						        	<div class="col-3" style="padding: 0;">
						        		<a class="thum" th:href="@{/item/tourItemListDetail(itemCode=${buyDetail.itemVO.itemCode})}">
						        		<img th:src="${'/img/item/itemImg/' + buyDetail.itemVO.imgList[0].itemImgAttachedName}" 
						        		style="width: 65px; height: 65px;">
						        	</a>
						        	</div>
						        	<div class="col-9 item-td">
										<span class="" th:text="${buyDetail.itemVO.tourAreaVO.areaKorName}" style="color: #777; font-weight: bolder;"></span><br>
						        	<a class="" th:href="@{/item/tourItemListDetail(itemCode=${buyDetail.itemVO.itemCode})}">
						            	<span th:text="${buyDetail.itemVO.itemTitle}" style="color: #333; word-spacing: -1px;"></span>
						        	</a>	        		
						        	</div>
						        </td>
						        <td th:text="${buyDetail.reservedPeopleNum}" class="text-center"></td>
						        <td th:text="${buyDetail.departDate}" class="date-td"></td>
						        <td th:text="${buyDetail.arriveDate}" class="date-td"></td>
						        <td style="color: #f27370;">
						        	 [[${#numbers.formatCurrency(buy.buyTotalPrice).substring(1)}]] 원
					        	</td>
						        <td>
							        <div>
							        	<span id="statusCode" style="font-weight: bolder;" th:value="${buy.buyStateVO.buyStatusCode}">[[${buy.buyStateVO.buyStatusName}]]</span>
							        </div>
						        </td>
							</tr>
						</th:block>
					</th:block>
				</tbody>
			</table>
			</div>
		</div>
	</div>

			
	<!-- 선 -->
	<div class="row">
		<div class="col	mb-1">
			<hr width="100%;" color="#fff" noshade/>
		</div>
	</div>
	
	
    <div class="area-over">
    	<!-- 1:1 문의 내역 -->
	    <div class="col-6" style="display: inline-block;">
	        
	        <div class="row title-row q-tit">
	            <div class="col-8 title-col">
	                <div class="title">
	                    1:1 문의 내역 
	                </div>
	            </div>
	            <div class="offset-1 col-3 text-end">
	                <a class="more" id="qnaListMore" href="/myPage/checkMyRequest">더보기<i class="bi bi-chevron-right" style="font-size: 0.8rem;"></i></a>
	            </div>
	        </div>
	        
	        <!-- 1:1 문의 아코디언 영역 -->
	       <div class="row qna-list-area">
	    		<div class="col for-line">
	    		 	<div class="accordion" id="accordionPanels">
	    		 		  <th:block th:if="${qnaMap.qnaList.empty}">
					        <div class="no-qna-message">문의하신 내용이 없습니다.</div>
					      </th:block>
	    		 	
						<th:block th:each="question, iter : ${qnaMap.qnaList}" th:if="${iter.index < 3}">
							 <div class="accordion-item">
							    <h2 class="accordion-header">
							       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#panel_' + question.hbtBoardRequestNum}" aria-expanded="true" th:aria-controls="${'panel_' + question.hbtBoardRequestNum}">
			                        <div th:if="${question.isAnswer == 'Y'}" class="qna-header-status-y col-2 text-center">답변완료</div>
			                        <div th:if="${question.isAnswer != 'Y'}" class="qna-header-status-n col-2 text-center">답변대기</div>
			                        <div class="qna-header-title col-7" th:utext="${question.hbtBoardRequestTitle}"></div>
			                    </button>
							    </h2>
							    <!-- <div th:id="${'panel_' + question.hbtBoardRequestNum}" class="accordion-collapse collapse" data-bs-parent="#accordionPanels"> -->
							      <div th:id="${'panel_' + question.hbtBoardRequestNum}" class="accordion-collapse collapse" data-bs-parent="#accordionPanels" th:classappend="${iter.index == 0 ? 'show' : ''}">
							      <div class="accordion-body">
							       <div class="accordion-scroll">
						      		<div class="row">
							      		<div class="qna-tit col-8">[ 문의 ]</div>
							      		<div class="qna-topic col-3 text-center">[[${question.typeRequestVO.typeRequestName}]]</div>
						      		</div>
						      		 <div class="qna-header-date text-end mt-3 mb-2">
						      		 	문의 작성 일자 : [[${question.hbtBoardRequestRegDate}]]
						      		 </div>
						      		<div th:if="${question.typeRequestVO.typeRequestCode == 2}">
						      			<th:block th:each="item : ${qnaMap.itemDetailList}">
							      			<div th:if="${item.itemCode == question.itemVO.itemCode}" class="item-name mb-3">
							      				<b>|</b> <b>문의 상품</b> : [[${item.itemTitle}]]
							      			</div>
						      			</th:block>
						      		</div>
						      		
						      		<div class="col qna-content mb-4">
							      		<span>[[${question.hbtBoardRequestContent}]]</span>
						      		</div>
						      		<hr>
						      		<div class="col mt-4">
							      		<th:block th:each="answer : ${qnaMap.qnaReplyList}">
							      		     <th:block th:if="${answer.hbtBoardRequestNum == question.hbtBoardRequestNum}">
							      				<th:block th:if="${question.isAnswer == 'Y'}">
										      		<div class="row">
										      			<div class="col-9 answer-title">답변완료</div>
										      			<div class="col-3 answer-date">[[${answer.reqReplyAnswerDate}]]</div>
										      		</div>
										      		<div class="col mt-3 mb-4">
										      			<span>[[${answer.reqReplyContent}]]</span>
										      		</div>
								      			</th:block>
							      			</th:block>
							      		</th:block>
						      			<th:block th:if="${question.isAnswer == 'N'}">
								      		<div class="col text-center mb-3">
								      			<span>조금만 기다려주시면 빠르게 답변드리겠습니다! <i class="bi bi-emoji-smile"></i></span>
								      		</div>
						      			</th:block>
							      	</div>	
						      			<div class="col mb-4">
							      			<span class="final-mention">
							      				<i class="bi bi-dot"></i>
							      				문의에 대한 답변이 부족하거나 추가문의사항이 있으시면 새로운 문의사항으로 등록해주세요.
							      			</span>
						      			</div>
						      			<div class="col offset-9">
							      			<a th:href="@{/myPage/regRequestForm(memCode=${memInfo.memCode}, memId=${memInfo.memId})}">
							      				<input type="button" class="btn btn-outline-warning" value="새로운 문의">
							      			</a>
						      			</div> 
							      </div>
							      </div>
							    </div>
							  </div>
						</th:block>
					</div>
	    		</div>
	    	</div>	
	        
	        
	    </div>
	    
	    <!-- 나의 후기 내역 -->
	    <div class="col-6" style="display: inline-block;">
	       
	        <div class="row title-row r-tit">
	            <div class="col-8 title-col">
	                <div class="title">
	                    나의 후기 내역 
	                </div>
	            </div>
	            <div class="offset-1 col-3 text-end">
	                <a class="more" id="reviewListMore" th:href="@{/myPage/checkMyReview(memId=${memInfo.memId})}">더보기<i class="bi bi-chevron-right" style="font-size: 0.8rem;"></i></a>
	            </div>
	        </div>
	        
	        <!-- 나의 후기 내역 - 아코디언 영역 -->
	    	<div class="row review-list-area">
	    		<div class="col for-line">
			        <div class="accordion" id="accordionPanelsReview">
			          <th:block th:if="${reviewList.empty}">
				        <div class="no-review-message">작성하신 후기가 없습니다.</div>
				      </th:block>
			        
	    				<th:block th:each="review, state: ${reviewList}" th:if="${state.index < 3}">
	    					<div class="accordion-item">
	    						<!-- header -->
    							<h2 class="accordion-header">
							       <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" th:data-bs-target="${'#panel_' + review.hbtMemReviewNum}" aria-expanded="true" th:aria-controls="${'panel_' + review.hbtMemReviewNum}">
			                        <!-- <div class="col-5" th:text="${review.stars}"></div> -->
			                        <div class="col-2" th:utext="${starIcons[state.index]}" style="font-size: 0.8rem; color: #ffd000;"></div>
			                        <div class="col-2" style="font-size: 0.9rem;">
				                        <span><strong>[[${review.stars}]]</strong> / 5</span> 	
			                        </div>
			                        <!-- <div class="col-6" th:text="${review.buyVO.buyDetailVO.itemVO.itemTitle}"></div> -->
			                         <div class="col-6 review-header-item-tit" style="" th:utext="${review.buyVO.buyDetailVO.itemVO.itemTitle}"></div>
			                       </button>
							    </h2>
	    						<!-- body -->
	    						 <div th:id="${'panel_' + review.hbtMemReviewNum}" class="accordion-collapse collapse" data-bs-parent="#accordionPanelsReview" th:classappend="${state.index == 0 ? 'show' : ''}">
	    							 <div class="accordion-body">
								       <div class="accordion-scroll">
							      			<!-- 상품 정보 -->
											<div class="row">
												<div class="col review-item-tit">
													[ 예약 상품 ]  								
												</div>
											</div>							      			
											<div class="row review-item-info">
											    <div class="col-auto">
											        <a class="thum" th:href="@{/item/tourItemListDetail(itemCode=${review.buyVO.buyDetailVO.itemVO.itemCode})}">
											            <img th:src="${'/img/item/itemImg/' + review.buyVO.buyDetailVO.itemVO.imgList[0].itemImgAttachedName}" 
											                style="width: 60px; height: 60px;">
											        </a>
											    </div>
											    <div class="col">
											        <div class="textus">
											            <a class="" th:href="@{/item/tourItemListDetail(itemCode=${review.buyVO.buyDetailVO.itemVO.itemCode})}">
											                <span class="tit" style="font-weight: bolder;">[[${review.buyVO.buyDetailVO.itemVO.tourAreaVO.areaKorName}]]</span><br>
											                <span class="txt" th:text="${review.buyVO.buyDetailVO.itemVO.itemTitle}" style="word-spacing: -1px;"></span><br>
											                <span class="txt" th:text="${review.buyVO.buyDetailVO.itemVO.itemIntro}" style="font-weight:lighter; font-size: 0.9rem;"></span>
											            </a>
											        </div>
											    </div>
											</div>

											<hr>
											
											<!-- 작성한 리뷰 내용  -->
											<div class="review-content">
												<div class="row">
													<div class="col-2"> <b>별점 :</b> </div>
													<div class="col-3" th:utext="${starIcons[state.index]}" style="color: #ffd000; letter-spacing: 2px; padding: 0; vertical-align: middle;"></div>
				                       				<div class="col-2" style="font-size: 0.9rem; padding: 0;">
							                       		 <span><strong>[[${review.stars}]]</strong>&nbsp;&nbsp;/&nbsp;&nbsp;5</span> 	
						                        	</div>
												</div>
												
												<div class="row">
													<div class="col mt-2 review-content-tit">
														<b><i class="bi bi-chat-dots"></i> &nbsp;리뷰 내용 :</b> 								
													</div>
												</div>
												
												<div class="row">
													<div class="col mt-1">
														<span>[[${review.hbtMemReviewContent}]]</span>										
													</div>
												</div>
											</div>
											
										</div>
									</div>
								</div>
    						</div>
	    				</th:block>
	    			</div>
	    		</div>
	    	</div>	    	
	    	<!-- 후기 내역 범위 끝 -->
	    </div>
	    
	    <!-- area-over 끝 -->
	</div>
    
    
    
	
	
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<!-- <script type="text/javascript" src="/js/content/member/info_manage.js"></script> -->
</th:block>


</html>

5