<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/join.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="content">

	<div class="row">
		<div class="col">
			회원가입 페이지 입니다. 		
		</div>
	</div>

	
	<div class="inner">
		<form id="joinForm" class="row g-3" th:action="@{/member/join}" method="post">
			<div class="col-8">
				<!-- <label for="memId" class="form-label">ID</label> -->
				<input type="text" class="form-control form-control-lg" placeholder="아이디"
				 id="memId" name="memId" onkeyup="setDisabled();">
			</div>
			<div class="col-4 d-grid">	
			<!-- 	<label for="check_id" class="form-label"> &nbsp; </label> -->
				<input type="button" class="btn btn-lg btn-outline-info" id="check_id" value="ID 중복확인" onclick="isDuplicateMemId();" >
			</div>
			<div class="col-12">
				<!-- <label for="memPw" class="form-label">PASSWORD</label> -->
				<input type="password" class="form-control" placeholder="비밀번호" id="memPw" name="memPw">
			</div>
			<div class="col-12">
				<!-- <label for="check_pw" class="form-label">CONFIRM PASSWORD</label> -->
				<input type="password" class="form-control" placeholder="비밀번호 확인" id="check_pw">
			</div>
			
			<div class="col-12">
				 <label for="memName" class="form-label">NAME</label>
				 <input type="text" class="form-control" id="memName" name="memName" placeholder="">
			</div>
			
			<div class="col-3">
				<label for="gender_male" class="form-label">GENDER</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="gender" id="gender_male" value="M" checked>Male
				</div>
			</div>
			<div class="col-9">	
				<label for="gender_female" class="form-label">&nbsp;</label>
				<div class="form-check">
					<input class="form-check-input" type="radio" name="gender" id="gender_female" value="F">Female
				</div>
			</div>	
	
			<div class="col-4">
				<label for="tell_1" class="form-label">TELL</label>
				<select id="tell_1" class="form-select" name="memTells">
					<option selected value="010">010</option>
					<option value="011">011</option>
					<option value="016">016</option>
				</select>
			</div>
			<div class="col-4">
				<label for="tell_2" class="form-label"> &nbsp; </label>
				<input type="text" class="form-control" id="tell_2" name="memTells">
			</div>
			<div class="col-4">
				<label for="tell_3" class="form-label"> &nbsp; </label>
				<input type="text" class="form-control" id="tell_3" name="memTells">
			</div>

			<div class="col-8">
				<label for="memAddr" class="form-label">ADDRESS</label>
				<input type="text" class="form-control" id="memAddr" name="memAddr" onclick="searchAddr();" readonly>
			</div>
			<div class="col-4 d-grid">	
				<label for="search" class="form-label"> &nbsp; </label>
				<input type="button" class="btn btn-outline-secondary" id="search_btn" value="검색" onclick="searchAddr();">
			</div>
			<div class="col-12 mb-3">
				<input type="text" class="form-control" id="addrDetail" placeholder="DETAIL ADDRESS" name="addrDetail">
			</div>
			
			<div class="col-12 mb-3">
				<div class="d-grid gap-2">
					<button id="joinBtn" onclick="join();" type="button" class="btn btn-outline-primary" disabled>가입완료</button>
				</div>
			</div>
		</form>
	</div>





</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src="/"></script>-->
</th:block>



</html>