<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
   
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/member/login.css">
</th:block>

<!-- 본문 내용 -->
<th:block layout:fragment="content">
	
	<div class="row">
		<div class="col page-title">
			로그인
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-4 mt-4">
			<form id="loginForm" method="post">
				<div class="row mb-3">
					<div class="col-12" id="loginIdDiv">
						<input type="text" id="memId" name="memId" class="form-control form-control-lg" placeholder="아이디" 
						onclick="idValidate();" oninput="idValidate()">
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-12" id="loginPwDiv">
						<input type="password" id="memPw" name="memPw" class="form-control form-control-lg" placeholder="비밀번호" 
						onclick="pwValidate();" oninput="pwValidate()">
					</div>
				</div>
				<div class="row">
					<div class="col-12 d-grid mb-5">
						<input type="button" class="btn btn-primary" value="로그인" onclick="login();"
						data-bs-toggle="modal" data-bs-target="#loginModal">
					</div>
				</div>
				<div class="row">	
					<div class="col-12">
						<ul class="login-func-bar text-center">
							<li class="h-btn"><a href="/member/findId">아이디 찾기</a></li>
							<li class="h-btn"><a href="/member/findPw">비밀번호 찾기</a></li>
							<li class="h-btn"><a href="/member/join" data-bs-toggle="popover" 
							 data-bs-trigger="hover focus"
							 data-bs-custom-class="custom-popover"
					         data-bs-title="만나서 반가워요!"
					         data-bs-content="한별투어 회원에게는 특별한 혜택들이 준비되어 있어요!
					         한별투어와 함께 여행해요~😉"
					         data-bs-placement="right">회원가입</a>
					         </li>
						</ul>
					</div>
				</div>
				<div class="row">	
					<div class="col-12 mb-5">
						<ul class="login-func-bar text-center">
							
						</ul>
					</div>
				</div>
				<div class="row">	
					<div class="col-12 mb-5">
						<ul class="login-func-bar text-center">
							<li class="h-btn"><a href="/member/findId">아이디 찾기</a></li>
							<li class="h-btn"><a href="">비밀번호 찾기</a></li>
							<li class="h-btn"><a href="/member/join">회원가입</a></li>
						</ul>
					</div>
				</div>
			</form>
		</div>
	</div>

	
	<!-- 아이디 찾기 결과 모달 -->
	<div class="modal fade" id="loginModal" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row justify-content-end">
						<div class="col-1">
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-12" id="loginModalDiv">
						
						</div>
					</div>
					<div class="row" id="btn-row">
						<div class="col-12 d-grid">
							<button onclick="location.href = '/';" class="btn btn-outline-warning" type="button">
							  <span>홈으로 이동</span> 
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	








</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/member/login.js"></script>
</th:block>



</html>