<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/main/main_page.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="content">

<div class="row d-flex justify-content-center position-relative">


	<div class="col-md-6">

		<!-- 메인페이지 이미지자리  -->
		<div class="row d-flex justify-content-center ">
			<div class="col mb-3 mx-0 px-0 rounded-5">
			
			
				<div id="mainImgSlide" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner rounded-5 custom-border-2 border-2 shadow">
						<th:block th:each="img, state : ${mainSlideImg}">
							<div th:classappend="${state.index} == 0 ? 'active' : '' " class="carousel-item" data-bs-interval="5000">
								<img  th:src="'/img/main/slide/' + ${img['HBT_MAINPAGE_ATTECHED_FILE_NAME']}"
									 class="w-100" alt="/img/item/xbox.jpg">
							</div>
						</th:block>

					</div>
					<button class="carousel-control-prev" type="button"
						data-bs-target="#mainImgSlide" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#mainImgSlide" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			
			</div>
		</div>



		<div class="row text-center d-flex justify-content-center">
			<div class="col offset-2 mb-3 mx-0 px-0">
				<h3>추천상품</h3>
				<p>한별투어에서 추천하는 상품입니다.</p>
			</div>
		</div>

		<div class="row mb-5 resultDiv custom-border-2 rounded-5 px-5 py-5 shadow">
			<div class="col-6 custom-border-2 rounded-5">
				<a th:href="@{/item/tourItemListDetail(itemCode = ${recomImgList[0]['ITEM_CODE']})}">
					<img th:data-item="${recomImgList[0]['ITEM_CODE']}" class="imgArea d-block w-100 h-100 rounded"
						 th:src="@{/img/item/itemImg/} + ${recomImgList[0]['ITEM_IMG_ATTACHED_NAME']}" draggable="false" src="" alt="/img/item/xbox.jpg">
				</a>
			</div>
			<div class="col-6">
				<div class="row mb-3">
					<a th:href="@{/item/tourItemListDetail(itemCode = ${recomImgList[1]['ITEM_CODE']})}">
						<img th:data-item="${recomImgList[1]['ITEM_CODE']}" class="imgArea d-block w-100 h-100 rounded"
							 th:src="@{/img/item/itemImg/} + ${recomImgList[1]['ITEM_IMG_ATTACHED_NAME']}" draggable="false" src="" alt="/img/item/xbox.jpg">
					</a>
				</div>
				<div class="row">
					<div class="col-6">
						<a th:href="@{/item/tourItemListDetail(itemCode = ${recomImgList[2]['ITEM_CODE']})}">
							<img src="" th:data-item="${recomImgList[2]['ITEM_CODE']}" class="imgArea d-block w-100 h-100 rounded"
								 th:src="@{/img/item/itemImg/} + ${recomImgList[2]['ITEM_IMG_ATTACHED_NAME']}" draggable="false" alt="/img/item/xbox.jpg">
						</a>
					</div>
					<div class="col-6">
						<a th:href="@{/item/tourItemListDetail(itemCode = ${recomImgList[3]['ITEM_CODE']})}">
							<img src="" th:data-item="${recomImgList[3]['ITEM_CODE']}" class="imgArea d-block w-100 h-100 rounded"
								 th:src="@{/img/item/itemImg/} + ${recomImgList[3]['ITEM_IMG_ATTACHED_NAME']}" draggable="false" alt="/img/item/xbox.jpg">
						</a>
					</div>
				</div>
			</div>
		</div>


		<div class="row text-center d-flex justify-content-center">
			<div class="col offset-2 mb-3 mx-0 px-0">

				<!-- 지역별 인기여행지 -->
				<div class="row my-5">
					<div class="col">
						<h3>가장 많이 가는 여행지</h3>
					</div>
				</div>
				<th:block th:each="area : ${favoriteArea}">

					<div class="row my-5">
						<div class="col">
							<h3>[[${area.key}]]</h3>
						</div>
					</div>

					<div class="row mt-3">
						<div class="col">
							<div id="carouselExample" class="carousel slide">
								<div class="carousel-inner">
									<div class="carousel-item active">
										<div class="row py-4"  style="background-color: #E6E6E6">
											<div class="col d-flex mx-5 justify-content-center"  style="background-color: #ffffff">
												<th:block th:each="imgs : ${favoriteArea[area.key]}">
													<div class="card mx-3" style="width: 18rem;">
														<div class="card-body">
															<a th:href="@{/item/tourItemListDetail(itemCode = ${imgs['ITEM_CODE']})}">
																<img th:src="@{/img/item/itemImg/} + ${imgs['ITEM_IMG_ATTACHED_NAME']}" class="card-img-top">
																<p class="card-text">[[${imgs['ITEM_TITLE']}]]</p>
															</a>
														</div>
													</div>
												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</th:block>


			</div>
		</div>
		
		
		
		
		
		
		<!-- 추천 페이지 설정  -->
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<h3 style="font-weight: bold;">한별투어 추천 아이템</h3>
			</div>
		</div>
		<div class="row mb-3" style="width: 100%; margin: auto; padding-left: 50px;">
			<th:block th:each="item : ${recomItem}">
				<div class="col col-2 recomImg">
					<div class="row mb-3">
						<a th:href="@{/item/tourItemListDetail(itemCode = ${item['ITEM_CODE']})}">
							<img width="200px;" th:src="'/img/item/itemImg/' + ${item['ITEM_IMG_ATTACHED_NAME']}" class="rounded recommend-img" onerror="this.src='/img/item/xbox.jpg'">
						</a>
						<h4 class="recom_img_comment">[[${item['RECOM_COMMENT']}]]</h4>
					</div>
				</div>
			</th:block>
		</div>
		
		
		
		<!-- 타임딜 or 땡처리 바로가기  -->
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<h3 style="font-weight: bold;">오늘 놓치면 안될 #타임딜</h3>
			</div>
		</div>
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<img src="/img/main/timedeal.jpg" class="d-block w-100 rounded" onerror="this.src='/img/item/xbox.jpg'" alt="이미지">
			</div>
		</div>

	
	</div>
</div>



	<!-- 최상단이동 버튼 -->
	<div class="row">
		<div class="col">
			<a href="#">
				<div class="max_up_btn text-center">
					<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" width="30" height="30">
  					<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
					</svg>
				</div>
			</a>
		</div>
	</div>
	
	
</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src="/"></script>-->
</th:block>



</html>