<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
<!-- 연결해야 할 외부 CSS파일 -->   
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/main/main_page.css">
</th:block>

<!-- 본문 내용 -->   
<th:block layout:fragment="content">

<div class="row">
	<div class="col">
	
		<!-- 메인페이지 이미지자리  -->
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
			
			
				<div id="mainImgSlide" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">

						<th:block th:each="img, state : ${mainSlideImg}">
							<div class="carousel-item active" data-bs-interval="2000">
								<img th:src="@{/img/main/slide/} + ${img['HBT_MAINPAGE_ATTECHED_FILE_NAME']}"
									 class="d-block w-100 rounded" alt="/img/item/xbox.jpg">
							</div>
						</th:block>

					</div>
					<button class="carousel-control-prev" type="button"
						data-bs-target="#mainImgSlide" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button"
						data-bs-target="#mainImgSlide" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			
			</div>
		</div>
		
		
		
		
		
		
		
		
		
		<!-- 추천 페이지 설정  -->
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<h3 style="font-weight: bold;">한별투어 추천 아이템</h3>
			</div>
		</div>
		<div class="row mb-3" style="width: 100%; margin: auto; padding-left: 50px;">
			<th:block th:each="item : ${recomItem}">
				<div class="col col-2 offset-1 recomImg">
					<div class="row mb-3">
						<img th:src="@{/img/item/itemImg/} + ${item['ITEM_IMG_ATTACHED_NAME']}" class="rounded recommend-img" alt="/img/item/xbox.jpg">
						<h4 class="recom_img_comment">[[${item['RECOM_COMMENT']}]]</h4>
					</div>
				</div>
			</th:block>
		</div>
		
		
		
		<!-- 타임딜 or 땡처리 바로가기  -->
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<h3 style="font-weight: bold;">오늘 놓치면 안될 #타임딜</h3>
			</div>
		</div>
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<img src="/img/main/timedeal.jpg" class="d-block w-100 rounded" alt="/img/item/xbox.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				타임딜 해당 이미지 띄울자리
			</div>
		</div>
		
		
		
		<!-- 맞춤형 상품목록  -->
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<h3 style="font-weight: bold;">지금 가장 HOT한 여행지</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
			
				<div class="card" style="width: 18rem;">
				  <img src="/img/item/recomImg/638022863183380383.jpg" class="card-img-top" alt="/img/item/xbox.jpg">
				  <div class="card-body">
				    <p class="card-text">이거반복문</p>
				  </div>
				</div>
				
				
			</div>
		</div>
		
		
		<!-- 맞춤형 상품목록 2  -->
		<div class="row mb-3">
			<div class="col mx-0 px-0">
				<h3 style="font-weight: bold;">여행고수의 예약타이밍</h3>
			</div>
		</div>
		
		<div class="row">
			<div class="col mb-3 mx-0 px-0">
				<div class="card" style="width: 18rem;">
				  <img src="/img/item/recomImg/638041254584397388.jpg" class="card-img-top" alt="/img/item/xbox.jpg">
				  <div class="card-body">
				    <p class="card-text">이거반복문2</p>
				  </div>
				</div>
			
			</div>
		</div>
	
	</div>
</div>



	<!-- 최상단이동 버튼 -->
	<div class="row">
		<div class="col">
			<a href="#">
				<div class="max_up_btn text-center">
					<svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-arrow-up" viewBox="0 0 16 16" width="30" height="30">
  					<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
					</svg>
				</div>
			</a>
		</div>
	</div>
	
	
</th:block>

<!-- 연결해야 할 외부 js파일 -->   
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src="/"></script>-->
</th:block>



</html>