<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="boardSideFragment">
	<div class="row under-line-ylS">
		<div class="col">
			<h3>
				<a href="/board/boardMain">고객센터</a>
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<div class="row under-line-yl board-side-menu">
				<div class="col">
					<h5>
						<a href="/board/page1">page1</a>
					</h5>
				</div>
			</div>
			<div class="row under-line-yl board-side-menu">
				<div class="col">
					<h5>
						<a href="/board/page2">page2</a>
					</h5>
				</div>
			</div>
			<div class="row under-line-yl board-side-menu">
				<div class="col">
					<h5>
						<a href="/board/page3">page3</a>
					</h5>
				</div>
			</div>
		</div>
	</div>

</th:block>

</html>