@charset "UTF-8";

.table-thead {
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid grey;
}

.main_img > img {
	width: 100%;
}

.content_target {
 	display: inline-block;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}