<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/user_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
  <link rel="stylesheet" href="/css/item/item_header.css">
  <link rel="stylesheet" href="/css/item/searchHotels.css">

</th:block>

<th:block layout:fragment="content">

<!--        아이템 카드-->

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mx-0 px-0 rounded-5 custom-border-4 shadow d-flex justify-content-center">
            <h4 class="text-center my-3 fw-bold resultTitle">전 세계 호텔 검색</h4>
        </div>
    </div>


    <div class="row text-center mb-3 py-3 d-flex justify-content-center">
        <div class="col-md-6 py-2 d-flex custom-border-4 shadow border rounded-5 justify-content-center">
            <div class="row d-flex my-3 justify-content-center">
                <div class="col-md-4">
                    <select class="areaName rounded-5 custom-border-3 ye-S-bc form-control form-select">
                        <th:block th:each="loc : ${locMenuList}">
                            <option>[[${loc.areaKorName}]]</option>
                        </th:block>
                    </select>
                </div>
                <div class="col-md-4">
                    <input class="form-control rounded-5 custom-border-3 ye-S-bc" type="text" placeholder="도시명" id="cityName">
                </div>
                <div class="col-md-4">
                    <input class="btn ye-S-bc custom-border-3 rounded-5" type="button" value="검색" onclick="searchHotelsAJAX();">
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-md-6 mx-0 px-0 rounded-5 my-3 custom-border-4 shadow d-flex justify-content-center">
            <h4 class="text-center my-3 fw-bold resultTitle">한별투어 추천 호텔</h4>
        </div>
    </div>




    <div class="row mt-3 mb-3 d-flex justify-content-center" >
        <div class="col-md-6 shadow custom-border-4 rounded-5 resultDiv">
            <th:block th:each="hotel : ${hotelList}">

                <div class="row rounded-5 mx-5 my-3 shadow custom-border-3" style="cursor: pointer;">
                    <div class="col-6 px-0 mx-0 rounded-5">
                        <h5 class="card-title text-center mt-2 mb-5 fw-bold">[[${hotel['HBT_HOTEL_NAME']}]]</h5>
                        <div class="mt-auto">
                            <p class="card-text">[[${hotel['HBT_HOTEL_INTRO']}]]</p>
                            <p class="card-text hotelGrade" th:data-grade="${hotel['HBT_HOTEL_GRADE']}"></p>
                        </div>
                    </div>
                    <div class="col-6 px-0 mx-0 rounded-5">
                        <img style="display: block; width: 100%; height: 250px;" th:src="'/img/item/hotel/' + ${hotel['HBT_HOTEL_ATTECHED_FILE_NAME']}" class="object-fit-fill rounded-5" alt="...">
                    </div>
                </div>

            </th:block>
            </div>
        </div>





    <div class="modal fade mb-3" id="modalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div id="map"></div>
            </div>
        </div>
    </div>
</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHSSBm8zJnVf4ibkR7pcRog2vGLE-TXZ4">
    </script>
  <script type="text/javascript" src="/js/content/hotels/searchHotels.js"></script>
</th:block>
</html>