<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/user_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
<link rel="stylesheet" href="/css/item/diy_tour_item.css">
</th:block>

<th:block layout:fragment="content">
  <div class="row d-flex justify-content-center my-3">
    <!--  국가선택 -->
    <div class="col-md-6 aa">
  <!-- 로딩바      -->
      <div class="row d-flex text-center justify-content-center mb-3 custom-border-4 rounded-5 shadow py-3">
        <h2 class="fw-bold my-3 pb-3">국가를 선택하세요</h2>
        <th:block th:each="loc : ${location}">


          <div class="col mx-1 px-0 py-3 justify-content-center d-flex areaColDiv">
            <a href="javascript:void(0)" onclick="selectArea(this);" class="">
              <div class="card1 areaDiv shadow">
                <img width="190px;" height="140px;" th:src="'/img/item/itemImg/' + ${loc['ITEM_IMG_ATTACHED_NAME']}" class="rounded-3" alt="...">
                <div class="card1-front">
                  <p class="title1" th:value="${loc['AREA_CODE']}">[[${loc['AREA_KOR_NAME']}]]</p>
                  <input type="hidden" th:value="${loc['AREA_CODE']}" class="areaCode">
                  <p class="subtitle"></p>
                </div>
              </div>
            </a>
          </div>


        </th:block>
        <th:block th:if="${location.size() % 4 != 0}">

          <div th:each="i: ${#numbers.sequence(0, 3 - (location.size() % 4))}" class="col mx-1 px-0 py-3 justify-content-center d-flex areaColDiv">
            <a href="javascript:void(0)" onclick="selectArea(this);" class="">
              <div class="card1 areaDiv">
                <img width="190px;" height="140px;" src="/img/item/xbox.jpg" class="rounded-3" alt="...">
                <div class="card1-front">
                  <p class="title1"}>준비중</p>
                  <p class="subtitle"></p>
                </div>
              </div>
            </a>
          </div>



        </th:block>
      </div>
  <!--  날짜선택 -->
      <div class="row text-center justify-content-center mb-3 border rounded-5 shadow custom-border-4 py-3">
        <h3 class="fw-bold">여행 날짜를 선택하세요</h3>
        <div class="col-md-3">
          <span>출발일</span>
          <input type="date" value="2023-06-29" name="depDate" class="form-control depDate shadow custom-border-3 rounded-5">
        </div>
        <div class="col-md-3">
          <span>도착일</span>
          <input type="date" value="2023-07-02" name="arrDate" class="form-control arrDate shadow custom-border-3 rounded-5">
        </div>
      </div>
  <!--  항공편선택-->
      <div class="row border text-center rounded-5 shadow custom-border-4 mb-3 py-3 ">
        <h3>항공사 선택</h3>
        <th:block th:each="air : ${airline}">
          <div class="col my-3">

            <div class="radio-inputs">
              <label>
                <input class="radio-input airlineInput" th:value="${air['HBT_AIRLINE_CODE']}" type="radio" name="airlineCode">
                <span class="radio-tile custom-border">
                  <span class="radio-icon">
                    <img th:src="'/img/item/airlineIcon/' + ${air['HBT_AIRLINE_ICON']}">
                  </span>
                  <span class="radio-label">[[${air['HBT_AIRLINE_NAME']}]]</span>
                </span>
              </label>
            </div>


          </div>
        </th:block>

      </div>
      <div class="row mb-3 justify-content-center">
        <div class="col-auto">
          <input type="button" class="btn ye-S-bc" value="국가 날짜 선택 완료" onclick="getHotelnTourAJAX()">
        </div>
      </div>


  <!--  일자별 투어선택 -->
    <div class="row">


      <div class="collapse mx-0 px-5 custom-border-4 rounded-5 shadow" id="hotelNTourcollapse">
        <div class="card card-body border-0 mx-0 px-0 text-center">

          <h4 class="py-3">호텔 목록</h4>
          <div class="row hotelDiv">

          </div>
          <h4 class="py-3">투어 목록</h4>

          <div class="row tourDiv">

          </div>
        </div>
        <div class="row justify-content-center d-flex my-3">
          <div class="col-md-3 justify-content-center d-flex">
            <input class="btn ye-S-bc d-gird" type="button" value="상품 선택 완료" onclick="drawResultModal();">
          </div>
        </div>
      </div>
    </div>
  </div>



<!--    모달창!!! -->

    <div class="modal modal-lg fade" id="hotelModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-5 custom-border-4 shadow">
          <div class="modal-header">
            <h4>호텔 상세 정보</h4>
          </div>
          <div class="modal-body">

            <div class="row rounded-5 d-flex shadow custom-border-3 mx-2 my-2">


              <div class="col-6 px-0 mx-0">


                <div id="carouselExample" class="carousel slide">


                  <div class="carousel-inner hotelModalImg">

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>


              </div>

              <div class="col col-6 align-self-center">
                <table class="table table text-center justify-content-center align-self-center hotelInfoTable">
                </table>
              </div>
            </div>

            <div class="row d-flex justify-content-center selectHotel px-3 my-3">

            </div>

            <div class="row my-3 justify-content-center d-flex">
              <div class="col-md-3 justify-content-center d-flex">
                <input type="button" class="btn ye-S-bc" value="선택완료" onclick="selectedHotel();">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


<!--    투어상품모달-->

    <div class="modal modal-lg fade" id="tourModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-5 shadow custom-border-4">
          <div class="modal-header">
            <h4>투어 상세 정보</h4>
          </div>
          <div class="modal-body">


            <div class="row rounded-5 d-flex shadow custom-border-3 mx-2 my-2">
              <div class="col-6 px-0 mx-0 shadow">
                <div id="carouselTour" class="carousel slide">
                  <div class="carousel-inner tourModalImg">

                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#carouselTour" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#carouselTour" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>
                </div>


              </div>
              <div class="col-6 align-self-center">
                <table class="table text-center justify-content-center align-self-center tourInfoTable">
                </table>
              </div>
            </div>


            <div class="row selectTour mb-3">

            </div>
            <div class="row justify-content-center d-flex my-3">
              <div class="col-md-3 justify-content-center d-flex">
                <input type="button" class="btn ye-S-bc" value="선택완료" onclick="selectedTour();">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    전체결과 모달-->

    <div class="modal fade modal-lg text-center" id="resultModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content rounded-5 custom-border-4 shadow">
          <div class="modal-header">
            <h3>선택한 전체 일정</h3>
          </div>
            <form action="/item/buyNcart" method="post">
              <div class="modal-body">
                <table class="table resultTable"></table>
              </div>
              <div class="row mb-3 justify-content-center d-flex">
                <div class="col justify-content-center d-flex">
                  <input type="button" name="buttonType" value="장바구니" onclick="buyNCart('N');" class="btn ye-S-bc">
                </div>
                <div class="col justify-content-center d-flex">
                  <input type="button" name="buttonType" value="바로구매" onclick="buyNCart('Y')" class="btn ye-S-bc">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>

</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/item/diy_tour_item.js"></script>
</th:block>
</html>