<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/user_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
  <!--	<link rel="stylesheet" href="/"> -->
</th:block>

<th:block layout:fragment="content">
<!--  국가선택 -->
<!--  날짜선택 -->
<!--  항공편선택-->
<!-- 호텔선택  -->
<!--  일자별 투어선택 -->



</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
  <!--	<script type="text/javascript" src="/"></script> -->
</th:block>
</html>