<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/item/item_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
<link rel="stylesheet" href="/css/item/item_header.css">

</th:block>

<th:block layout:fragment="content">
	<div class="row justify-content-center mx-auto" style="width: 80%;">
		<div class="col">
			<!--	임시		-->
			<div class="row">
				<div class="col">
					<form action="/buy/buyItem" method="post">
						<input type="number" id="numOfPeople" name="reservedPeopleNum" value="1">명
						<input type="hidden" th:value="${buyDetailVO.departDate}" name="departDate">
						<input type="hidden" th:value="${buyDetailVO.arriveDate}" name="arriveDate">
						<input type="hidden" th:value="${itemDetail[0]['ITEM_PRICE']}" name="buyDPrice">
						<input type="hidden" id="itemCode" th:value="${itemDetail[0]['ITEM_CODE']}" name="itemCode">
						<input type="hidden" th:value="${itemDetail[0]['AREA_CODE']}" name="areaCode">
						<input type="submit" value="구매">
					</form>
				</div>
				<div class="col">
					<input type="button" value="장바구니" onclick="addCartAJAX();">
				</div>
			</div>

		
		<!-- 상품 제목  -->
			<div class="row">
				<div class="col">
					<h3>[[${itemDetail[0]['ITEM_TITLE']}]]</h3>
				</div>
			</div>
		
	<!-- 상품이미지 + 상품 제목 간단설명  -->
	
			<div class="row">
				<div class="col">
				
					<div id="itemLIstMainImg" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active" data-bs-interval="2000">
								<img src="/img/itempageMain/1100_10912.jpg"
									class="d-block w-100 rounded" alt="/img/item/xbox.jpg">
							</div>
							<div class="carousel-item" data-bs-interval="2000">
								<img src="/img/itempageMain/1100_12089.jpg"
									class="d-block w-100 rounded" alt="/img/item/xbox.jpg">
							</div>
							<div class="carousel-item" data-bs-interval="2000">
								<img src="/img/itempageMain/1100_11682.jpg"
									class="d-block w-100 rounded" alt="/img/item/xbox.jpg">
							</div>
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="itemLIstMainImg" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="itemLIstMainImg" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
					
				</div>
				
				
				<div class="col">
					<div class="row">
						<span>[[${itemDetail[0]['ITEM_TITLE']}]]</span>
					</div>
					
					
					<div class="row">
						<span>[[${itemDetail[0]['AREA_KOR_NAME']}]]</span>
					</div>
					
					
					<div class="row">
						<span>[[${itemDetail[0]['ITEM_PRICE']}]]</span>
					</div>
					
					<div class="row">
						<input type="button" value="예약하기">				
					</div>
					
				
				</div>
			</div>
			
			
			<!-- 주요 일정 & 가격 -->


			<div class="row my-3">
				<div class="col">
				
				
					<span>주요일정 & 가격 db에서 세팅</span>
					
					
					
				</div>
			</div>
			
			
			<!-- 포함/불포함/선택경비 -->


			<div class="row">
			
			<div class="col col-auto">
				<div class="row d-grid">

				</div>
				<div class="row">

				</div>
				<div class="row">

				</div>
			</div>
			</div>
			
			
			<!-- 여행상세일정 -->
			<div class="row">
				<div class="col">
				
				</div>
			</div>
			
			<!-- 방문도시정보 -->
			<div class="row">
				<div class="col">
				
				</div>
			</div>
			
			
			<!-- 여행후기 -->
			<div class="row">
				<div class="col">
				
				</div>
			</div>
			<!-- 방문도시정보 -->
			<div class="row">
				<div class="col">
				
				</div>
			</div>

			<!-- 끝!!!  -->



		</div>
	</div>
</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/item/tour_item_detail.js"></script>
</th:block>
</html>