<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
<link rel="stylesheet" href="/css/item/tour_item_list_detail.css">

</th:block>

<th:block layout:fragment="content">
	<div class="row mt-0 mb-3 d-flex justify-content-center">
		<div class="col-md-6">


	<!-- 상품이미지 + 상품 제목 간단설명  -->

			<h3 class="text-center mt-3">[[${itemDetail[0][0]['ITEM_TITLE']}]]</h3>

			<form action="/buy/buyItem" th:class="buyForm" method="post">
				<div class="row d-flex shadow mx-2 my-2"> 



					<div class="col-6 px-0 mx-0">

						<div id="itemLIstMainImg" class="carousel slide" data-bs-ride="carousel">

							<div class="carousel-inner rounded-start-5">
								<th:block th:each="img,state : ${itemImg}">
									<div th:classappend="${state.index} == 0 ? 'active' : '' " class="carousel-item rounded-5" data-bs-interval="3000">
										<img style="display: block; width: 100%;" th:src="'/img/item/itemImg/' + ${img['ITEM_IMG_ATTACHED_NAME']}"
											class="d-block" alt="슬라이드이미지">
									</div>
								</th:block>
							</div>

							<button class="carousel-control-prev" type="button"
								data-bs-target="itemLIstMainImg" data-bs-slide="prev">
								<span class="carousel-control-prev-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Previous</span>
							</button>
							<button class="carousel-control-next" type="button"
								data-bs-target="itemLIstMainImg" data-bs-slide="next">
								<span class="carousel-control-next-icon" aria-hidden="true"></span>
								<span class="visually-hidden">Next</span>
							</button>
						</div>

					</div>


					<div class="col-6 align-self-center">

						<table class="table text-center justify-content-center infoTable align-self-center">
							<tbody>
								<tr>
									<td>
										<span>
											여행지
										</span>
									</td>
									<td>
										<span>[[${itemDetail[0][0]['AREA_KOR_NAME']}]]</span>
									</td>
								</tr>
								<tr>
									<td>
										<span>
											항공사
										</span>
									</td>
									<td>
										<img height="25px" th:src="'/img/item/airlineIcon/' + ${itemDetail[0][0]['HBT_AIRLINE_ICON']}">
										<span>[[${itemDetail[0][0]['HBT_AIRLINE_NAME']}]]</span>
									</td>
								</tr>
								<tr>
									<td>가격</td>
									<td>
										<span th:text="${#numbers.formatCurrency(itemDetail[0][0]['ITEM_PRICE']) + '원'}"></span>
									</td>
								<tr>
									<td colspan="2" class="px-0">
										<textarea class="text-center form-control"
												  disabled style="background-color: white;" th:text="${itemDetail[0][0]['ITEM_INTRO']}">
										</textarea>
									</td>
								</tr>

							</tbody>
						</table>
						<input type="hidden" th:value="${itemDetail[0][0]['ITEM_PRICE']}" name="buyDPrice">
						<input type="hidden" id="itemCode" th:value="${itemDetail[0][0]['ITEM_CODE']}" name="itemCode">
						<input type="hidden" th:value="${itemDetail[0][0]['AREA_CODE']}" name="areaCode">



					</div>

				</div>

				<div class="row shadow mx-2 my-2 d-flex justify-content-center align-self-center">


					<div class="col-2 my-2 py-2 px-0 mx-1 justify-content-center">
						<div class="mx-1">
							<div class="form-text text-center" id="basic-addon1">출발일</div>
							<div class="input-group">
								<input aria-describedby="basic-addon1" style="width: 120px; font-size: 12px;" class="form-control center-align" type="date" th:value="${buyDetailVO.departDate}" name="departDate" id="departDate">
							</div>
						</div>
					</div>

				<div class="col-2 my-2 py-2 px-0 mx-1 justify-content-center">
						<div class="mx-1">
							<div class="form-text d-flex justify-content-center text-center" id="basic-addon2">도착일</div>
							<div class="input-group">
								<input aria-describedby="basic-addon2" style="width: 120px; font-size: 12px;" class="form-control center-align" type="date" th:value="${buyDetailVO.arriveDate}" name="arriveDate" id="arriveDate">
							</div>
						</div>
					</div>


					<div class="col-2 my-2 px-0 py-2 mx-1 justify-content-center-2">
						<div class="mx-1">
							<div class="form-text text-center" id="basic-addon3">인 원</div>
							<div class="input-group">
								<input aria-describedby="basic-addon3" style="width: 120px; font-size: 12px; text-align: center;" class="form-control center-align" type="number" id="numOfPeople" name="reservedPeopleNum" value="1">
							</div>
						</div>
					</div>

					<div class="col-2 px-0 py-2 ms-5 mx-0 my-2 justify-content-center align-self-center"  sec:authorize="isAuthenticated()" >
						<input class="btn ye-S-bc " type="button" onclick="buyConfirm();" value="예약하기">
					</div>

					<div class="col-2 px-0 py-2 mx-0 my-4 justify-content-center align-self-center" sec:authorize="isAuthenticated()" >
						<input class="btn ye-S-bc " type="button" value="장바구니" onclick="addCartAJAX();">
					</div>

				</div>
			</form>


			
			<!-- 주요 일정 & 가격 -->


			<div class="row my-3">
				<div class="col">
					<div class="accordion" id="accordionPanelsStayOpenExample">
						<th:block th:each="number, state : ${#numbers.sequence(0 , day - 1)}">

							<div class="accordion-item my-3  ">
								<h2 class="accordion-header">
									<button class="accordion-button rounded-5 shadow collapsed" type="button" data-bs-toggle="collapse"
											th:data-bs-target="${'#panelsStayOpen-collapseOne'} + ${state.count}"
											aria-expanded="false" th:onclick="getImgs([[${state.index}]])"
											aria-controls="panelsStayOpen-collapseOne +  + ${state.count}">
										[[${state.count}]]일차 일정
									</button>
								</h2>
								<div th:id="panelsStayOpen-collapseOne + ${state.count}" class="accordion-collapse collapse">
									<div class="accordion-body text-center">
										<div class="row mb-3 dailyPlanDivs d-flex justify-content-center">
											<div class="col-12">
												<th:block th:each="dailyPlan, index : ${itemDetail.get(state.index)}">
													<th:block th:if="${index.index == 0}">
														<div class="row mt-3 d-flex justify-content-center">
															<h3 class="rounded-5 w-50 custom-border-3 shadow">호텔정보</h3>
														</div>

														<div class="row rounded-5 mx-2 my-2 d-flex justify-content-center">
															<div class="col-5 px-0 mx-3">
																<div id="hotelImgSlide" class="carousel slide" data-bs-ride="carousel">
																	<div class="carousel-inner  shadow hotelImg" style="height: 200px;">


																	</div>
																	<button class="carousel-control-prev" type="button"
																			data-bs-target="hotelImgSlide" data-bs-slide="prev">
																		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																		<span class="visually-hidden">Previous</span>
																	</button>
																	<button class="carousel-control-next" type="button"
																			data-bs-target="hotelImgSlide" data-bs-slide="next">
																		<span class="carousel-control-next-icon" aria-hidden="true"></span>
																		<span class="visually-hidden">Next</span>
																	</button>
																</div>
															</div>

															<div class="col-5 mx-3 py-2 shadow align-self-center" style="height: 200px;">
																<table class="table text-center">
																	<tr>
																		<td>
																			<div class="col">[[${dailyPlan["HBT_HOTEL_NAME"]}]]</div>
																		</td>
																	</tr>
																	<tr>
																		<td>
																			<div class="col gradeDiv" th:data-grade="${dailyPlan['HBT_HOTEL_GRADE']}"></div>
																		</td>
																	</tr>
																	<tr>
																		<td colspan="3">
																			<textarea class="text-center form-control"
																					  disabled style="background-color: white;" th:text="${dailyPlan['HBT_HOTEL_INTRO']}"></textarea>
																		</td>
																	</tr>
																</table>
																<input type="hidden" th:value='${dailyPlan["HBT_HOTEL_CODE"]}'>
															</div>
														</div>


													</th:block>

													<div class="row mt-3 d-flex justify-content-center" th:if="${index.index == 0}">
														<h3 class="rounded-5 w-50 custom-border-3 shadow" >투어정보</h3>
													</div>

													<div class="row rounded-5 mx-2 my-2 d-flex justify-content-center">
														<div class="col-5 px-0 mx-3">
															<div id="tourImgSlide" class="carousel slide" data-bs-ride="carousel">
																<div class="carousel-inner  shadow tourImg" style="height: 200px;">


																</div>
																<button class="carousel-control-prev" type="button"
																		data-bs-target="tourImgSlide" data-bs-slide="prev">
																	<span class="carousel-control-prev-icon" aria-hidden="true"></span>
																	<span class="visually-hidden">Previous</span>
																</button>
																<button class="carousel-control-next" type="button"
																		data-bs-target="tourImgSlide" data-bs-slide="next">
																	<span class="carousel-control-next-icon" aria-hidden="true"></span>
																	<span class="visually-hidden">Next</span>
																</button>
															</div>
														</div>


														<div class="col-5 mx-3 py-2 shadow  d-flex align-self-center" style="height: 200px;">
															<table class="table mx-0">
																<tr>
																	<td class="align-middle">
																		<input type="hidden" th:value="${dailyPlan['HBT_TOUR_ITEM_CODE']}">
																		[[${dailyPlan["HBT_TOUR_ITEM_NAME"]}]]
																	</td>
																</tr>
																<tr>
																	<td class="align-self-center d-flex">
																		<textarea class="text-center form-control"
																				  disabled style="background-color: white; height: 5rem;" th:text="${dailyPlan['HBT_TOUR_ITEM_NAME']}">
																		</textarea>
																	</td>
																</tr>
															</table>
														</div>
													</div>

												</th:block>
											</div>
										</div>
									</div>
								</div>
							</div>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<div class="row mt-0 mb-3 d-flex justify-content-center">
		<div class="col-md-6">

			<div class="row d-flex justify-content-center my-3 mb-3">
				<div class="col-md-10 shadow align-content-middle">
					<h3 class="text-center my-2">리뷰</h3>
				</div>
			</div>



			<div class="row d-flex justify-content-center mb-3">
				<div class="col-md-10 shadow align-content-middle">
					<table class="table text-center">
						<colgroup>
							<col>
							<col>
							<col>
							<col>
						</colgroup>
						<thead>
							<tr>
								<td>작성자</td>
								<td>내용</td>
								<td>별점</td>
								<td>작성일</td>
							</tr>
						</thead>
						<tbody>
							<tr th:each="review : ${reviews}">
								<td>[[${review['MEM_CODE']}]]</td>
								<td>[[${review['HBT_MEM_REVIEW_CONTENT']}]]</td>
								<td>[[${review['STARS']}]]</td>
								<td>[[${review['REVIEW_REG_DATE']}]]</td>
							</tr>

						</tbody>

					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/item/tour_item_detail.js"></script>
</th:block>
</html>