<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/item/item_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
<link rel="stylesheet" href="/css/item/item_header.css">

</th:block>

<th:block layout:fragment="item_content">
	<div class="row">
		<div class="col">
		
			<!-- 그룹별 상품보기 -->
			<div class="row">
				<div class="col">
					<span>[['총 ' + ${#lists.size(tourItemList)} + '건의 상품이 검색되었습니다.']]</span>
				</div>
			</div>

				<!-- 상품목록  -->
			<th:block th:each="tourItem, state : ${tourItemList}">
				<div class="row itemRow">
					<div class="col col-2 itemImg d-gird">
						<img th:src='@{/img/item/itemImg/} + ${tourItem["ITEM_IMG_ATTACHED_NAME"]}'>
					</div>
					<div class="col col-2 d-flex align-items-center">
						<span class="">[[${tourItem["ITEM_TITLE"]}]]</span>
					</div>
					<div class="row mt-2 offset-2 mb-3">
						<div class="col">
							<span>[[${tourItem["ITEM_PRICE"]}]]</span>
						</div>
						<div class="col">
							<span>[[${tourItem["TRAVER_PERIOD"]}]]</span>
						</div>
						<div class="col">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
									th:data-bs-target="'#' + flush-collapseOne + ${state.index}" aria-expanded="false" 
									th:aria-controls="flush-collapseOne + ${state.index}" 
									th:onclick="getSearchByDateTable([[${state.index}]]);">
						        출발일 보기
						     </button>
						</div>
					</div>
				
					
				<div class="row mb-2">
					<div class="col">
						<div th:id="flush-collapseOne + ${state.index}" class="accordion-collapse collapse"
							data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">
								<div class="row dateDiv">
									<div class="col" th:onclick="getSearchByDateTable([[${state.index}]], 0);">
										<span class="yearSpan"></span>
										<span class="monthSpan"></span>
									</div>
									<div class="col" th:onclick="getSearchByDateTable([[${state.index}]],1);">
										<span class="yearSpan"></span>
										<span class="monthSpan"></span>
									</div>
									<div class="col" th:onclick="getSearchByDateTable([[${state.index}]],2);">
										<span class="yearSpan"></span>
										<span class="monthSpan"></span>
									</div>
									<div class="col" th:onclick="getSearchByDateTable([[${state.index}]],3);">
										<span class="yearSpan"></span>
										<span class="monthSpan"></span>
									</div>
								</div>
								<div class="row">
									<div class="col">
										<table class="calTableTag table">
											<colgroup></colgroup>
										</table>
									</div>
								</div>
								
								<div class="row">
									<div class="col">
										<span>- 출발날짜를 선택 하시면 해당 날짜에 출발 가능한 상품을 리스트에서 확인 하실 수 있습니다.</span>
										<span>- 성인 1인기준 기본 상품판매가 + 유류할증료, 제세공과금을 더한 총 여행요금입니다.</span>
									</div>
								</div>
								<div class="row">
									<div class="col d-flex justify-content-center">
										<table class="table justify-content-center">
											<colgroup>
											</colgroup>
											<thead>
												<tr>
													<td>출발정보<br>도착정보</td>
													<td>항공사</td>
													<td>여행기간</td>
													<td>여행요금</td>
													<td>상품명</td>
													<td>예약상태</td>
												</tr>
											</thead>
											<tbody>
											
											</tbody>
										</table>
									</div>
								</div>
								
								<div class="row">
									<div class="col text-center mx-auto">
										<input class="collapsed" type="button"
										data-bs-toggle="collapse"
										th:data-bs-target="'#' + flush-collapseOne + ${state.index}" aria-expanded="false"
										th:aria-controls="flush-collapseOne + ${state.index}" value="닫기">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</th:block>
			
			
			<div class="row"></div>
			<div class="row"></div>
			<div class="row">
				<input type="button" value="test" onclick="searchPlaces();">
			</div>
			
		</div>
	</div>


<input type="hidden" name="areaName" th:value="${areaName}">
</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/item/tour_item_list_group.js"></script>
</th:block>
</html>