<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{fragment/user_layout}">
<!-- 연결해야할 외부 CSS파  -->
<th:block layout:fragment="content_css">
<link rel="stylesheet" href="/css/item/item_header.css">

<style>
.searchByDateCal > tbody > tr > td:hover {
	cursor: pointer;
}
.searchResultByDate img {
	height: 100px;
}

.resultDiv img {
	display: block; width: 100%;
}

</style>

</th:block>

<th:block layout:fragment="content">
<div class="row">
	<div class="col">
		
		
		
		<!-- 달력/상세검색 -->
		<div class="row">
			<div class="col">
<!--				<span>[[${areaName} + ' 검색결과']]</span>-->
			</div>
		</div>
		<!-- 년/월 다음날 이번달 버튼 -->
		<div class="row mt-0 mb-3 d-flex justify-content-center">
			<div class="col-md-6 shadow custom-border-2 rounded-5">
				<nav aria-label="Page navigation example d-flex justify-content-center">
					<ul class="pagination d-flex my-2 justify-content-center">
						<li class="page-item">
							<a class="page-link border-0" href="javascript:void(0);" onclick="getSearchByDateTable('prev');"
							aria-label="Previous">
								<span class="ye-S-fc" aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item align-middle py-2">
							<span class="" id="yearSpan"></span>
							<span>.</span>
							<span id="monthSpan"></span>
						</li>
						<li class="page-item">
							<a class="page-link border-0" href="javascript:void(0);" onclick="getSearchByDateTable('next');"
							aria-label="Next">
								<span class="ye-S-fc" aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>


		<div class="row mt-0 mb-3 d-flex justify-content-center">
			<div class="col px-2 py-2 col-md-6 shadow custom-border-2 rounded-5">
				<table class="table text-center searchByDateCal px-1 py-1 my-1">
					<colgroup>
					</colgroup>
					<thead>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
	
	
		
		<!-- 검색결과 상단 메뉴  -->
		<div class="row">
			<div class="col">
							
			</div>
		</div>


		<!-- 검색결과표  -->		
		<div class="row mt-0 mb-3 d-flex justify-content-center">
			<div class="col-md-6 shadow custom-border-2 rounded-5 rusultDiv">
				<th:block th:each="tourItem, state : ${tourItemList}">
					<input type="hidden" name="endDate" id="endDate" th:value='${tourItem["END_DATE"]}'>
					<input type="hidden" name="listIndex" th:value='${#lists.size(tourItemList)}'>
					<h3 class="text-center mt-5">[[${tourItem["ITEM_TITLE"]}]]</h3>
					<div class="row rounded-5 mx-5 mb-5 border custom-border-2 shadow" style="cursor: pointer;" th:onclick="|location.href='@{/item/tourItemListDetail(departDate = ${tourItem.DEP_DATE},arriveDate = ${tourItem.ARR_DATE},itemCode = ${tourItem.ITEM_CODE})}'|">
						<div class="col-6 px-0 mx-0 rounded-5">
							<img style="display: block; width: 100%;" class="rounded-5 object-fit-fill" th:src="'/img/item/itemImg/' + ${tourItem['ITEM_IMG_ATTACHED_NAME']}">
						</div>
						<div class="col-6">
							<table class="table align-middle broder-0 mt-3 py-0 d-flex align-items-center justify-content-center text-center">
								<tr>
									<td>여행국가 :</td>
									<td>[[${tourItem["AREA_KOR_NAME"]}]]</td>
								</tr>
								<tr>
									<td>출발예정 :</td>
									<td>[[${tourItem["DEP_DATE"]}]]</td>
								</tr>
								<tr>
									<td>도착예정 : </td>
									<td>[[${tourItem["ARR_DATE"]}]]</td>
								</tr>
								<tr>
									<td>결제금액 :</td>
									<td>[[${tourItem["ITEM_PRICE"]}]]</td>
								</tr>
								<tr>
									<td colspan="2">리뷰 : 1개</td>
								</tr>
							</table>
						</div>
					</div>
				</th:block>
			</div>
		</div>






		
		<div class="row"></div>
		<div class="row"></div>
	</div>
</div>

<input type="hidden" name="areaName" id="areaName">

</th:block>

<!--  연결해야할 외부 js 파일 -->
<th:block layout:fragment="content_js">
<script type="text/javascript" src="/js/content/item/tour_item_list_date.js"></script>
</th:block>
</html>