.radio-inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radio-inputs > * {
    margin: 6px;
}

.radio-input:checked + .radio-tile {
    border-color: #ffd000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: #ffd000;
}

.radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #ffd000;
    border-color: #ffd000;
}

.radio-input:checked + .radio-tile .radio-icon svg {
    fill: #ffd000;
}

.radio-input:checked + .radio-tile .radio-label {
    color: #ffd000;
}

.radio-input:focus + .radio-tile {
    border-color: #ffd000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #ffd000;
}

.radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
}

.radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
}

.radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid #ffd000;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
}

.radio-tile:hover {
    border-color: #ffd000;
}

.radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
}

.radio-icon svg {
    width: 2rem;
    height: 2rem;
    fill: #494949;
}

.radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
}

.radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.custom-border {
    border: 1px solid #ffd000 !important;
}

.card > img {
    width: 285px;
    height: 215px;
}

.form-control:focus {
    box-shadow: 0 0 0.4rem #ffd000;
    border: 2px solid #ffd000;

}

.form-control {
    border: 1px solid #ffd000;
    box-shadow: none; /* 선택 사항: 클릭 시 생기는 그림자 제거 */
}


/* CARD */

.card1 img {
    justify-content: start;
    align-content: start;
}

.card1 {
    color: #1b1b1b;
    width: 190px;
    height: 254px;
    position: relative;
    outline: 3px solid #fff9d4;
    border-radius: 8px;
    line-height: 150%;
    background: #ff930f;
    background-blend-mode: multiply;
    background: linear-gradient(to top, #ffd000, #fff9d4);
    transition: background-color 1s ease-in-out;
    overflow: hidden;
}

.card1border {
    outline: 6px solid #ffd000;
!important;
}

.card1border-sm {
    outline: 4px solid #ffd000;
!important;
}

.card1-front {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.card1-back {
    bottom: 16px;
    left: 0;
    position: absolute;
    width: 100%;
    text-align: center;
    transform: translateX(120%);
    transition: transform 1s cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.card1-back p {
}


/*Text*/
.title1 {
    padding-top: 10px;
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: bold;
}

/*Text divider*/
.title1::after {
    content: "";
    display: block;
    width: 50%;
    border-radius: 50%;
    height: 1px;
    margin: 2px auto;
    background-color: #1b1b1b;
}


/*Hover*/
.areaDiv:hover {
    background-color: #1b1b1b25;
}

.areaDiv:hover .card1-front {
    transform: translateX(-100%);
}

.areaDiv:hover .card1-back {
    transform: translateX(0);
}




