<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href="/css/test.css(변경)">--> <!-- 외부 css 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


<th:block layout:fragment="adminContent">
<style type="text/css">
	
.btn-primary {
	--bs-btn-color: black;
	--bs-btn-bg: #ffd000;
	--bs-btn-border-color: none;
	--bs-btn-hover-border-color: none;
	--bs-btn-hover-bg: #ffae26;
}


</style>
	<!-- 여기에 html 코드 작성 -->
	
	<div class="row">
		<div class="col">
			<div class="pageInfo">관리자 메뉴&nbsp; > &nbsp;상품 관리&nbsp; > &nbsp;카테고리 관리</div>
			<h3 class="menuTitle">카테고리 관리</h3>
			<div class="row">
				<div class="col sub-title mb-3">
					여행국가 카테고리 등록
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<form class="row g-3">
						<div class="col-9">
							<input id="areaCode" type="text" class="form-control EnglargeDiv" placeholder="2자리 국가 코드 입력" style="margin-bottom: 10px;" required maxlength="2"/>
							<input id="areaKorName" type="text" class="form-control onlyKor" placeholder="한글 국가명 입력" style="margin-bottom: 10px;" onkeyup="onlyKor(event)" required>
							<input id="areaEngName" type="text" class="form-control EnglargeDiv" placeholder="영문 국가명 입력" style="margin-bottom: 10px;" required>
						</div>       <!-- d-grid : col-영역만큼 버튼 사이즈 커짐 -->
						<div class="col-2 d-grid">
							<button th:onclick="regArea();" type="button" class="btn btn-primary mb-3">
								등록
							</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col mb-3">
							여행국가 카테고리 목록
						</div>
					</div>
					<div class="row">
						<div class="col">
							<table id="areaCateTable" class="table table-striped table-hover text-center" style="width: 1000px; vertical-align: middle;">
								<colgroup>
				                  <col width="5%">
				                  <col width="10%">
				                  <col width="15%">
				                  <col width="*%">
				                  <col width="18%">
				                  <col width="18%">
				                  <col width="7%">
				                </colgroup>
								<thead class="table-head text-center">
									<tr>
										<td>No</td>
										<td>국가코드</td>
										<td>한글 국가명</td>
										<td>영문 국가명</td>
										<td>사용여부</td>
										<td>메인노출여부</td>
										<td> </td>
									</tr>
								</thead>
								<tbody>
									<th:block th:if="${#lists.size(areaCateList) == 0}">
										<tr>
											<td colspan="4">등록된 국가가 존재하지 않습니다.</td>
										</tr>
									</th:block>
									<th:block th:unless="${#lists.size(areaCateList) == 0}">
										<tr th:each="area, state : ${areaCateList}">
											<td>[[${state.count}]]</td>
											<td>[[${area.areaCode}]]</td>
											<td>[[${area.areaKorName}]]</td>
											<td>[[${area.areaEngName}]]</td>
											<td>
												<div class="row"> <!-- 정현 추가 -->
													<div class="form-check col-6">
														<input th:name="${'isUse_' + state.count}" type="radio"
															class="form-check-input"
															th:checked="${area.isUse == 'Y'}"
															th:onchange="changeAreaIsUse([[${area.areaCode}]]);"
															>사용중
													</div>
													<div class="form-check col-6">
														<input th:name="${'isUse_' + state.count}" type="radio"
															class="form-check-input"
															th:checked="${area.isUse == 'N'}"
															th:onchange="changeAreaIsUse([[${area.areaCode}]]);"
															>미사용
													</div>
												</div>
											</td>
											<td>
												<div class="row">
													<div class="form-check col-6">
														<input th:name="${'isExposeMain_' + state.count}" type="radio"
															class="form-check-input isExposeRadio"  value="Y"
															th:checked="${area.isExposeMain == 'Y'}"
															th:onchange="changeIsExposeMain([[${area.areaCode}]], this);"
															>노출
													</div>
													<div class="form-check col-6">
														<input th:name="${'isExposeMain_' + state.count}" type="radio"
															class="form-check-input isExposeRadio" value="N"
															th:checked="${area.isExposeMain == 'N'}" 
															th:onchange="changeIsExposeMain([[${area.areaCode}]], this);"
															>비노출
													</div>
												</div>
											</td>
											<td><input type="button" value="삭제" class="btn deleteBtn"
												th:onclick="deleteAreaCate([[${area.areaCode}]]);"></td>
										</tr>
									
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col"></div>
			</div>
			
			
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/cate_manage.js"></script> <!-- 외부 js 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


</html>