<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/reservation_detail.css"> <!-- 외부 css 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


<th:block layout:fragment="adminContent">
	<div class="row">
		<div class="col">
			<h3 class="menuTitle">주문 상세 페이지</h3>
			<div class="row">
				<div class="col-12">
					<h5 class="miniTitle">예약상품</h5>
					<table class="table">
						<colgroup>
							<col width="15%">
							<col width="*">
						</colgroup>
						<tr>
							<td rowspan="3">
								<img src="/img/diyDetailImg/vector_flying in_the_plane.png" width="130px" style="border-radius: 10px;">
							</td>
							<td class="detailItemTitle">[ [[${reservDetail.tourAreaVO.areaKorName}]] ]&nbsp;[[${reservDetail.memberVO.memName}]]님의 DIV 여행</td>
						</tr>
						<tr>
							<td class="detailDate">[[${reservDetail.departDate}]]부터 ~ [[${reservDetail.arriveDate}]]까지</td>
						</tr>
						<tr>
							<td></td>
						</tr>
						<tr>
							<td rowspan="3">상품 금액</td>
							<td class="priceTd">
								<div>호텔 &nbsp; [[${#numbers.formatCurrency(hotelTotalPrice)}]]원</div>
								<div>투어 &nbsp; [[${#numbers.formatCurrency(tourTotalPrice)}]]원</div>
							</td>
						</tr>
						<tr>
							<td class="priceTd totalPrice" >합계 금액 &nbsp; [[${#numbers.formatCurrency(reservDetail.totalPrice)}]]원</td>
						</tr>
					</table>
					<div class="col-12">
						<h5 class="miniTitle">예약자 정보</h5>
						<table class="table">
							<colgroup>
								<col width="">
							</colgroup>
							<tr>
								<td class="reservInfoTd">
									<span class="reservInfoSpan">아이디 &nbsp;</span> [[${reservDetail.memberVO.memId}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">이름 &nbsp;</span> [[${reservDetail.memberVO.memName}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">휴대폰번호 &nbsp;</span> [[${reservDetail.memberVO.memberDetailVO.memDTell}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">이메일주소 &nbsp;</span> [[${reservDetail.memberVO.memberDetailVO.memEmail}]]
								</td>
							</tr>
						</table>
					</div>
					<div class="col-12">
						<h5 class="miniTitle">항공권 정보</h5>
						<table class="table">
							<colgroup>
								<col width="">
							</colgroup>
							<tr>
								<td>  
									<span class="reservInfoSpan">항공사 &nbsp;</span>
									<img th:src="${'/img/item/airlineIcon/' + reservDetail.airlineVO.hbtAirlineIcon}" width="28px;"> 
									[[${reservDetail.airlineVO.hbtAirlineName}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">도착지 &nbsp;</span> [[${reservDetail.tourAreaVO.areaKorName}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">출국일자 &nbsp;</span> [[${reservDetail.departDate}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">입국일자 &nbsp;</span> [[${reservDetail.arriveDate}]]
								</td>
							</tr>
						</table>
					</div>
					<div class="col-12">
						<h5 class="miniTitle">호텔 정보</h5>
						<table class="table">
							<colgroup>
								<col width="">
							</colgroup>
							<th:block th:each="hotel : ${hotelList}">
								<tr th:each="diy : ${hotel.diyDetailList}">
									<td><span class="reservInfoSpan">[[${diy.hbtDiyDay}]]일차 &nbsp;</span> [[${diy.hotelList[0].hbtHotelName}]]</td>
								</tr>
							</th:block>
						</table>
					</div>
					<div class="col-12">
						<h5 class="miniTitle">투어 정보</h5>
						<table class="table">
							<colgroup>
								<col width="">
							</colgroup>
							<th:block th:each="tour : ${tourList}">
								<tr th:each="diy : ${tour.diyDetailList}">
									<td><span class="reservInfoSpan">[[${diy.hbtDiyDay}]]일차 &nbsp;</span> [[${diy.tourItemList[0].hbtTourItemName}]]</td>
								</tr>
							</th:block>
						</table>
					</div>
					<div class="col-12">
						<h5 class="miniTitle">결제 정보</h5>
						<table class="table">
							<colgroup>
								<col width="">
							</colgroup>
							<tr>
								<td>
									<span class="reservInfoSpan">결제일 &nbsp;</span> [[${reservDetail.diyTourBuyDate}]]
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">결제 금액 &nbsp;</span> [[${#numbers.formatCurrency(reservDetail.totalPrice)}]]원
								</td>
							</tr>
							<tr>
								<td>
									<span class="reservInfoSpan">결제 수단 &nbsp;</span>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src="/js/test.js(변경)"></script> --> <!-- 외부 js 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


</html>