<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/item_manage_for_sale.css"> <!-- 외부 css 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


<th:block layout:fragment="adminContent">
	<div class="row">
		<div class="col">
			<h3 class="menuTitle">판매 상품 관리</h3>
			<div class="row searchDiv">
				<div class="col">
					<form th:action="@{/admin/itemManageForSale}" method="post" id="searchForm">
						<input type="hidden" name="nowPage" th:value="${saleListSearchVO.nowPage}" id="nowPage">
						<table class="table table-borderless">
							<colgroup>
								<col width="15%">
								<col width="*">
								<col width="16.2%">
								<col width="20%">
							</colgroup>
							<tbody>
								<tr>
									<td>
										<div class="row">
											<div class="col">
												<select class="form-select searchSelect" name="searchKeyword">
													<option value="ITEM_TITLE" th:selected="${saleListSearchVO.searchKeyword == 'ITEM_TITLE'}">상품명</option>
													<option value="AREA.AREA_KOR_NAME" th:selected="${saleListSearchVO.searchKeyword == 'AREA.AREA_KOR_NAME'}">여행지</option>
													<option value="HIS.STATUS_NAME" th:selected="${saleListSearchVO.searchKeyword == 'HIS.STATUS_NAME'}">판매상태</option>
													<option value="TRAVER_PERIOD" th:selected="${saleListSearchVO.searchKeyword == 'TRAVER_PERIOD'}">여행기간</option>
												</select>
											</div>
										</div>
									</td>
									<td>
										<div class="row">
											<div class="col">
												<input type="text" class="form-control searchInput" name="searchValue" th:value="${saleListSearchVO.searchValue}">
											</div>
										</div>
									</td>
									<td colspan="2">
									 <div class="row">
									 	<div class="col-8 d-grid" style="padding-right: 0px;">
											<input type="submit" value="상품 검색" class="btn btn-primary searchInput">
										</div>
				                     </div>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div class="row">
											<div class="col-3">
												<input type="date" class="form-control searchInput" name="searchFromDate" th:value="${saleListSearchVO.searchFromDate}">
											</div>
											<div class="col-1" style="width: 30px;">~</div>
											<div class="col-3">
												<input type="date" class="form-control searchInput" name="searchToDate" th:value="${saleListSearchVO.searchToDate}">
											</div>
											<div class="col-4 priceDiv">
											 	<input type="text" class="searchInput2" name="searchFromPrice" th:value="${saleListSearchVO.searchFromPrice}" placeholder="상품 가격 입력">
												<span>~</span>
												<input type="text" class="searchInput2" name="searchToPrice" th:value="${saleListSearchVO.searchToPrice}" placeholder="상품 가격 입력">
									 		</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
					
				</div>
			</div>
			<div class="row mt-3">
			<div class="smallRed">* 패키지명 클릭 시 상품 상세 정보를 확인할 수 있습니다.</div>
				<div class="col">
					<table class="table text-center listTable">
						<colgroup>
							<col width="10%">
							<col width="*">
							<col width="15%">
							<col width="10%">
							<col width="15%">
							<col width="10%">
						</colgroup>
						<thead style="background-color: #f2f2f2;">
							<tr class="text-center">
								<td><input type="checkbox" class="form-check-input" id="allCheck" onclick="AllCheckboxControl();"></td>
								<td>상품</td>
								<td>판매기간</td>
								<td>여행기간</td>
								<td>가격</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${#lists.size(itemSaleList) == 0}">
								<tr>
									<td colspan="7">등록된 상품이 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.size(itemSaleList) == 0}">
								<tr th:each="item : ${itemSaleList}">
									<td><input type="checkbox" class="form-check-input chk" th:value="${item.itemCode}" onclick="listCheckboxControl();"></td>
									<td class="itemTd">
										<table class="itemTdTable">
											<tr>
												<td>
													<img th:src="${'/img/item/itemImg/' + item.imgList[0].itemImgAttachedName}" width="100px"></td>
												<td style="padding-left: 10px;">
													<div><span class="itemStatusSpan">[[${item.itemStateVO.statusName}]]</span></div>
													<div>[[${item.tourAreaVO.areaKorName}]]</div>
													<div th:onclick="openModal([[${item.itemCode}]], [[${areaCateList}]]);"
														style="cursor: pointer;">[[${item.itemTitle}]]</div>
												</td>
											</tr>
										</table>
									</td>
									<td>
										<div>[[${item.sellingStart}]]</div>
										<div>~</div>
										<div>[[${item.sellingEnd}]]</div>
									
									</td>
									<td>[[${item.traverPeriod}]]</td>
									<td>[[${#numbers.formatCurrency(item.itemPrice)}]]</td>
									<td>
										<input type="button" value="삭제" class="btn deleteBtn"
											th:onclick="deleteItem([[${item.itemCode}]])"> 
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-2 d-grid">
					<input type="button" value="선택 삭제" class="btn btn-primary"
						th:onclick="deleteCheckItems();">
				</div>
			</div>
		</div>
	</div>
	<!-- 페이징 -->
	<div class="row justify-content-center">
		<div class="col-3">
			<nav aria-label="Page navigation example">
			  <ul class="pagination">
			    <li class="page-item" th:classappend="${saleListSearchVO.prev ? '' : 'disabled'}">
			      <a class="page-link" href="javascript:void(0);" th:onclick="getSaleListPaging([[${saleListSearchVO.beginPage - 1}]]);" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    
			    <li class="page-item"   
			    	th:each="pageNum : ${#numbers.sequence(saleListSearchVO.beginPage, saleListSearchVO.endPage)}">
			    	<a class="page-link"  th:classappend="${saleListSearchVO.nowPage == pageNum ? 'active' : ''}" 
			    		href="javascript:void(0);" th:onclick="getSaleListPaging([[${pageNum}]]);">[[${pageNum}]]</a>
			    </li>
			    
			    <li class="page-item" th:classappend="${saleListSearchVO.next ? '' : 'disabled'}">
			      <a class="page-link" href="javascript:void(0);" th:onclick="getSaleListPaging([[${saleListSearchVO.endPage + 1}]]);" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
		</div>
	</div>
	
	<!-- 상품 상세 페이지 모달 -->
	<div class="row">
		<div class="col">
			<div class="modal" id="itemDetailModal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			  <div class="modal-dialog modal-lg">
			    <div class="modal-content">
			  		<div class="modal-header">
	        			<h5 class="modal-title">상품 상세 정보</h5>
	        			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>	
					<div class="modal-body">
						<form class="row detailModalForm">
							<div class="col-3">
								<label for="" class="form-label">여행 국가</label>
								<select id="" name="areaCode" class="form-select">
		              		 	<th:block>
		               				<option></option>
		              			 </th:block>
		            			</select>
							</div>
							<div class="col-9">
								<label for="" class="form-label">패키지 이름</label> 
								<input type="text" class="form-control" id="" name="itemTitle">
							</div>
							<div class="col-3">
								<label for="" class="form-label">기본 가격</label>
								<input type="text" class="form-control" id="" name="itemPrice">
							</div>
							<div class="col-3">
								<label for="" class="form-label">땡처리할인</label>
								<select id="" name="isBombSale" class="form-select">
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>
							<div class="col-3">
								<label for="" class="form-label">성수기요금</label>
								<select id="" name="isPeak" class="form-select">
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>
							<div class="col-3">
								<label for="" class="form-label">출발요일할증</label> 
								<select id="" name="isExtraCharge" class="form-select">
									<option value="Y">Y</option>
									<option value="N">N</option>
								</select>
							</div>
							<div class="col-4">
								<label for="" class="form-label">패키지 기간</label>
								<input type="text" class="form-control" id="" name="traverPeriod" >
							</div>
							<div class="col-4">
								<label for="" class="form-label">판매시작일</label>
								<input type="date" class="form-control" id="" name="sellingStart" >
							</div>
							<div class="col-4">
								<label for="" class="form-label">판매종료일</label>
								<input type="date" class="form-control" id="" name="sellingEnd" >
							</div>
							<div class="col-12">
								<label for="" class="form-label">패키지 소개</label>
								<textarea rows="5" class="form-control" name="itemIntro"></textarea>
							</div>
							<div class="col-6">
								<label for="" class="form-label">메인 이미지</label>
								<input type="file" class="form-control" id="" name="mainImg">
							</div>
							<div class="col-6">
								<label for="" class="form-label">상세 이미지</label>
								<input type="file" class="form-control" id="" name="subImg" multiple>
							</div>
							<div class="col-12">
								<div class="form-check form-check-inline">
									<input class="form-check-input" value="1" type="radio" id="" name="statusCode" checked>
									<label class="form-check-label" for="">판매중</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" value="2" type="radio" id="" name="statusCode">
									<label class="form-check-label" for="">준비중</label>
								</div>
								<div class="form-check form-check-inline">
									<input class="form-check-input" value="3" type="radio" id="" name="statusCode">
									<label class="form-check-label" for="">품절</label>
								</div>
							</div>
							<div class="col-3">
								<input id="updateButton" type="submit" class="btn"
									style="background-color: #ffd000;" value="수정">
							</div>
						</form>
					</div>
			  		</div>
			  	</div>
			</div>
		</div>
	</div>
	
	<!-- img모달 -->
	<div class="modal fade" id="imgModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5">Modal Title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<img src="" width="100%"><!-- 이미지 파일 경로 매번 바뀜. > js에서 태그 선택하여 경로 작업.   -->
				</div>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/item_manage_for_sale.js"></script> <!-- 외부 js 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


</html>