<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<link rel="stylesheet" href="/css/content/admin/request_manage.css">
</th:block>

<th:block layout:fragment="adminContent">
	
	<div class="row mb-3">
		<div class="col">
			<h2>문의 사항 관리</h2>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			<table class="table align-middle search-request text-center">
				<colgroup>
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<thead class="">
					<tr>
						<td class="align-middle">문의일자</td>
						<td colspan="3">
							<div class="row">
								<div class="col-6">
									<div class="input-group">
										<span class="input-group-text">From</span>
										<input type="date" class="form-control" name="searchFromDate">
									</div>
								</div>
								<div class="col-6">
									<div class="input-group">
										<span class="input-group-text">To</span>
										<input type="date" class="form-control" name="searchFromDate">
									</div>
								</div>
							</div>
						</td>
						<td>
							<input class="btn btn-secondary w-100" type="button" value="초기화">
						</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>문의유형</td>
						<td>
							<select class="form-select text-center">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</td>
						<td>문의자</td>
						<td>*회원아이디</td>
						<td rowspan="2">
							<input type="button" class="btn btn-primary w-100" value="검색">
						</td>
					</tr>
					<tr>
						<td>문의제목</td>
						<td>*작성된제목</td>
						<td>구매코드</td>
						<td>*입력된구매코드</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			3
		</div>
	</div>
	<div class="row mb-3">
		<div class="col">
			4
		</div>
	</div>
	
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<!--<script type="text/javascript" src="/js/test.js(변경)"></script> --> <!-- 외부 js 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


</html>