<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<!--<link rel="stylesheet" href="/css/test.css(변경)">--> <!-- 외부 css 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


<th:block layout:fragment="adminContent">
<style type="text/css">

	#searchTable > tbody > tr > td > div {
		justify-content: center;
		align-items: center;
}
</style>
	<div class="row">
		<div class="col">
			<h3 class="menuTitle">전체 예약 관리</h3>
			<div class="row">
				<div class="col">
					<div class="row">
						<div class="col">
							<form th:action="@{/admin/reservationInquiry}" method="post" id="searchForm">
							<!-- <input type="hidden" name="buyCode" th:value="${orderListSearchVO.buyCode}" id="orderBy"> -->
							<input type="hidden" name="nowPage" th:value="${buyListSearchVO.nowPage}" id="nowPage">
								<table class="table" id="searchTable">
									<colgroup>
										<col width="">
									</colgroup>
									<tr>
										<td>
										<div class="row">
											<div class="col-1">
												검색조건
											</div>
											<div class="col-2">
												<select class="form-select" name="searchKeyword">
													<option value="HB.BUY_CODE" th:selected="${buyListSearchVO.searchKeyword == 'HB.BUY_CODE'}">예약코드</option>
													<option value="MEM_NAME" th:selected="${buyListSearchVO.searchKeyword == 'MEM_NAME'}">예약자명</option>
													<option value="MEM_ID" th:selected="${buyListSearchVO.searchKeyword == 'MEM_ID'}">아이디</option>
													<option value="MEM_D_TELL" th:selected="${buyListSearchVO.searchKeyword == 'MEM_D_TELL'}">연락처</option>
												</select>
											</div>
											<div class="col-9">
												<input type="text" class="form-control" name="searchValue" th:value="${buyListSearchVO.searchValue}">
											</div>
										</div>
										</td>
									<tr>	
									<tr>	
										<td>
											<div class="row">
												<div class="col-1">
													예약상태
												</div>
												
												<div class="col-7">
													<input type="checkbox" class="form-check-input" id="searchAllCheck">
													<label class="form-check-label">전체</label>
													<th:block th:each="buyStatus : ${buyStatusList}">
														<input type="checkbox" class="form-check-input searchChk" th:value="${buyStatus.buyStatusCode}"
															name="statusCodeList" th:checked="${buyListSearchVO.statusCodeList == null ? 'false' : #lists.contains(buyListSearchVO.statusCodeList, buyStatus.buyStatusCode)}">
														<label class="form-check-label">[[${buyStatus.buyStatusName}]]</label>
													</th:block>
												</div>
												<div class="col-4">
													
												</div>
												
											</div>
										</td>
										
									</tr>
									<tr>	
										<td>
											<div class="row">
												<div class="col-1">
													기간
												</div>
											
												<div class="col-3">
													
													<select class="form-select">
														<option>주문일</option>
														<option>취소관리</option>
													</select>
												</div>
												<div class="col-4">
													<input type="button" class="btn btn-outline" style="border-color: #ffd000;" value="7일">
													<input type="button" class="btn btn-outline" style="border-color: #ffd000;" value="1개월">
													<input type="button" class="btn btn-outline" style="border-color: #ffd000;" value="3개월">
												</div>
												<div class="col-2">
													<input type="date" class="form-control" name="searchFromDate" th:value="${buyListSearchVO.searchFromDate}">
													
												</div>
												<div class="col-2">
													<input type="date" class="form-control" name="searchToDate" th:value="${buyListSearchVO.searchToDate}">
												</div>
											</div>
										</td>
									</tr>
								</table>
								<input type="submit" value="검색" class="btn" onclick="searchBuyList();">
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row mt-5">
				<div class="col">
					<div class="row">
						<div class="col-2">
							<select class="form-select" id="buyStatusSelect">
								<option>예약상태변경</option>
							<th:block th:each="buyStatus : ${buyStatusList}">
								<option th:value="${buyStatus.buyStatusCode}">[[${buyStatus.buyStatusName}]]</option>
							</th:block>
							</select>
							
						</div>
						<div class="col-1">
							<input type="button" value="변경" class="btn" style="background-color: #ffd000;" onclick="changeBuyStatus();">
						</div>
					</div>
					<table class="table text-center">
						<colgroup>
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
							<col width="">
						</colgroup>
						<thead>
							<tr>
								<td><input type="checkbox" class="form-check-input" id="allCheck" onclick="AllCheckboxControl();"></td>
								<td>예약코드</td>
								<td>예약일</td>
								<td>예약상품명</td>
								<td>예약자정보</td>
								<td>예약상태</td>
							</tr>
						</thead>
						<tbody>
							<th:block th:if="${#lists.size(buyList) == 0}">
								<tr>
									<td colspan="6">조회할 예약 내역이 없습니다.</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.size(buyList) == 0}">
								<tr th:each="buy, state : ${buyList}">
									<td><input type="checkbox" class="form-check-input chk" onclick="listCheckboxControl();" th:value="${buy.buyCode}"></td>
									<td><a th:href="@{/admin/reservDetail(buyCode=${buy.buyCode})}">[[${buy.buyCode}]]</a></td>
									<td>[[${buy.buyDate}]]</td>
									<td>
										[[${buy.buyDetailVO.itemVO.itemTitle}]]
									</td>
									<td>
										<div>[[${buy.memberVO.memName}]]</div>
										<div>[[${buy.memberVO.memberDetailVO.memDTell}]]</div>
									</td>
									<td>
										<span style="font-weight: bold;">[[${buy.buyStateVO.buyStatusName}]]</span>
									</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
			<!-- 페이징 처리 -->
 			<div class="row justify-content-center">
				<div class="col-3">
					<nav aria-label="Page navigation example">
					  <ul class="pagination">
					    <li class="page-item" th:classappend="${buyListSearchVO.prev ? '' : 'disabled'}">
					      <a class="page-link" href="javascript:void(0);" th:onclick="getBuyListPaging([[${buyListSearchVO.beginPage - 1}]]);" aria-label="Previous">
					        <span aria-hidden="true">&laquo;</span>
					      </a>
					    </li>
					    
					    <li class="page-item"   
					    	th:each="pageNum : ${#numbers.sequence(buyListSearchVO.beginPage, buyListSearchVO.endPage)}">
					    	<a class="page-link"  th:classappend="${buyListSearchVO.nowPage == pageNum ? 'active' : ''}" 
					    		href="javascript:void(0);" th:onclick="getBuyListPaging([[${pageNum}]]);">[[${pageNum}]]</a>
					    </li>
					    
					    <li class="page-item" th:classappend="${buyListSearchVO.next ? '' : 'disabled'}">
					      <a class="page-link" href="javascript:void(0);" th:onclick="getBuyListPaging([[${buyListSearchVO.endPage + 1}]]);" aria-label="Next">
					        <span aria-hidden="true">&raquo;</span>
					      </a>
					    </li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script type="text/javascript" src="/js/content/admin/reservation_inquiry.js"></script> <!-- 외부 js 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


</html>