<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragment/admin_layout}">

<!-- 연결해야 할 외부 css 파일 -->
<th:block layout:fragment="content_css">
	<!-- <link rel="stylesheet" href="/css/content/admin/.css" --> <!-- 외부 css 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


<th:block layout:fragment="adminContent">
	<div class="row">
		<div class="pageInfo">관리자 메뉴&nbsp; > &nbsp;매출 관리&nbsp; > &nbsp;기간별 매출 현황</div>
		<div class="col">
			<h3 class="menuTitle">기간별 매출 현황</h3>
		</div>
		<div class="row">
			<div class="col">
				<select class="form-select" id="yearSelect" onchange="getChart();">
										 
					<th:block th:each="num : ${#numbers.sequence(thisYear - 2, thisYear)}">
						<option th:selected="${year == num}" th:value="${num}">[[${num}]]년</option>
					</th:block>
				</select>
			</div>
		</div>
		<div class="row mt-5 text-end">
			<div class="col">
				<h6 style="color: grey;"><span style="font-weight: bold;"></span> 총매출액 &nbsp;<span style="font-weight: bold; font-size: 25px; border-bottom:2px; border-bottom-color: #ffd000; border-bottom-style:solid;">[[${#numbers.formatCurrency(totalSales)}]]원</span></h6>
			</div>    
		</div>
		<div class="row mt-5">      
			<div class="col">
				<canvas id="myChart"></canvas>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-6 align-self-center">
				<canvas id="myChart1"></canvas>
			</div>  
			<div class="col-6">
				<canvas id="myChart2"></canvas>
			</div>  
		</div>
		<div class="row mt-5">
			<div class="col">
				<table class="table text-center">
					<colgroup>
						<col width="">
					</colgroup>
					<thead>
						<tr style="background-color: #eeeeee;">
							<td colspan="13">매출표</td>
						</tr>
						<tr>
							<td></td>
			               <th:block th:each="month : ${#numbers.sequence(1,12)}">
			                	<!-- 자릿수 맞춰주기 -->
			               <td>[[${#numbers.formatInteger(month, 2)}]]월</td>
	               			</th:block>
	            		</tr>
					</thead>
					<tbody>
						<tr th:each = "mapData, state :${dataList}" >
							<td th:if="${state.index == 0}">올해 판매량</td>
							<td th:if="${state.index == 1}">올해 매출액</td>
							<td th:if="${state.index == 2}">작년 매출액</td>
							<!-- <td>[[${state.index == 0 ? '판매 건수' : '판매 금액'}]]</td> -->
			               <!-- 여러개의 mapData를 또 반복 돌리면서 해당 각각의 mapData의 value 값을 뽑음 -->
			               <th:block th:each="data : ${mapData}">
			                  <td>[[${data.value}]]</td>
			               </th:block>
			            </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</th:block>

<!-- 연결해야 할 외부 js 파일-->
<th:block layout:fragment="content_js">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script type="text/javascript" src="/js/content/admin/sales_statistics_by_period.js"></script> <!-- 외부 js 연결하는 코드를 block 안에 작성 layout에서 같이 열어줌 -->
</th:block>


</html>